0HqvYGZUEJymDX9d.json
{"updatedAt":"2025-11-13T18:02:53.789Z","createdAt":"2025-11-13T17:24:50.979Z","id":"0HqvYGZUEJymDX9d","name":"get-cognos-token","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"688264c4-70e2-488d-9154-7e6c30862c0e","name":"Start","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-288,-192]},{"parameters":{"url":"https://gaaaflebo.ecwcloud.com/bi/v1/disp/rds/auth/logon","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","options":{"response":{"response":{"fullResponse":true}}}},"id":"5c753042-55d4-472e-b0d3-72a9caaaddb8","name":"Logon to Cognos1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[0,-368],"credentials":{"httpQueryAuth":{"id":"4Rs9n2fu0AFZ4WWF","name":"Cognos xmlData"}}},{"parameters":{"assignments":{"assignments":[{"id":"1","name":"parsedCookies","value":"={{ (() => { const cookies = $('Logon to Cognos1').first().json.headers['set-cookie']; if (!cookies) return {}; const cookieMap = {}; cookies.forEach(c => { const [pair] = c.split(';'); const [key, val] = pair.split('='); cookieMap[key.trim()] = val; }); return cookieMap; })() }}","type":"object"},{"id":"2","name":"cookieHeader","value":"={{ (() => { const cookies = $('Logon to Cognos1').first().json.headers['set-cookie']; if (!cookies) return ''; return cookies.map(c => c.split(';')[0]).join('; '); })() }}","type":"string"}]},"options":{}},"name":"Parse Cookie Header Value2","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[240,-368],"id":"e9c75dd0-0b9c-4fad-9577-9e33bebe47e2"},{"parameters":{"jsCode":"let staticData = $getWorkflowStaticData('global');\n// $input.first().json.\nstaticData = $input.first().json\n// 1. Get the time of the previous execution or init if empty\nconst lastExecutionTime = staticData.lastExecution || new Date(0).getTime();\n\n// 2. Set the time of the current execution (to be used next time)\nstaticData.lastExecution = new Date().getTime();\n\n\n// console.log(staticData)\n\nreturn $input.all()"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[512,-368],"id":"c54c4f98-802a-407d-ae77-a9c72c185f44","name":"Code in JavaScript"},{"parameters":{"jsCode":"let staticData = $getWorkflowStaticData('global');\n// // $input.first().json.\n// staticData = $input.first().json\n// // 1. Get the time of the previous execution or init if empty\n// const lastExecutionTime = staticData.lastExecution || new Date(0).getTime();\n\n// // 2. Set the time of the current execution (to be used next time)\n// staticData.lastExecution = new Date().getTime();\n\n\n// console.log(staticData)\n\nreturn $getWorkflowStaticData('global');"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-16,-192],"id":"51e0d977-d6e2-49f5-aff7-d18255f8b825","name":"return static data"},{"parameters":{"url":"https://gaaaflebo.ecwcloud.com/bi/v1/disp/rds/wsil/path/Team Content/Cognos Reporting","sendQuery":true,"queryParameters":{"parameters":[{}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-XSRF-TOKEN","value":"={{ $json.parsedCookies['XSRF-TOKEN'] }}"},{"name":"Cookie","value":"={{ $json.cookieHeader }}"}]},"options":{"response":{"response":{"responseFormat":"text"}}}},"name":"Authenticated Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[272,-192],"id":"cebf232a-1d48-4b33-bf43-92c688a93d14"}],"connections":{"Logon to Cognos1":{"main":[[{"node":"Parse Cookie Header Value2","type":"main","index":0}]]},"Start":{"main":[[{"node":"return static data","type":"main","index":0}]]},"Parse Cookie Header Value2":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"return static data":{"main":[[{"node":"Authenticated Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d542bfa8-183e-4718-a069-351a18c220f3","triggerCount":0,"shared":[{"updatedAt":"2025-11-13T17:24:50.979Z","createdAt":"2025-11-13T17:24:50.979Z","role":"workflow:owner","workflowId":"0HqvYGZUEJymDX9d","projectId":"Vpl3Dzdj01oU52k6"}],"tags":[]}