0HqvYGZUEJymDX9d.json
{"updatedAt":"2025-11-13T19:12:29.230Z","createdAt":"2025-11-13T17:24:50.979Z","id":"0HqvYGZUEJymDX9d","name":"get-cognos-token","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"true"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-752,-192],"id":"4f1853d7-4230-41b7-8d15-b1a2e0477007","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"1","name":"parsedCookies","value":"={{ (() => { const cookies = $('Logon to Cognos1').first().json.headers['set-cookie']; if (!cookies) return {}; const cookieMap = {}; cookies.forEach(c => { const [pair] = c.split(';'); const [key, val] = pair.split('='); cookieMap[key.trim()] = val; }); return cookieMap; })() }}","type":"object"},{"id":"2","name":"cookieHeader","value":"={{ (() => { const cookies = $('Logon to Cognos1').first().json.headers['set-cookie']; if (!cookies) return ''; return cookies.map(c => c.split(';')[0]).join('; '); })() }}","type":"string"}]},"options":{}},"name":"Parse Cookie Header Value2","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-224,-192],"id":"e9c75dd0-0b9c-4fad-9577-9e33bebe47e2"},{"parameters":{"url":"https://gaaaflebo.ecwcloud.com/bi/v1/disp/rds/auth/logon","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","options":{"response":{"response":{"fullResponse":true}}}},"id":"5c753042-55d4-472e-b0d3-72a9caaaddb8","name":"Logon to Cognos1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-480,-192],"credentials":{"httpQueryAuth":{"id":"4Rs9n2fu0AFZ4WWF","name":"Cognos xmlData"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Logon to Cognos1","type":"main","index":0}]]},"Parse Cookie Header Value2":{"main":[[]]},"Logon to Cognos1":{"main":[[{"node":"Parse Cookie Header Value2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"global":{"parsedCookies":{"ApplicationGatewayAffinityCORS":"753ba7bc2a6a7df3e48c55faefd8136b","ApplicationGatewayAffinity":"753ba7bc2a6a7df3e48c55faefd8136b","XSRF-TOKEN":"MOTwXia4a2qw1xLeqIiRQATH-PnOvkOH","CRN":"listViewSeparator%3Dnone%26displayMode%3Ddetail%26showHints%3DshowAll%26http%3A%2F%2Fdeveloper.cognos.com%2Fceba%2Fconstants%2FbiDirectionalOptionEnum%23biDirectionalFeaturesEnabled%3Dfalse%26columnsPerPage%3D3%26productLocale%3Den%26backgroundSessionLogging%3D1970-01-01%2B00%253A00%253A00%26showWelcomePage%3Dtrue%26showOptionSummary%3Dtrue%26showHiddenObjects%3Dtrue%26contentLocale%3Den%26skin%3Dcorporate%26http%3A%2F%2Fdeveloper.cognos.com%2Fceba%2Fconstants%2FsystemOptionEnum%23accessibilityFeatures%3Dfalse%26format%3DHTML%26linesPerPage%3D15%26isToolbarDocked%3Dtrue%26timeZoneID%3DAmerica%252FNew_York%26automaticPageRefresh%3D30%26","cea-ssa":"false","usersessionid":"AggAAAAwWx9pAAAAAAoAAADZciEFiyJcju5BFAAAAKv1J/60A53qEnac7e0M/eJrplqCBwAAAFNIQS0yNTYgAAAAZmBM6gPHNX7jkJzWOLZb7UfjJ2/fYeIDm2+HUpCTaxY","cam_passport":"MTsxMDE6MzI2ZGMzZTgtNDc4ZS01MzAwLTk2ZDItOTJjMzgzNDI1OGViOjIyMjE1MDU3MjE7MDszOzA7","userCapabilities":"f%3Bfdbffc6d%3Bf07c1faf%3Bff27fefa%26AwcAAABTSEEtMjU2FAAAAKv1J%2F60A53qEnac7e0M%2FeJrplqCFzOKXK5hVejJtsKZn9BMOaXTdjrfYLtZ3gXP0gRiEWs%3D","userCapabilitiesEx":"ffef9fff%3Bf%3Bfdbffc6d%3Bf07c1faf%3Bff27fefa%26AhQAAACr9Sf%2BtAOd6hJ2nO3tDP3ia6ZaggcAAABTSEEtMjU2IAAAAN9m9QEqbOHJSBZ5U9nV2mjQCBn9riJvOMrOYkSgGPQL","ESERVERID":"app01"},"cookieHeader":"ApplicationGatewayAffinityCORS=753ba7bc2a6a7df3e48c55faefd8136b; ApplicationGatewayAffinity=753ba7bc2a6a7df3e48c55faefd8136b; XSRF-TOKEN=MOTwXia4a2qw1xLeqIiRQATH-PnOvkOH; CRN=listViewSeparator%3Dnone%26displayMode%3Ddetail%26showHints%3DshowAll%26http%3A%2F%2Fdeveloper.cognos.com%2Fceba%2Fconstants%2FbiDirectionalOptionEnum%23biDirectionalFeaturesEnabled%3Dfalse%26columnsPerPage%3D3%26productLocale%3Den%26backgroundSessionLogging%3D1970-01-01%2B00%253A00%253A00%26showWelcomePage%3Dtrue%26showOptionSummary%3Dtrue%26showHiddenObjects%3Dtrue%26contentLocale%3Den%26skin%3Dcorporate%26http%3A%2F%2Fdeveloper.cognos.com%2Fceba%2Fconstants%2FsystemOptionEnum%23accessibilityFeatures%3Dfalse%26format%3DHTML%26linesPerPage%3D15%26isToolbarDocked%3Dtrue%26timeZoneID%3DAmerica%252FNew_York%26automaticPageRefresh%3D30%26; cea-ssa=false; usersessionid=AggAAAAwWx9pAAAAAAoAAADZciEFiyJcju5BFAAAAKv1J/60A53qEnac7e0M/eJrplqCBwAAAFNIQS0yNTYgAAAAZmBM6gPHNX7jkJzWOLZb7UfjJ2/fYeIDm2+HUpCTaxY=; cam_passport=MTsxMDE6MzI2ZGMzZTgtNDc4ZS01MzAwLTk2ZDItOTJjMzgzNDI1OGViOjIyMjE1MDU3MjE7MDszOzA7; userCapabilities=f%3Bfdbffc6d%3Bf07c1faf%3Bff27fefa%26AwcAAABTSEEtMjU2FAAAAKv1J%2F60A53qEnac7e0M%2FeJrplqCFzOKXK5hVejJtsKZn9BMOaXTdjrfYLtZ3gXP0gRiEWs%3D; userCapabilitiesEx=ffef9fff%3Bf%3Bfdbffc6d%3Bf07c1faf%3Bff27fefa%26AhQAAACr9Sf%2BtAOd6hJ2nO3tDP3ia6ZaggcAAABTSEEtMjU2IAAAAN9m9QEqbOHJSBZ5U9nV2mjQCBn9riJvOMrOYkSgGPQL; ESERVERID=app01","lastExecution":1763057840757}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a3304a20-2601-47be-862c-995d6e719d78","triggerCount":1,"shared":[{"updatedAt":"2025-11-13T17:24:50.979Z","createdAt":"2025-11-13T17:24:50.979Z","role":"workflow:owner","workflowId":"0HqvYGZUEJymDX9d","projectId":"Vpl3Dzdj01oU52k6"}],"tags":[]}