2B6T45HecjLK3h7f.json
{"updatedAt":"2025-11-17T05:17:20.149Z","createdAt":"2025-11-17T05:15:55.034Z","id":"2B6T45HecjLK3h7f","name":"cognos-runner-pinger-paged","active":false,"isArchived":true,"nodes":[{"parameters":{"content":"## VALIDATE INPUTS\n\n","height":272,"width":480,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[160,240],"id":"c7f680a9-c02b-42db-9e31-1cb181863c8a","name":"Sticky Note","disabled":true},{"parameters":{"workflowId":{"__rl":true,"value":"0HqvYGZUEJymDX9d","mode":"list","cachedResultUrl":"/workflow/0HqvYGZUEJymDX9d","cachedResultName":"get-cognos-token"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[{"id":"true","displayName":"true","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[512,-560],"id":"a8ce1266-e51c-4175-a754-923034f276ef","name":"Call 'get-cognos-token'","disabled":true},{"parameters":{"url":"https://gaaaflebo.ecwcloud.com/bi/v1/disp/rds/wsil/path/Team Content/Cognos Reporting","sendQuery":true,"queryParameters":{"parameters":[{}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-XSRF-TOKEN","value":"={{ $json.parsedCookies['XSRF-TOKEN'] }}"},{"name":"Cookie","value":"={{ $json.cookieHeader }}"}]},"options":{"response":{"response":{"responseFormat":"text"}}}},"name":"Authenticated Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1232,-1280],"id":"0480f81f-a172-4f8e-a594-30ef7a2b8d9a","disabled":true},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-240,-1296],"id":"eba3d8c8-382a-4ba0-95eb-1fe85588b1e5","name":"Schedule Trigger","disabled":true},{"parameters":{"jsCode":"let staticData = $getWorkflowStaticData('global');\nconst j = $input.first().json\nstaticData.parsedCookies = j.parsedCookies\nstaticData.cookieHeader = j.cookieHeader\n// 1. Get the time of the previous execution or init if empty\n// const lastExecutionTime = staticData.lastLogin || new Date(0).getTime();\n\n// 2. Set the time of the current execution (to be used next time)\nstaticData.lastLogin = new Date().getTime();\n\n\n// console.log(staticData)\n\nreturn $input.all()"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[928,-1632],"id":"d0ce4dee-eb09-4df0-a112-66e8df562a40","name":"Code in JavaScript","disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.parsedCookies.isEmpty() }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"13fb89c4-1436-4d9a-a540-038617de224c"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"26fb573a-789c-47c3-ab31-d0ac54b306fe","leftValue":"={{ $json.parsedCookies.isNotEmpty() }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[176,-1296],"id":"0ecb1903-1fd3-40bd-9814-e0fa5db77546","name":"Switch","disabled":true},{"parameters":{"url":"https://gaaaflebo.ecwcloud.com/bi/v1/disp/rds/auth/logon","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","options":{"response":{"response":{"fullResponse":true}}}},"id":"26b963b3-5c73-451c-be91-4b7df26d9ad4","name":"Logon to Cognos","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[464,-1632],"credentials":{"httpQueryAuth":{"id":"4Rs9n2fu0AFZ4WWF","name":"Cognos xmlData"}},"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"1","name":"parsedCookies","value":"={{ (() => { const cookies = $('Logon to Cognos').first().json.headers['set-cookie']; if (!cookies) return {}; const cookieMap = {}; cookies.forEach(c => { const [pair] = c.split(';'); const [key, val] = pair.split('='); cookieMap[key.trim()] = val; }); return cookieMap; })() }}","type":"object"},{"id":"2","name":"cookieHeader","value":"={{ (() => { const cookies = $('Logon to Cognos').first().json.headers['set-cookie']; if (!cookies) return ''; return cookies.map(c => c.split(';')[0]).join('; '); })() }}","type":"string"}]},"options":{}},"name":"Parse Cookie Header Value","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[688,-1632],"id":"87d752b3-0fcb-47bd-8f35-ca71b2ebda09","disabled":true},{"parameters":{"jsCode":"let staticData = $getWorkflowStaticData('global');\nif(!staticData.parsedCookies || Object.keys(staticData.parsedCookies).length === 0) {\n  staticData.useCachedToken = false\n}\nreturn staticData"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[640,-48],"id":"5fdbbcce-9088-493d-828b-3f8dc4b9fa57","name":"return static data"},{"parameters":{"url":"https://gaaaflebo.ecwcloud.com/bi/v1/disp/rds/auth/logon","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","options":{"response":{"response":{"fullResponse":true}}}},"id":"a61f2f2e-d694-4d97-9039-d8269baca226","name":"Logon to Cognos1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1136,144],"credentials":{"httpQueryAuth":{"id":"4Rs9n2fu0AFZ4WWF","name":"Cognos xmlData"}}},{"parameters":{"assignments":{"assignments":[{"id":"1","name":"parsedCookies","value":"={{ (() => { const cookies = $('Logon to Cognos1').first().json.headers['set-cookie']; if (!cookies) return {}; const cookieMap = {}; cookies.forEach(c => { const [pair] = c.split(';'); const [key, val] = pair.split('='); cookieMap[key.trim()] = val; }); return cookieMap; })() }}","type":"object"},{"id":"2","name":"cookieHeader","value":"={{ (() => { const cookies = $('Logon to Cognos1').first().json.headers['set-cookie']; if (!cookies) return ''; return cookies.map(c => c.split(';')[0]).join('; '); })() }}","type":"string"}]},"options":{}},"name":"Parse Cookie Header Value1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1360,144],"id":"6888e636-7bfc-424b-9fd2-ffea8fd94fb9"},{"parameters":{"assignments":{"assignments":[{"id":"1","name":"parsedCookies","value":"={{ (() => { const cookies = $('Logon to Cognos2').first().json.headers['set-cookie']; if (!cookies) return {}; const cookieMap = {}; cookies.forEach(c => { const [pair] = c.split(';'); const [key, val] = pair.split('='); cookieMap[key.trim()] = val; }); return cookieMap; })() }}","type":"object"},{"id":"2","name":"cookieHeader","value":"={{ (() => { const cookies = $('Logon to Cognos2').first().json.headers['set-cookie']; if (!cookies) return ''; return cookies.map(c => c.split(';')[0]).join('; '); })() }}","type":"string"}]},"options":{}},"name":"Parse Cookie Header Value2","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[608,-1184],"id":"73cce569-80df-406e-a948-40e514a5a7af","disabled":true},{"parameters":{"url":"https://gaaaflebo.ecwcloud.com/bi/v1/disp/rds/wsil/path/Team Content/Cognos Reporting","sendQuery":true,"queryParameters":{"parameters":[{}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-XSRF-TOKEN","value":"={{ $json.parsedCookies['XSRF-TOKEN'] }}"},{"name":"Cookie","value":"={{ $json.cookieHeader }}"}]},"options":{"response":{"response":{"responseFormat":"text"}}}},"name":"Authenticated Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1152,-832],"id":"4f1ced8e-c374-46a4-b255-e8d16001f7b3","disabled":true},{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-320,-848],"id":"5d20afc0-3a3c-4762-a764-9c9463f68d89","name":"Schedule Trigger1","disabled":true},{"parameters":{"jsCode":"// let staticData = $getWorkflowStaticData('global');\n// // $input.first().json.\n// staticData = $input.first().json\n// // 1. Get the time of the previous execution or init if empty\n// const lastExecutionTime = staticData.lastExecution || new Date(0).getTime();\n\n// // 2. Set the time of the current execution (to be used next time)\n// staticData.lastExecution = new Date().getTime();\n\n\nconsole.log($getWorkflowStaticData('global'))\n\nreturn $getWorkflowStaticData('global');"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-112,-848],"id":"092cd455-6925-46ab-9932-04d87ad6c335","name":"return static data1","disabled":true},{"parameters":{"url":"https://gaaaflebo.ecwcloud.com/bi/v1/disp/rds/auth/logon","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","options":{"response":{"response":{"fullResponse":true}}}},"id":"d93e0fb0-55f2-4fcb-a669-291c7ecd41c2","name":"Logon to Cognos2","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[416,-1184],"credentials":{"httpQueryAuth":{"id":"4Rs9n2fu0AFZ4WWF","name":"Cognos xmlData"}},"disabled":true},{"parameters":{"jsCode":"let staticData = $getWorkflowStaticData('global');\nconst j = $input.first().json\nstaticData.parsedCookies = j.parsedCookies\nstaticData.cookieHeader = j.cookieHeader\n// 1. Get the time of the previous execution or init if empty\n// const lastExecutionTime = staticData.lastLogin || new Date(0).getTime();\n\n// 2. Set the time of the current execution (to be used next time)\nstaticData.lastLogin = new Date().getTime();\n\n\n// console.log(staticData)\n\nreturn $input.all()"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[816,-1184],"id":"836c4558-582d-40c3-a88a-c524769a46c5","name":"Code in JavaScript2","disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.parsedCookies.isEmpty() }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"13fb89c4-1436-4d9a-a540-038617de224c"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"26fb573a-789c-47c3-ab31-d0ac54b306fe","leftValue":"={{ $json.parsedCookies.isNotEmpty() }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[96,-848],"id":"dca6f06c-acc4-45f0-bf3c-1f9360d5cfdf","name":"Switch2","disabled":true},{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-16,-208],"id":"642f0053-1824-4cf3-8ce4-45b2c84f9cb0","name":"Schedule Trigger2"},{"parameters":{"url":"https://gaaaflebo.ecwcloud.com/bi/v1/disp/rds/wsil/path/Team Content/Cognos Reporting","sendQuery":true,"queryParameters":{"parameters":[{}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-XSRF-TOKEN","value":"={{ $json.parsedCookies['XSRF-TOKEN'] }}"},{"name":"Cookie","value":"={{ $json.cookieHeader }}"}]},"options":{"response":{"response":{"fullResponse":true,"neverError":true,"responseFormat":"text"}}}},"name":"Authenticated Request2","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2736,-720],"id":"47021e17-376d-4dae-bf92-4592c25ef950","alwaysOutputData":false},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"622ecd3d-4a95-4160-83ed-f12ff5eae3e2","leftValue":"={{ $json.rid }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[240,352],"id":"ed50c3b5-3515-42df-a36f-f7788c23a55b","name":"is RID valid"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"b0df489f-32ae-4a87-ae67-5cc9f31f82cb","leftValue":"={{ $json.statusCode }}","rightValue":200,"operator":{"type":"number","operation":"gte"}},{"id":"29ff9337-d1f7-47aa-ab0e-8cf2dc2e6fef","leftValue":"={{ $json.statusCode }}","rightValue":299,"operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3264,-720],"id":"5f29c5a9-2901-4d12-9457-b5056e25b37c","name":"if 2xx code"},{"parameters":{"errorMessage":"test"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[4160,-704],"id":"7dcda911-5173-4de3-9b9e-5bbd7bcaacf2","name":"Stop and Error"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Schedule Trigger2').isExecuted }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"553ebc4b-5948-4654-aefc-329a31035871"}],"combinator":"and"},"renameOutput":true,"outputKey":"Schedule Trigger"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0f6cd5dc-c684-4d1a-96a3-3131c970d32b","leftValue":"={{ $('Execute').isExecuted }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"getUsers Trigger"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[1792,-64],"id":"489eebda-0565-4e29-bce7-d891fcdfafa3","name":"Switch3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"b0df489f-32ae-4a87-ae67-5cc9f31f82cb","leftValue":"={{ $json.statusCode }}","rightValue":200,"operator":{"type":"number","operation":"gte"}},{"id":"29ff9337-d1f7-47aa-ab0e-8cf2dc2e6fef","leftValue":"={{ $json.statusCode }}","rightValue":299,"operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3264,-48],"id":"709936e3-b7e6-41df-9ec9-2a82cfcf7646","name":"if 2xx code1"},{"parameters":{"jsCode":"let staticData = $getWorkflowStaticData('global');\nstaticData.parsedCookies = {}\nstaticData.cookieHeader = {}\nstaticData.useCachedToken = false\n\nreturn staticData"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3936,-704],"id":"2ea35429-68c3-4fd3-8331-1c040c9e2fc6","name":"return static data3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cc130b16-9875-4426-877e-4d2bdd2a08dd","leftValue":"={{ $json.useCachedToken }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[880,-48],"id":"acec0b6b-7400-4274-af44-cdd640bccf31","name":"useCachedToken?"},{"parameters":{"jsCode":"let staticData = $getWorkflowStaticData('global');\nconsole.log($('Parse Cookie Header Value1').context)\nif (staticData.useCachedToken) {\n  return staticData\n}\nif ($('Parse Cookie Header Value1').context) {\n  staticData.useCachedToken = true\n  staticData.parsedCookies = $input.first().json.parsedCookies\n  staticData.cookieHeader = $input.first().json.cookieHeader\n  staticData.lastLogin = $now\n  return staticData\n}\n// $input.first().json.parsedCookies\n// staticData.lastSessionRequest = $now\n// console.log(staticData)\n// 1. Get the time of the previous execution or init if empty\n// const lastExecutionTime = staticData.lastLogin || new Date(0).getTime();\n// 2. Set the time of the current execution (to be used next time)\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1584,-64],"id":"387c315a-adf4-4461-98cc-fbeb1954c2c7","name":"Clean StaticData"},{"parameters":{"workflowInputs":{"values":[{"name":"param","type":"object"},{"name":"rid"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-16,-48],"id":"199d237c-ca47-4420-90bc-4e4a7d1248fa","name":"Execute"},{"parameters":{"errorMessage":"rid cannot be empty string"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[464,368],"id":"d75171d1-abb8-41be-beea-f5634ed4882a","name":"Stop and Error1"},{"parameters":{"url":"=https://gaaaflebo.ecwcloud.com/bi/v1/disp/rds/reportData/report/{{ $('Execute').item.json.rid }}","sendQuery":true,"specifyQuery":"json","jsonQuery":"={{ $('Execute').first().json.param.toJsonString() }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-XSRF-TOKEN","value":"={{ $('Clean StaticData').item.json.parsedCookies['XSRF-TOKEN'] }}"},{"name":"Cookie","value":"={{ $('Clean StaticData').item.json.cookieHeader }}"}]},"options":{"response":{"response":{"fullResponse":true,"neverError":true,"responseFormat":"text"}}}},"name":"make request","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2736,-48],"id":"77fc9f42-79b6-40fb-b65e-c0a64eb006a1"},{"parameters":{"assignments":{"assignments":[{"id":"758975e3-a323-482c-97ce-47f461548fb9","name":"data","value":"={{ $('make request').item.json.data }}","type":"string"},{"id":"02630b13-2a82-4623-af81-4b49ddfcd5c8","name":"statusCode","value":"={{ $('make request').item.json.statusCode }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3824,-48],"id":"3e649f69-aa7e-4718-9d70-6e6662ccb8af","name":"return error value without erroring"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ff0e1974-0f92-4e2a-b1a0-2d230e453aaf","leftValue":"={{ $('make request').item.json.data }}","rightValue":"rds:error","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3536,-32],"id":"d82286ed-af7a-464f-bbae-ba91948c9730","name":"if cognos error"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Authenticated Request","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Logon to Cognos","type":"main","index":0}],[{"node":"Authenticated Request","type":"main","index":0}]]},"Logon to Cognos":{"main":[[{"node":"Parse Cookie Header Value","type":"main","index":0}]]},"Parse Cookie Header Value":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Logon to Cognos1":{"main":[[{"node":"Parse Cookie Header Value1","type":"main","index":0}]]},"Parse Cookie Header Value1":{"main":[[{"node":"Clean StaticData","type":"main","index":0}]]},"return static data":{"main":[[{"node":"useCachedToken?","type":"main","index":0}]]},"Parse Cookie Header Value2":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"return static data1","type":"main","index":0}]]},"return static data1":{"main":[[{"node":"Switch2","type":"main","index":0}]]},"Logon to Cognos2":{"main":[[{"node":"Parse Cookie Header Value2","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"Authenticated Request1","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"Logon to Cognos2","type":"main","index":0}],[{"node":"Authenticated Request1","type":"main","index":0}]]},"Schedule Trigger2":{"main":[[{"node":"return static data","type":"main","index":0}]]},"Authenticated Request2":{"main":[[{"node":"if 2xx code","type":"main","index":0}]]},"is RID valid":{"main":[[{"node":"return static data","type":"main","index":0}],[{"node":"Stop and Error1","type":"main","index":0}]]},"if 2xx code":{"main":[[],[{"node":"return static data3","type":"main","index":0}]]},"Switch3":{"main":[[{"node":"Authenticated Request2","type":"main","index":0}],[{"node":"make request","type":"main","index":0}]]},"if 2xx code1":{"main":[[],[{"node":"if cognos error","type":"main","index":0}]]},"return static data3":{"main":[[{"node":"Stop and Error","type":"main","index":0}]]},"useCachedToken?":{"main":[[{"node":"Clean StaticData","type":"main","index":0}],[{"node":"Logon to Cognos1","type":"main","index":0}]]},"Clean StaticData":{"main":[[{"node":"Switch3","type":"main","index":0}]]},"Execute":{"main":[[{"node":"is RID valid","type":"main","index":0}]]},"make request":{"main":[[{"node":"if 2xx code1","type":"main","index":0}]]},"if cognos error":{"main":[[{"node":"return error value without erroring","type":"main","index":0}],[{"node":"return static data3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Schedule Trigger1":{"recurrenceRules":[]},"node:Schedule Trigger2":{"recurrenceRules":[]},"global":{"lastLogin":"2025-11-16T23:52:31.346-05:00","lastSessionRequest":"2025-11-13T23:22:49.338-05:00","parsedCookies":{"ApplicationGatewayAffinityCORS":"4237096e5051869ae1792334e5c37ed2","ApplicationGatewayAffinity":"4237096e5051869ae1792334e5c37ed2","XSRF-TOKEN":"sj8CQNpGrj700Q1zPXsdL6l-RWmlBq7L","CRN":"listViewSeparator%3Dnone%26displayMode%3Ddetail%26showHints%3DshowAll%26http%3A%2F%2Fdeveloper.cognos.com%2Fceba%2Fconstants%2FbiDirectionalOptionEnum%23biDirectionalFeaturesEnabled%3Dfalse%26columnsPerPage%3D3%26productLocale%3Den%26backgroundSessionLogging%3D1970-01-01%2B00%253A00%253A00%26showWelcomePage%3Dtrue%26showOptionSummary%3Dtrue%26showHiddenObjects%3Dtrue%26contentLocale%3Den%26skin%3Dcorporate%26http%3A%2F%2Fdeveloper.cognos.com%2Fceba%2Fconstants%2FsystemOptionEnum%23accessibilityFeatures%3Dfalse%26format%3DHTML%26linesPerPage%3D15%26isToolbarDocked%3Dtrue%26timeZoneID%3DAmerica%252FNew_York%26automaticPageRefresh%3D30%26","cea-ssa":"false","usersessionid":"AggAAACP5CNpAAAAAAoAAAA4DUY2OE3a/8N4FAAAAKv1J/60A53qEnac7e0M/eJrplqCBwAAAFNIQS0yNTYgAAAAQzEMLl7sP39msgRs9MKCLUJBduXwvEahxzMBzkL9ZzE","cam_passport":"MTsxMDE6ZTZmNmRiNDQtNjUzMi1lOGZkLTI3MmQtOGMzMTBmNGY3NzY4OjI3MjI4ODAwNjA7MDszOzA7","userCapabilities":"f%3Bfdbffc6d%3Bf07c1faf%3Bff27fefa%26AwcAAABTSEEtMjU2FAAAAKv1J%2F60A53qEnac7e0M%2FeJrplqCY1Q7FKqCKJ0FVKtf567ZSlYX2WXi9ToFRE7hN6Ps6i0%3D","userCapabilitiesEx":"ffef9fff%3Bf%3Bfdbffc6d%3Bf07c1faf%3Bff27fefa%26AhQAAACr9Sf%2BtAOd6hJ2nO3tDP3ia6ZaggcAAABTSEEtMjU2IAAAAAYLb6vIpA7TFhqCnZCqlynDlv1arbASv%2FfnEjTELfLM","ESERVERID":"app01"},"cookieHeader":"ApplicationGatewayAffinityCORS=4237096e5051869ae1792334e5c37ed2; ApplicationGatewayAffinity=4237096e5051869ae1792334e5c37ed2; XSRF-TOKEN=sj8CQNpGrj700Q1zPXsdL6l-RWmlBq7L; CRN=listViewSeparator%3Dnone%26displayMode%3Ddetail%26showHints%3DshowAll%26http%3A%2F%2Fdeveloper.cognos.com%2Fceba%2Fconstants%2FbiDirectionalOptionEnum%23biDirectionalFeaturesEnabled%3Dfalse%26columnsPerPage%3D3%26productLocale%3Den%26backgroundSessionLogging%3D1970-01-01%2B00%253A00%253A00%26showWelcomePage%3Dtrue%26showOptionSummary%3Dtrue%26showHiddenObjects%3Dtrue%26contentLocale%3Den%26skin%3Dcorporate%26http%3A%2F%2Fdeveloper.cognos.com%2Fceba%2Fconstants%2FsystemOptionEnum%23accessibilityFeatures%3Dfalse%26format%3DHTML%26linesPerPage%3D15%26isToolbarDocked%3Dtrue%26timeZoneID%3DAmerica%252FNew_York%26automaticPageRefresh%3D30%26; cea-ssa=false; usersessionid=AggAAACP5CNpAAAAAAoAAAA4DUY2OE3a/8N4FAAAAKv1J/60A53qEnac7e0M/eJrplqCBwAAAFNIQS0yNTYgAAAAQzEMLl7sP39msgRs9MKCLUJBduXwvEahxzMBzkL9ZzE=; cam_passport=MTsxMDE6ZTZmNmRiNDQtNjUzMi1lOGZkLTI3MmQtOGMzMTBmNGY3NzY4OjI3MjI4ODAwNjA7MDszOzA7; userCapabilities=f%3Bfdbffc6d%3Bf07c1faf%3Bff27fefa%26AwcAAABTSEEtMjU2FAAAAKv1J%2F60A53qEnac7e0M%2FeJrplqCY1Q7FKqCKJ0FVKtf567ZSlYX2WXi9ToFRE7hN6Ps6i0%3D; userCapabilitiesEx=ffef9fff%3Bf%3Bfdbffc6d%3Bf07c1faf%3Bff27fefa%26AhQAAACr9Sf%2BtAOd6hJ2nO3tDP3ia6ZaggcAAABTSEEtMjU2IAAAAAYLb6vIpA7TFhqCnZCqlynDlv1arbASv%2FfnEjTELfLM; ESERVERID=app01","useCachedToken":true}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Execute":[{"json":{"param":{"fmt":"datasetJSON"},"rid":"i70FBCF76B2F44DEA960593AA63D4F019"}}]},"versionId":"18815e73-6868-41aa-b51f-b2a748b61bbd","triggerCount":1,"shared":[{"updatedAt":"2025-11-17T05:15:55.034Z","createdAt":"2025-11-17T05:15:55.034Z","role":"workflow:owner","workflowId":"2B6T45HecjLK3h7f","projectId":"Vpl3Dzdj01oU52k6"}],"tags":[]}