3jH0RtDFhWs7P3ng.json
{"updatedAt":"2025-11-09T23:29:42.044Z","createdAt":"2025-11-09T22:24:32.729Z","id":"3jH0RtDFhWs7P3ng","name":"get-luma-offers","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"https://api.lumahealth.io/api/v2/auth/token","authentication":"genericCredentialType","genericAuthType":"httpCustomAuth","options":{"response":{}}},"id":"810ec3da-4469-454e-a96b-597e8cf5b37d","name":"Get Luma Token","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[256,0],"credentials":{"httpCustomAuth":{"id":"eMkdzXUFTdBTtFdI","name":"Custom Auth account"}}},{"parameters":{"jsCode":"// Get the last successful execution time\nconst lastRunTime = $workflow.lastSuccessfulExecutionTime;\n\nlet baseDate; // This will be a Date object\n\nif (lastRunTime) {\n  // It has run before, use that time\n  baseDate = new Date(lastRunTime);\n} else {\n  // This is the first run, fall back to 7 days ago\n  baseDate = new Date(); // Start with \"now\"\n  baseDate.setDate(baseDate.getDate() - 7);\n}\n\n// --- NEW STEP ---\n// Subtract one additional day for safety\nbaseDate.setDate(baseDate.getDate() - 1);\n// --- END NEW STEP ---\n\n// Convert the final date to an ISO string\nconst finalSinceTime = baseDate.toISOString();\n\n// Return a new object.\nreturn {\n  sinceTime: finalSinceTime\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[560,240],"id":"d72280f5-c306-41e8-8ab2-b21cfdb147d4","name":"Get last run time","notesInFlow":true,"notes":"-1 day for safety"},{"parameters":{"assignments":{"assignments":[{"id":"2571d0a4-0982-4685-a71a-8b31f5f65628","name":"tok","value":"={{ $json.access_token }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[480,16],"id":"a2ae5c1d-bb4a-4b8d-a855-b0a06893cd5a","name":"Edit Fields1"},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":3}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"9868ea4b-00b3-4370-8266-e4f51a719548","name":"Schedule Trigger"},{"parameters":{"url":"https://api.lumahealth.io/api/v2/offers","sendQuery":true,"queryParameters":{"parameters":[{"name":"integratorCreationResults","value":"success"},{"name":"status","value":"completed"},{"name":"_select","value":"offer"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Get Luma Token').item.json.access_token }}"}]},"options":{"pagination":{"pagination":{"parameters":{"parameters":[{"name":"page","value":"={{ $pageCount + 1 }}"}]},"paginationCompleteWhen":"other","completeExpression":"={{ $response.body.size === 0 }}"}}}},"id":"778eb573-7b8c-4cea-8f97-e4115b178b01","name":"Get Offers","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[800,240],"disabled":true},{"parameters":{"url":"https://api.lumahealth.io/api/v2/offers","sendQuery":true,"queryParameters":{"parameters":[{"name":"integratorCreationResults.status","value":"success"},{"name":"createdAt","value":"=>{{ $('Get last run time').item.json.sinceTime }}"},{"name":"_select","value":"appointmentType,patientFound,patientForm,provider,facility,source,status"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Get Luma Token').item.json.access_token }}"}]},"options":{"pagination":{"pagination":{"parameters":{"parameters":[{"name":"page","value":"={{ $pageCount + 1 }}"}]},"paginationCompleteWhen":"other","completeExpression":"={{ $response.body.size === 0 }}"}}}},"id":"3a340abb-2871-447c-ac93-d1cf0ea6abba","name":"Get Offers1","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[832,-48]},{"parameters":{"resource":"chatMessage","chatId":{"__rl":true,"value":"19:cbb7c632b83d4255bc3d2da54d9aae22@thread.tacv2","mode":"id"},"contentType":"html","message":"=<div>\n  <div>\n    <h1>Appointment Created for {{ $json.office }}</h1>\n    <p>Appointment Type: {{ $json.appointment_type }}</p>\n    <p>Reason: {{ $json.reason }}</p>\n  </div>\n\n<div>\n    <a href=\"https://next.lumahealth.io/patients/{{ $json.luma_patient_id }}/formAnswers/{{ $json.luma_form_id }}\" \n      target=\"_blank\">\n      Review Patient Form Request\n    </a>\n    <br>\n    \n    <a href=\"https://next.lumahealth.io/patients/{{ $json.luma_patient_id }}/chat\" \n      target=\"_blank\">\n      Message the Patient\n    </a>\n  </div>\n  <p>Request Created at: {{ $json.createdAt }}</p>\n</div>\n","options":{"includeLinkToWorkflow":false}},"type":"n8n-nodes-base.microsoftTeams","typeVersion":2,"position":[560,592],"id":"26fe8690-fc9c-4ebd-b64e-98a6658439c9","name":"Create chat message","webhookId":"9057f9fd-48c5-4c47-983e-da8a4030decb","credentials":{"microsoftTeamsOAuth2Api":{"id":"RloQ5FvCKdFbluQ5","name":"Microsoft Teams account"}}},{"parameters":{"assignments":{"assignments":[{"id":"e792b82e-a9af-4ef2-a61c-9bdb40ac7eeb","name":"message_url","value":"=https://teams.microsoft.com/l/message/{{ $json.chatId }}/{{ $json.id }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[928,592],"id":"67779bd8-fa10-4f69-b601-b7b6a43078f1","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"e792b82e-a9af-4ef2-a61c-9bdb40ac7eeb","name":"reason","value":"={{ $json.reason || \"(No Reason Given)\" }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,592],"id":"ef1ee0f7-e97b-4b41-ba53-a0c412b7c9db","name":"ensure reason is not empty string"},{"parameters":{"workflowInputs":{"values":[{"name":"appointment_type"},{"name":"luma_patient_id"},{"name":"luma_form_id"},{"name":"provider"},{"name":"facility"},{"name":"source"},{"name":"status"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-32,592],"id":"9d0a1514-74be-4c14-9c0d-5afce279c50b","name":"send-luma-offer-teams-message"},{"parameters":{"url":"https://api.lumahealth.io/api/v2/offers","sendQuery":true,"queryParameters":{"parameters":[{"name":"integratorCreationResults.status","value":"success"},{"name":"createdAt","value":"=>{{ $('Get last run time').item.json.sinceTime }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Get Luma Token').item.json.access_token }}"}]},"options":{"pagination":{"pagination":{"parameters":{"parameters":[{"name":"page","value":"={{ $pageCount + 1 }}"}]},"paginationCompleteWhen":"other","completeExpression":"={{ $response.body.size === 0 }}"}}}},"id":"0ccd6917-de47-4579-9435-436e583dc9d4","name":"Get Offers2","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[880,-256],"disabled":true},{"parameters":{"url":"https://api.lumahealth.io/api/v2/offers","sendQuery":true,"queryParameters":{"parameters":[{"name":"integratorCreationResults.status","value":"success"},{"name":"createdAt","value":"=>{{ $('Get last run time').item.json.sinceTime }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Get Luma Token').item.json.access_token }}"}]},"options":{"pagination":{"pagination":{"parameters":{"parameters":[{"name":"page","value":"={{ $pageCount + 1 }}"}]},"paginationCompleteWhen":"other","completeExpression":"={{ $response.body.size === 0 }}"}}}},"id":"27671688-5cd6-44f4-8ead-f7cccba777ac","name":"Get Offers3","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[592,-384]},{"parameters":{"content":"todo: add \nto _select:\nappointmentExternalId"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[560,-224],"id":"57839822-8207-46f5-a15d-42532dbd7a09","name":"Sticky Note"},{"parameters":{"workflowId":{"__rl":true,"value":"3jH0RtDFhWs7P3ng","mode":"list","cachedResultUrl":"/workflow/3jH0RtDFhWs7P3ng","cachedResultName":"get-luma-offers"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[{"id":"appointment_type","displayName":"appointment_type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"luma_patient_id","displayName":"luma_patient_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"luma_form_id","displayName":"luma_form_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"provider","displayName":"provider","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"facility","displayName":"facility","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[2208,64],"id":"43560154-b6af-495d-af7c-2e231f74084d","name":"Call 'get-luma-offers'"},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"luma_id","field2":"_id"}]},"joinMode":"keepNonMatches","outputDataFrom":"input2","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1600,-112],"id":"fda254c6-96ba-4a27-8f2f-29cabecdef0f","name":"Where not in datatable"},{"parameters":{"fieldToSplitOut":"response","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1280,-48],"id":"12de0414-eb12-4ddb-9b2a-91549ffcdbef","name":"Split Out"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"UHlcTyojTiShHJ0s","mode":"list","cachedResultName":"luma-offers","cachedResultUrl":"/projects/Vpl3Dzdj01oU52k6/datatables/UHlcTyojTiShHJ0s"},"returnAll":true},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[1296,-240],"id":"2779100c-9979-4d36-8b17-7a3334c89bd9","name":"Get row(s)","executeOnce":false,"retryOnFail":false},{"parameters":{"jsCode":"const combinedResponses = $input.all().reduce((acc, item) => {\n  // Check if 'response' exists and is an array before concatenating\n  if (item.json.response && Array.isArray(item.json.response)) {\n    return acc.concat(item.json.response);\n  }\n  return acc;\n}, []);\n\n// Return a single item with the combined array\nreturn [{\n  json: {\n    response: combinedResponses\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1088,-48],"id":"4717e628-abf8-4adc-9ca6-5e59f968a0b7","name":"Get Response Object"}],"connections":{"Get Luma Token":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Get last run time":{"main":[[{"node":"Get Offers","type":"main","index":0},{"node":"Get Offers1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Get last run time","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get Luma Token","type":"main","index":0}]]},"Get Offers1":{"main":[[{"node":"Get Response Object","type":"main","index":0}]]},"Create chat message":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"ensure reason is not empty string":{"main":[[{"node":"Create chat message","type":"main","index":0}]]},"send-luma-offer-teams-message":{"main":[[{"node":"ensure reason is not empty string","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Where not in datatable","type":"main","index":1}]]},"Where not in datatable":{"main":[[]]},"Get row(s)":{"main":[[{"node":"Where not in datatable","type":"main","index":0}]]},"Get Response Object":{"main":[[{"node":"Split Out","type":"main","index":0},{"node":"Get row(s)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Get Luma Token":[{"json":{"access_token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiI2NTIwNWNkNGFmZDM2MDAwMTViZjJkNTAiLCJleHAiOjE3NjI4MDAwNjI5MDUsInR5cGUiOiJzdGFmZiIsInJvbGVzIjpbImFwaVVzZXIiLCJhZG1pbiJdfQ.AX0vc2HtStq8n_mQfytZMxr-Edy0BdR6LO0Ko7Ot2P4","token_type":"Bearer","expires_in":72859}}],"Get Offers3":[{"json":{"size":11,"response":[{"_id":"690ff24a76e626c387a63774","deleted":0,"user":"65205cd4afd3600015bf2d50","createdBy":"65205cd4afd3600015bf2d50","updatedBy":"65205cd4afd3600015bf2d50","provider":"6542a4239a22b10c5ff47230","facility":"6544489907d42600b100d14b","date":"2025-11-11T18:30:00.000Z","duration":30,"waitlists":["690ff24a76e626c387a6376e"],"appointmentType":["6542a42b9a22b10c5ff475b5"],"source":"self-scheduling","status":"patient-found","currentWaitlist":0,"expireAt":"2025-11-09T02:15:46.205Z","patientFoundAt":"2025-11-09T01:45:46.199Z","patientFound":"65de09f922ef9800b08a3c02","estimatedCompletionAt":"2025-11-09T02:15:46.205Z","availability":"68eed02924eb25c9e86c6091","protocol":"serial","patientForm":"690ff1ad3752f663da22ad12","patientFormTemplate":"68b9cabf998c0695610b9186","bookRealTime":false,"insuranceVerificationIds":[],"integratorCreationResults":{"status":"success"},"createdAt":"2025-11-09T01:45:46.206Z","updatedAt":"2025-11-09T11:06:30.397Z","__v":0,"appointmentExternalId":{"source":"eclinicalworks10e","value":"1330177"},"usedForAppointment":"691075b46a24b28c1f62bec5"},{"_id":"690ed16e871ee1e6a3a0440b","deleted":0,"user":"65205cd4afd3600015bf2d50","createdBy":"65205cd4afd3600015bf2d50","updatedBy":"65205cd4afd3600015bf2d50","provider":"6542a4239a22b10c5ff47251","facility":"6544489907d42600b100d14d","date":"2025-11-10T21:00:00.000Z","duration":30,"waitlists":["690ed16e871ee1e6a3a04405"],"appointmentType":["6542a42b9a22b10c5ff475b5"],"source":"self-scheduling","status":"patient-found","currentWaitlist":0,"expireAt":"2025-11-08T05:43:18.552Z","patientFoundAt":"2025-11-08T05:13:18.546Z","patientFound":"690ed103155931696de51a60","estimatedCompletionAt":"2025-11-08T05:43:18.552Z","availability":"68f6b24020e8b7644bb92172","protocol":"serial","patientForm":"690ed0cbbf5d81b0702703c5","patientFormTemplate":"68b9cabf998c0695610b9186","bookRealTime":false,"insuranceVerificationIds":[],"integratorCreationResults":{"status":"success"},"createdAt":"2025-11-08T05:13:18.552Z","updatedAt":"2025-11-08T11:32:11.777Z","__v":0,"appointmentExternalId":{"source":"eclinicalworks10e","value":"1330124"},"usedForAppointment":"690f2a3b444c67ca4fa6f78c"},{"_id":"690e200e43ad056431d7fdaa","deleted":0,"user":"65205cd4afd3600015bf2d50","createdBy":"65205cd4afd3600015bf2d50","updatedBy":"65205cd4afd3600015bf2d50","provider":"6542a4239a22b10c5ff47230","facility":"6544489907d42600b100d14b","date":"2025-11-11T20:00:00.000Z","duration":30,"waitlists":["690e200e43ad056431d7fd9a"],"appointmentType":["6542a42b9a22b10c5ff475b5"],"source":"self-scheduling","status":"patient-found","currentWaitlist":0,"expireAt":"2025-11-07T17:06:30.078Z","patientFoundAt":"2025-11-07T16:36:30.074Z","patientFound":"690e1f97fc8db8dfcc3cb580","estimatedCompletionAt":"2025-11-07T17:06:30.078Z","availability":"68eed02924eb25c9e86c60a4","protocol":"serial","patientForm":"690e1f6f43ad056431d7d32a","patientFormTemplate":"68b9cabf998c0695610b9186","bookRealTime":false,"insuranceVerificationIds":[],"integratorCreationResults":{"status":"success"},"createdAt":"2025-11-07T16:36:30.079Z","updatedAt":"2025-11-07T16:36:39.143Z","__v":0},{"_id":"690d1cad66dab6817048d405","deleted":0,"user":"65205cd4afd3600015bf2d50","createdBy":"65205cd4afd3600015bf2d50","updatedBy":"65205cd4afd3600015bf2d50","provider":"6542a4239a22b10c5ff4721e","facility":"6544489907d42600b100d151","date":"2025-11-10T19:30:00.000Z","duration":30,"waitlists":["690d1cad66dab6817048d3fc"],"appointmentType":["6542a42b9a22b10c5ff475b5"],"source":"self-scheduling","status":"patient-found","currentWaitlist":0,"expireAt":"2025-11-06T22:39:49.565Z","patientFoundAt":"2025-11-06T22:09:49.560Z","patientFound":"690d1c6eb627e5f087b2f556","estimatedCompletionAt":"2025-11-06T22:39:49.565Z","availability":"690ccec2f22e0e883c8881ae","protocol":"serial","patientForm":"690d1c404ebcb4c232fb802d","patientFormTemplate":"68b9cabf998c0695610b9186","bookRealTime":false,"insuranceVerificationIds":[],"integratorCreationResults":{"status":"success"},"createdAt":"2025-11-06T22:09:49.565Z","updatedAt":"2025-11-06T22:22:41.511Z","__v":0,"appointmentExternalId":{"source":"eclinicalworks10e","value":"1329782"},"usedForAppointment":"690d1fb18422421e40b16a3a"},{"_id":"690d048909889f699aac5fce","deleted":0,"user":"65205cd4afd3600015bf2d50","createdBy":"65205cd4afd3600015bf2d50","updatedBy":"65205cd4afd3600015bf2d50","provider":"6542a4239a22b10c5ff47251","facility":"6544489907d42600b100d14d","date":"2025-11-07T16:00:00.000Z","duration":30,"waitlists":["690d048909889f699aac5fac"],"appointmentType":["6542a42b9a22b10c5ff475b5"],"source":"self-scheduling","status":"patient-found","currentWaitlist":0,"expireAt":"2025-11-06T20:56:49.769Z","patientFoundAt":"2025-11-06T20:26:49.765Z","patientFound":"690d04324c2b3f8d36e92e0d","estimatedCompletionAt":"2025-11-06T20:56:49.769Z","availability":"68f2c281755e93a3dac43db2","protocol":"serial","patientForm":"690d041bbf07233df99654c3","patientFormTemplate":"68b9cabf998c0695610b9186","bookRealTime":false,"insuranceVerificationIds":[],"integratorCreationResults":{"status":"success"},"createdAt":"2025-11-06T20:26:49.770Z","updatedAt":"2025-11-06T20:26:57.332Z","__v":0},{"_id":"690bb8da774d1b4435cda460","deleted":0,"user":"65205cd4afd3600015bf2d50","createdBy":"65205cd4afd3600015bf2d50","updatedBy":"65205cd4afd3600015bf2d50","provider":"6542a4239a22b10c5ff47233","facility":"6544489907d42600b100d155","date":"2025-11-12T19:45:00.000Z","duration":15,"waitlists":["690bb8da774d1b4435cda45a"],"appointmentType":["6542a42b9a22b10c5ff475c7"],"source":"reschedule","status":"patient-found","currentWaitlist":0,"expireAt":"2025-11-05T21:21:38.055Z","patientFoundAt":"2025-11-05T20:51:38.050Z","patientFound":"68f6a5b73fa367e6c71cdf26","estimatedCompletionAt":"2025-11-05T21:21:38.055Z","availability":"68f0c8e46b64c21a6c33b42c","protocol":"serial","rescheduledFromAppointment":"69027781ed4fbff2ab051d4b","bookRealTime":false,"insuranceVerificationIds":[],"integratorCreationResults":{"status":"success"},"createdAt":"2025-11-05T20:51:38.056Z","updatedAt":"2025-11-05T21:02:24.143Z","__v":0,"appointmentExternalId":{"source":"eclinicalworks10e","value":"1329388"},"usedForAppointment":"690bbb5ffa14099fed0d570a"},{"_id":"690a64c0e26764b1cd251ca4","deleted":0,"user":"65205cd4afd3600015bf2d50","createdBy":"65205cd4afd3600015bf2d50","updatedBy":"65205cd4afd3600015bf2d50","provider":"6542a4239a22b10c5ff47251","facility":"6544489907d42600b100d14d","date":"2025-11-06T20:30:00.000Z","duration":30,"waitlists":["690a64c0e26764b1cd251c90"],"appointmentType":["6542a42b9a22b10c5ff475b5"],"source":"self-scheduling","status":"patient-found","currentWaitlist":0,"expireAt":"2025-11-04T21:10:32.253Z","patientFoundAt":"2025-11-04T20:40:32.248Z","patientFound":"690a641ad90e425fa2fe4c17","estimatedCompletionAt":"2025-11-04T21:10:32.253Z","availability":"68f16920653c73781d56ce60","protocol":"serial","patientForm":"690a644fbd4622acf7259a1c","patientFormTemplate":"68b9cabf998c0695610b9186","bookRealTime":false,"insuranceVerificationIds":[],"integratorCreationResults":{"status":"success"},"createdAt":"2025-11-04T20:40:32.253Z","updatedAt":"2025-11-04T20:43:40.009Z","__v":0,"appointmentExternalId":{"source":"eclinicalworks10e","value":"1329009"},"usedForAppointment":"690a657ba3b81027aeed7d6f"},{"_id":"690a2841761a3f4af0dd26d3","deleted":0,"user":"65205cd4afd3600015bf2d50","createdBy":"65205cd4afd3600015bf2d50","updatedBy":"65205cd4afd3600015bf2d50","provider":"6542a4239a22b10c5ff47224","facility":"6544489907d42600b100d14b","date":"2025-11-11T15:30:00.000Z","duration":30,"waitlists":["690a2841761a3f4af0dd26cd"],"appointmentType":["6542a42b9a22b10c5ff475b5"],"source":"self-scheduling","status":"patient-found","currentWaitlist":0,"expireAt":"2025-11-04T16:52:25.484Z","patientFoundAt":"2025-11-04T16:22:25.479Z","patientFound":"690a272f784484ed5efb0ed6","estimatedCompletionAt":"2025-11-04T16:52:25.484Z","availability":"68eed02824eb25c9e86c6032","protocol":"serial","patientForm":"690a270d4f2fe06f31d775fc","patientFormTemplate":"68b9cabf998c0695610b9186","bookRealTime":false,"insuranceVerificationIds":[],"integratorCreationResults":{"status":"success"},"createdAt":"2025-11-04T16:22:25.485Z","updatedAt":"2025-11-04T16:40:10.444Z","__v":0,"appointmentExternalId":{"source":"eclinicalworks10e","value":"1328860"},"usedForAppointment":"690a2c6aac3fa4f79dc0308b"},{"_id":"6909a8e4a6e778b77a2c5182","deleted":0,"user":"65205cd4afd3600015bf2d50","createdBy":"65205cd4afd3600015bf2d50","updatedBy":"65205cd4afd3600015bf2d50","provider":"6542a4239a22b10c5ff47233","facility":"6544489907d42600b100d155","date":"2025-11-06T16:45:00.000Z","duration":15,"waitlists":["6909a8e3a6e778b77a2c517c"],"appointmentType":["6542a42b9a22b10c5ff475c7"],"source":"reschedule","status":"patient-found","currentWaitlist":0,"expireAt":"2025-11-04T07:49:00.039Z","patientFoundAt":"2025-11-04T07:19:00.031Z","patientFound":"656a55eb4150c500b0af76c7","estimatedCompletionAt":"2025-11-04T07:49:00.039Z","availability":"68f16920653c73781d56cde1","protocol":"serial","rescheduledFromAppointment":"6904db57b11abdbd70a8b003","bookRealTime":false,"insuranceVerificationIds":[],"integratorCreationResults":{"status":"success"},"createdAt":"2025-11-04T07:19:00.039Z","updatedAt":"2025-11-04T11:04:34.323Z","__v":0,"appointmentExternalId":{"source":"eclinicalworks10e","value":"1328661"},"usedForAppointment":"6909ddc241fa954d09c8b861"},{"_id":"690988e7a6e778b77a2b8d19","deleted":0,"user":"65205cd4afd3600015bf2d50","createdBy":"65205cd4afd3600015bf2d50","updatedBy":"65205cd4afd3600015bf2d50","provider":"6542a4239a22b10c5ff47233","facility":"6544489907d42600b100d155","date":"2025-11-20T21:00:00.000Z","duration":30,"waitlists":["690988e7a6e778b77a2b8d13"],"appointmentType":["6542a42b9a22b10c5ff475b5"],"source":"self-scheduling","status":"patient-found","currentWaitlist":0,"expireAt":"2025-11-04T05:32:31.346Z","patientFoundAt":"2025-11-04T05:02:31.339Z","patientFound":"69098854ace1ab05f1681861","estimatedCompletionAt":"2025-11-04T05:32:31.346Z","availability":"68f17521e94804b6c33c8433","protocol":"serial","patientForm":"690988427748cb4bec37f9db","patientFormTemplate":"68b9cabf998c0695610b9186","bookRealTime":false,"insuranceVerificationIds":[],"integratorCreationResults":{"status":"success"},"createdAt":"2025-11-04T05:02:31.346Z","updatedAt":"2025-11-04T05:02:37.613Z","__v":0},{"_id":"6906ac269be4af5e4a487ad2","deleted":0,"user":"65205cd4afd3600015bf2d50","createdBy":"65205cd4afd3600015bf2d50","updatedBy":"65205cd4afd3600015bf2d50","provider":"6542a4239a22b10c5ff47230","facility":"6544489907d42600b100d14b","date":"2025-11-05T16:30:00.000Z","duration":15,"waitlists":["6906ac269be4af5e4a487acc"],"appointmentType":["6542a4329a22b10c5ff477ca"],"source":"reschedule","status":"patient-found","currentWaitlist":0,"expireAt":"2025-11-02T01:26:06.160Z","patientFoundAt":"2025-11-02T00:56:06.155Z","patientFound":"6564d67068eccb00af2bfa1e","estimatedCompletionAt":"2025-11-02T01:26:06.160Z","availability":"68f02ef4eb1de7efbc76f6ac","protocol":"serial","rescheduledFromAppointment":"6891f42f9510e0ee50c938c1","bookRealTime":false,"insuranceVerificationIds":[],"integratorCreationResults":{"status":"success"},"createdAt":"2025-11-02T00:56:06.160Z","updatedAt":"2025-11-02T11:07:03.086Z","__v":0,"appointmentExternalId":{"source":"eclinicalworks10e","value":"1328154"},"usedForAppointment":"69073b56937ee9c8e31ae045"}]}},{"json":{"size":0,"response":[]}}]},"versionId":"71b13125-5c45-46b5-a6df-578857ff70b6","triggerCount":0,"shared":[{"updatedAt":"2025-11-09T22:24:32.729Z","createdAt":"2025-11-09T22:24:32.729Z","role":"workflow:owner","workflowId":"3jH0RtDFhWs7P3ng","projectId":"Vpl3Dzdj01oU52k6"}],"tags":[]}