8ha430PQ969p3KVI.json
{"updatedAt":"2025-11-14T21:36:17.601Z","createdAt":"2025-11-10T00:56:49.354Z","id":"8ha430PQ969p3KVI","name":"cognos_get-users","active":false,"isArchived":true,"nodes":[{"parameters":{"url":"https://gaaaflebo.ecwcloud.com/bi/v1/disp/rds/auth/logon","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","options":{"response":{"response":{"fullResponse":true}}}},"id":"cb8e6930-971c-4cf7-87f7-321f41d26e42","name":"Logon to Cognos","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-64,192],"disabled":true},{"parameters":{"url":"https://gaaaflebo.ecwcloud.com/bi/v1/disp/rds/reportData/report/i4584203DB54A4B078B60BD6858E3B696","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Cookie","value":"={{ $json.headers['set-cookie'][0] }}"},{"name":"Cookie","value":"={{ $json.headers['set-cookie'][1] }}"},{"name":"Cookie","value":"={{ $json.headers['set-cookie'][2] }}"},{"name":"Cookie","value":"={{ $json.headers['set-cookie'][3] }}"},{"name":"Cookie","value":"={{ $json.headers['set-cookie'][4] }}"},{"name":"Cookie","value":"={{ $json.headers['set-cookie'][5] }}"},{"name":"Cookie","value":"={{ $json.headers['set-cookie'][6] }}"},{"name":"Cookie","value":"={{ $json.headers['set-cookie'][7] }}"},{"name":"Cookie","value":"={{ $json.headers['set-cookie'][8] }}"},{"name":"Cookie","value":"={{ $json.headers['set-cookie'][9] }}"}]},"options":{"response":{"response":{}}}},"id":"484b3084-a56b-4697-9d3a-8652ff92486c","name":"Get Report","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[448,272],"disabled":true},{"parameters":{"url":"https://httpbin.org/cookies/set","sendQuery":true,"queryParameters":{"parameters":[{"name":"sessionId","value":"=abc123"}]},"options":{"redirect":{"redirect":{"followRedirects":false}},"response":{"response":{"fullResponse":true,"neverError":true,"responseFormat":"text"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1104,192],"id":"176b2898-7ab1-4ba2-a8da-c7be74590d69","name":"Setup Cookie","disabled":true},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1056,-192],"id":"7a511a00-906d-4283-a921-a115bf7d4cc3","name":"When clicking ‘Test workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"6fcbe8a3-ac9e-4d84-907b-352efd2d558e","name":"sessionIdByRegex","value":"={{ $('Setup Cookie').first().json.headers['set-cookie'][0].match(/(^| )sessionId=([^;]+)/)[0] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-928,192],"id":"f83564e3-4847-4eb0-85b2-8243cf10b1f6","name":"Parse Cookie Header Value","disabled":true},{"parameters":{"url":"https://httpbin.org/get","sendQuery":true,"queryParameters":{"parameters":[{"name":"maybeASearchPage","value":"items of value"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Cookie","value":"={{ $('Parse Cookie Header Value').first().json.sessionIdByRegex }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-512,192],"id":"4cba94b8-5473-47c8-acd2-5ad438eabfb5","name":"Next Request that Requires Session Cookie","disabled":true},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-352,192],"id":"8102ef81-3134-4f91-879c-5245026b63ff","name":"etc.","disabled":true},{"parameters":{"url":"https://httpbin.org/cookies","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Cookie","value":"={{ $('Parse Cookie Header Value').first().json.sessionIdByRegex }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-736,192],"id":"bda110e2-5003-4a3d-b2cc-8f4fe728100e","name":"Another Request that Requires Session Cookie","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"6fcbe8a3-ac9e-4d84-907b-352efd2d558e","name":"sessionIdByRegex","value":"={{ $('Setup Cookie').first().json.headers['set-cookie'][0].match(/(^| )sessionId=([^;]+)/)[0] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[144,352],"id":"8a452139-2c6a-4db6-b86d-b39761261b78","name":"Parse Cookie Header Value1","disabled":true},{"parameters":{"url":"https://gaaaflebo.ecwcloud.com/bi/v1/disp/rds/reportData/report/i70FBCF76B2F44DEA960593AA63D4F019","sendQuery":true,"specifyQuery":"json","jsonQuery":"{\n  \"fmt\":\"CSV\"\n}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-XSRF-TOKEN","value":"={{ $json.parsedCookies['XSRF-TOKEN'] }}"},{"name":"Cookie","value":"={{ $json.cookieHeader }}"}]},"options":{"response":{"response":{"responseFormat":"file"}}}},"name":"Authenticated Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[112,-384],"id":"15a71bc3-50b3-47f5-8c67-c76356d53560","disabled":true},{"parameters":{"url":"https://gaaaflebo.ecwcloud.com/bi/v1/disp/rds/auth/logon","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","options":{"response":{"response":{"fullResponse":true}}}},"id":"1b55dbb5-32ca-45f7-94f0-9fd13012ae24","name":"Logon to Cognos1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-768,-400],"credentials":{"httpQueryAuth":{"id":"4Rs9n2fu0AFZ4WWF","name":"Cognos xmlData"}}},{"parameters":{"assignments":{"assignments":[{"id":"1","name":"parsedCookies","value":"={{ (() => { const cookies = $('Logon to Cognos1').first().json.headers['set-cookie']; if (!cookies) return {}; const cookieMap = {}; cookies.forEach(c => { const [pair] = c.split(';'); const [key, val] = pair.split('='); cookieMap[key.trim()] = val; }); return cookieMap; })() }}","type":"object"},{"id":"2","name":"cookieHeader","value":"={{ (() => { const cookies = $('Logon to Cognos1').first().json.headers['set-cookie']; if (!cookies) return ''; return cookies.map(c => c.split(';')[0]).join('; '); })() }}","type":"string"}]},"options":{}},"name":"Parse Cookie Header Value2","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-400,-400],"id":"8e5454e5-f183-40f3-bd3f-48879c8d10bf"},{"parameters":{"assignments":{"assignments":[{"id":"1","name":"parsedCookies","value":"={{ (() => { const cookies = $('Logon to Cognos1').first().json.headers['set-cookie']; if (!cookies) return {}; const cookieMap = {}; cookies.forEach(c => { const [pair] = c.split(';'); const [key, val] = pair.split('='); cookieMap[key.trim()] = val; }); return cookieMap; })() }}","type":"object"},{"id":"2","name":"cookieHeader","value":"={{ (() => { const cookies = $('Logon to Cognos1').first().json.headers['set-cookie']; if (!cookies) return ''; return cookies.map(c => c.split(';')[0]).join('; '); })() }}","type":"string"}]},"options":{}},"name":"Parse Cookie Header Value3","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,96],"id":"d07f7713-fc83-427a-bc7f-8c64a8519a3b","disabled":true},{"parameters":{"content":"TODO: make this use an endpoint that doesn't retrieve hashed passwords"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-528,-192],"id":"b30482f1-9a0c-46ea-9b8c-5986a1f1350a","name":"Sticky Note"},{"parameters":{"url":"https://gaaaflebo.ecwcloud.com/bi/","sendQuery":true,"queryParameters":{"parameters":[{"name":"fmt","value":"CSV"},{"name":"id","value":"i97EF5B8A0DCD4688B029D067B10DE811"},{"name":"objRef","value":"i97EF5B8A0DCD4688B029D067B10DE811"},{"name":"action","value":"run"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-XSRF-TOKEN","value":"={{ $json.parsedCookies['XSRF-TOKEN'] }}"},{"name":"Cookie","value":"={{ $json.cookieHeader }}"}]},"options":{"response":{"response":{"responseFormat":"text"}}}},"name":"Authenticated Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-48,-528],"id":"94d37928-91cf-4fc4-bf25-184e1d3c01f5","disabled":true},{"parameters":{"options":{"delimiter":"={{ String.fromCodePoint(9) }}"}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[352,-384],"id":"05664926-1f48-48df-b6c7-3b12fef7c241","name":"tsv to json","disabled":true},{"parameters":{"url":"https://gaaaflebo.ecwcloud.com/bi/v1/disp/rds/reportData/report/i27E4291F79FE4E6A842B74DB8F59975B","sendQuery":true,"specifyQuery":"json","jsonQuery":"{\n  \"fmt\":\"datasetJSON\"\n}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-XSRF-TOKEN","value":"={{ $json.parsedCookies['XSRF-TOKEN'] }}"},{"name":"Cookie","value":"={{ $json.cookieHeader }}"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"name":"Authenticated Request2","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[112,-224],"id":"5326ea2c-a617-4bdd-94e7-68e70f480e31","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"eb1b559e-82f7-4bb3-92f9-2691ad2b48e5","name":"data","value":"={{  $json.data.substring('JsonOutput\\n'.length).trim() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[320,-224],"id":"00e762da-7f5a-4cce-ab5d-f54a4682a54f","name":"Edit Fields","disabled":true},{"parameters":{"url":"https://gaaaflebo.ecwcloud.com/bi/v1/disp/rds/reportData/report/i70FBCF76B2F44DEA960593AA63D4F019","sendQuery":true,"specifyQuery":"json","jsonQuery":"{\n  \"fmt\":\"datasetJSON\"\n}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-XSRF-TOKEN","value":"={{ $json.parsedCookies['XSRF-TOKEN'] }}"},{"name":"Cookie","value":"={{ $json.cookieHeader }}"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"name":"Authenticated Request3","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[112,-96],"id":"5ebab5a2-5d2b-4552-ad90-da4e39ce00ca"},{"parameters":{"assignments":{"assignments":[{"id":"eb1b559e-82f7-4bb3-92f9-2691ad2b48e5","name":"data","value":"={{  $json.data.substring('JsonOutput\\n'.length).trim() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[320,-96],"id":"e0853a3f-8e70-49c5-b8ff-136c252af1ab","name":"Edit Fields1"}],"connections":{"Logon to Cognos":{"main":[[{"node":"Parse Cookie Header Value1","type":"main","index":0},{"node":"Parse Cookie Header Value3","type":"main","index":0}]]},"Setup Cookie":{"main":[[{"node":"Parse Cookie Header Value","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Logon to Cognos1","type":"main","index":0}]]},"Parse Cookie Header Value":{"main":[[{"node":"Another Request that Requires Session Cookie","type":"main","index":0}]]},"Next Request that Requires Session Cookie":{"main":[[{"node":"etc.","type":"main","index":0}]]},"Another Request that Requires Session Cookie":{"main":[[{"node":"Next Request that Requires Session Cookie","type":"main","index":0}]]},"Parse Cookie Header Value1":{"main":[[{"node":"Get Report","type":"main","index":0}]]},"Authenticated Request":{"main":[[{"node":"tsv to json","type":"main","index":0}]]},"Logon to Cognos1":{"main":[[{"node":"Parse Cookie Header Value2","type":"main","index":0}]]},"Parse Cookie Header Value2":{"main":[[{"node":"Authenticated Request","type":"main","index":0},{"node":"Authenticated Request1","type":"main","index":0},{"node":"Authenticated Request2","type":"main","index":0},{"node":"Authenticated Request3","type":"main","index":0}]]},"Parse Cookie Header Value3":{"main":[[{"node":"Get Report","type":"main","index":0}]]},"Authenticated Request2":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Authenticated Request3":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"6078effc-92cf-4d47-94dc-4685c41afd17","triggerCount":0,"shared":[{"updatedAt":"2025-11-10T00:56:49.354Z","createdAt":"2025-11-10T00:56:49.354Z","role":"workflow:owner","workflowId":"8ha430PQ969p3KVI","projectId":"Vpl3Dzdj01oU52k6"}],"tags":[]}