8kmvY6Vzh3pBcBTy.json
{"updatedAt":"2025-11-14T16:27:12.473Z","createdAt":"2025-11-14T05:08:01.286Z","id":"8kmvY6Vzh3pBcBTy","name":"cognos-get-users-webhook","active":true,"isArchived":false,"nodes":[{"parameters":{"path":"/ebo/getUsers","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-48,0],"id":"7c0e0da4-f9ae-4954-84da-c6d3fa086238","name":"Webhook","webhookId":"67050c9d-49c8-433a-903a-04ce247283eb"},{"parameters":{"workflowId":{"__rl":true,"value":"FYwsWWYM2CIj9bnF","mode":"list","cachedResultUrl":"/workflow/FYwsWWYM2CIj9bnF","cachedResultName":"cognos-webhooks"},"workflowInputs":{"mappingMode":"defineBelow","value":{"param":"={{ $json.query }}","rid":"i70FBCF76B2F44DEA960593AA63D4F019"},"matchingColumns":[],"schema":[{"id":"param","displayName":"param","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false},{"id":"rid","displayName":"rid","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[496,0],"id":"cca6ca95-35c6-4a37-b031-02786505ace8","name":"Call 'cognos-webhooks'","retryOnFail":true},{"parameters":{"respondWith":"text","responseBody":"={{ $json.data }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[800,0],"id":"378ce92c-e7e3-4c95-8a26-b8c555b99c64","name":"Respond to Webhook"},{"parameters":{"url":"https://gaaaflebo.ecwcloud.com/bi/v1/disp/rds/reportData/report/","sendQuery":true,"queryParameters":{"parameters":[{"name":"fmt","value":"CSV"},{"name":"p_encounterIDs","value":"1331277"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-XSRF-TOKEN","value":"={{ $json.parsedCookies['XSRF-TOKEN'] }}"},{"name":"Cookie","value":"={{ $json.cookieHeader }}"}]},"options":{"response":{"response":{"responseFormat":"file"}}}},"name":"Authenticated Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[480,-208],"id":"88dcf521-be05-46dc-b96a-6508e470a34f","disabled":true},{"parameters":{"options":{"delimiter":"={{ String.fromCodePoint(9) }}"}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[688,-208],"id":"1dd05ccf-8094-47ce-98c1-a0ceb42f0aa7","name":"tsv to json","disabled":true},{"parameters":{"path":"/ebo/getEncounterById","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-48,208],"id":"b96831d8-0c20-41f2-a4bd-331a1fc1ef1e","name":"Webhook1","webhookId":"67050c9d-49c8-433a-903a-04ce247283eb"},{"parameters":{"workflowId":{"__rl":true,"value":"FYwsWWYM2CIj9bnF","mode":"list","cachedResultUrl":"/workflow/FYwsWWYM2CIj9bnF","cachedResultName":"cognos-webhooks"},"workflowInputs":{"mappingMode":"defineBelow","value":{"param":"={{ $json.query }}","rid":"iE3F153814C6443A68AFBF3B6D3F3212B"},"matchingColumns":[],"schema":[{"id":"param","displayName":"param","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false},{"id":"rid","displayName":"rid","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[496,208],"id":"36fa1590-51d7-457d-9d9a-75b67b193fb5","name":"Call 'cognos-webhooks'1","retryOnFail":true},{"parameters":{"respondWith":"text","responseBody":"={{ $json.data }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[800,208],"id":"8bbbfdf6-d2a5-427d-ae5a-095d3515756d","name":"Respond to Webhook1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"91c9eb0f-b74f-44d7-bafc-c3fbd503f103","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[224,-208],"id":"8ba8c2af-bb3c-4176-bd26-a3bae375fb9d","name":"If","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"de18b582-a741-4c10-8c2c-f0fc72b19e58","name":"query.fmt","value":"CSV","type":"string"},{"id":"daeec6ae-8e3d-4fbf-9b6e-8b1ce0b6ff08","name":"","value":"","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,208],"id":"680cfbb3-dc23-4c95-8701-ee1bf336a55b","name":"Edit Fields"}],"connections":{"Webhook":{"main":[[{"node":"Call 'cognos-webhooks'","type":"main","index":0}]]},"Call 'cognos-webhooks'":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Authenticated Request":{"main":[[{"node":"tsv to json","type":"main","index":0}]]},"Call 'cognos-webhooks'1":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Call 'cognos-webhooks'1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"cd9dc7db-4ba1-4ce2-9624-81c1cdd9c235","triggerCount":2,"shared":[{"updatedAt":"2025-11-14T05:08:01.286Z","createdAt":"2025-11-14T05:08:01.286Z","role":"workflow:owner","workflowId":"8kmvY6Vzh3pBcBTy","projectId":"Vpl3Dzdj01oU52k6"}],"tags":[]}