8kmvY6Vzh3pBcBTy.json
{"updatedAt":"2025-11-17T23:05:05.043Z","createdAt":"2025-11-14T05:08:01.286Z","id":"8kmvY6Vzh3pBcBTy","name":"cognos-webhooks","active":true,"isArchived":false,"nodes":[{"parameters":{"workflowId":{"__rl":true,"value":"FYwsWWYM2CIj9bnF","mode":"list","cachedResultUrl":"/workflow/FYwsWWYM2CIj9bnF","cachedResultName":"cognos-runner-pinger"},"workflowInputs":{"mappingMode":"defineBelow","value":{"param":"={{ $json.query }}","rid":"i70FBCF76B2F44DEA960593AA63D4F019"},"matchingColumns":[],"schema":[{"id":"param","displayName":"param","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false},{"id":"rid","displayName":"rid","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-368,144],"id":"cca6ca95-35c6-4a37-b031-02786505ace8","name":"Call 'cognos-webhooks'","retryOnFail":true},{"parameters":{"respondWith":"json","responseBody":"={{ $json.data }}","options":{"responseCode":"={{ Number($json.statusCode) }}"}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-144,144],"id":"378ce92c-e7e3-4c95-8a26-b8c555b99c64","name":"Respond to Webhook"},{"parameters":{"url":"https://gaaaflebo.ecwcloud.com/bi/v1/disp/rds/reportData/report/","sendQuery":true,"queryParameters":{"parameters":[{"name":"fmt","value":"CSV"},{"name":"p_encounterIDs","value":"1331277"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-XSRF-TOKEN","value":"={{ $json.parsedCookies['XSRF-TOKEN'] }}"},{"name":"Cookie","value":"={{ $json.cookieHeader }}"}]},"options":{"response":{"response":{"responseFormat":"file"}}}},"name":"Authenticated Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-1040,-80],"id":"88dcf521-be05-46dc-b96a-6508e470a34f","disabled":true},{"parameters":{"options":{"delimiter":"={{ String.fromCodePoint(9) }}"}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-816,-80],"id":"1dd05ccf-8094-47ce-98c1-a0ceb42f0aa7","name":"tsv to json","disabled":true},{"parameters":{"workflowId":{"__rl":true,"value":"FYwsWWYM2CIj9bnF","mode":"list","cachedResultUrl":"/workflow/FYwsWWYM2CIj9bnF","cachedResultName":"cognos-runner-pinger"},"workflowInputs":{"mappingMode":"defineBelow","value":{"param":"={{ $json.query }}","rid":"i8A3372D0B9E847E3B74A0D21E1D15655"},"matchingColumns":[],"schema":[{"id":"param","displayName":"param","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false},{"id":"rid","displayName":"rid","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-368,368],"id":"36fa1590-51d7-457d-9d9a-75b67b193fb5","name":"Call 'cognos-webhooks'1","retryOnFail":true},{"parameters":{"respondWith":"allIncomingItems","options":{"responseCode":"={{ Number($json.statusCode) }}"}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[304,368],"id":"8bbbfdf6-d2a5-427d-ae5a-095d3515756d","name":"Respond to Webhook1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"91c9eb0f-b74f-44d7-bafc-c3fbd503f103","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1040,-304],"id":"8ba8c2af-bb3c-4176-bd26-a3bae375fb9d","name":"If","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"de18b582-a741-4c10-8c2c-f0fc72b19e58","name":"query.fmt","value":"CSV","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-816,368],"id":"680cfbb3-dc23-4c95-8701-ee1bf336a55b","name":"Edit Fields"},{"parameters":{"path":"/ebo/getUsers","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1040,144],"id":"7c0e0da4-f9ae-4954-84da-c6d3fa086238","name":"getUsers","webhookId":"67050c9d-49c8-433a-903a-04ce247283eb"},{"parameters":{"assignments":{"assignments":[{"id":"cf82b233-1f21-48fb-95cb-f73b454dc6d0","name":"query.fmt","value":"datasetJSON","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-816,144],"id":"b127e9db-3c59-482a-8725-3fc3103a2151","name":"Edit Fields1"},{"parameters":{"path":"/ebo/getRoles","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1040,368],"id":"b96831d8-0c20-41f2-a4bd-331a1fc1ef1e","name":"getRoles","webhookId":"67050c9d-49c8-433a-903a-04ce247283eb"},{"parameters":{"workflowId":{"__rl":true,"value":"FYwsWWYM2CIj9bnF","mode":"list","cachedResultUrl":"/workflow/FYwsWWYM2CIj9bnF","cachedResultName":"cognos-runner-pinger"},"workflowInputs":{"mappingMode":"defineBelow","value":{"param":"={{ $json.query }}","rid":"iE3F153814C6443A68AFBF3B6D3F3212B"},"matchingColumns":[],"schema":[{"id":"param","displayName":"param","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false},{"id":"rid","displayName":"rid","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":true,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-368,896],"id":"790a43d0-5cad-471e-8a84-01a996956559","name":"Call 'cognos-webhooks'2","retryOnFail":true},{"parameters":{"respondWith":"text","responseBody":"={{ $json.data }}","options":{"responseCode":"={{ $json.statusCode }}"}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[368,912],"id":"ca2d87dc-b4e7-4dba-9dec-0a479655deab","name":"Respond to Webhook2"},{"parameters":{"path":"/ebo/getEncounters","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1040,992],"id":"348546ce-fe51-4bf7-bd4a-49113d7d77b4","name":"getEncounters","webhookId":"67050c9d-49c8-433a-903a-04ce247283eb"},{"parameters":{"respondWith":"json","responseBody":"{\n  \"error\": \"invalid query parameter value for selection\"\n}","options":{"responseCode":400}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-144,1088],"id":"b346ebab-bce2-4193-badb-fbd7dd92a515","name":"Error"},{"parameters":{"assignments":{"assignments":[{"id":"de18b582-a741-4c10-8c2c-f0fc72b19e58","name":"query.fmt","value":"={{ $json.query.fmt || \"datasetJSON\"}}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-816,992],"id":"d2d344ea-71ae-43ed-82df-419fdcd915a7","name":"Edit Fields2"},{"parameters":{"workflowId":{"__rl":true,"value":"FYwsWWYM2CIj9bnF","mode":"list","cachedResultUrl":"/workflow/FYwsWWYM2CIj9bnF","cachedResultName":"cognos-runner-pinger"},"workflowInputs":{"mappingMode":"defineBelow","value":{"param":"={{ $json.query }}","rid":"iC8C3878B4D4D4CDDB5AB0AD683E6FA22"},"matchingColumns":[],"schema":[{"id":"param","displayName":"param","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false},{"id":"rid","displayName":"rid","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-368,672],"id":"79503b85-109e-4d04-adde-3d77adc8acad","name":"Call 'cognos-webhooks'3","retryOnFail":true},{"parameters":{"respondWith":"text","responseBody":"={{ $json.data.substring('JsonOutput\\n'.length).trim() }}","options":{"responseCode":"={{ $json.statusCode }}"}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-144,672],"id":"ce9d05b1-c64e-414c-b858-fd17524c5739","name":"Respond to Webhook3"},{"parameters":{"assignments":{"assignments":[{"id":"de18b582-a741-4c10-8c2c-f0fc72b19e58","name":"query.fmt","value":"datasetJSON","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-816,672],"id":"39dc89ca-fcd3-4eaf-a08b-6cc9c2f28866","name":"Edit Fields3"},{"parameters":{"path":"/ebo/getRoles_trunc","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1040,672],"id":"f8385e0e-4581-4b6e-b6b7-23d352ce7df9","name":"getRoles1","webhookId":"67050c9d-49c8-433a-903a-04ce247283eb"},{"parameters":{"options":{"ignoreAttrs":true}},"type":"n8n-nodes-base.xml","typeVersion":1,"position":[-144,-528],"id":"e394914b-a049-4cb3-bdb2-12207ef32a84","name":"XML","disabled":true},{"parameters":{"url":"https://gaaaflebo.ecwcloud.com/bi/v1/disp/rds/wsil/path/Team Content/Cognos Reporting","sendQuery":true,"queryParameters":{"parameters":[{}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-XSRF-TOKEN","value":"={{ $json.parsedCookies['XSRF-TOKEN'] }}"},{"name":"Cookie","value":"={{ $json.cookieHeader }}"}]},"options":{"response":{"response":{"responseFormat":"text"}}}},"name":"Authenticated Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-368,-528],"id":"ee804554-8df4-4552-9ce0-6c06d1f447ea","disabled":true},{"parameters":{"path":"/ebo/getReports","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1040,-528],"id":"cb6cf67d-cb5c-4a76-9695-4ec9c5dbebe0","name":"getUsers1","webhookId":"67050c9d-49c8-433a-903a-04ce247283eb","disabled":true},{"parameters":{"respondWith":"json","responseBody":"={{ $json.data }}","options":{"responseCode":"={{ Number($json.statusCode) }}"}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[80,-528],"id":"8db65945-6ad3-4fdd-88cd-3ab690e1388a","name":"Respond to Webhook4","disabled":true},{"parameters":{"url":"https://gaaaflebo.ecwcloud.com/bi/v1/disp/rds/auth/logon","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","options":{"response":{"response":{"fullResponse":true}}}},"id":"107abd31-caa6-4514-b2a6-a85154d06940","name":"Logon to Cognos1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-816,-528],"credentials":{"httpQueryAuth":{"id":"4Rs9n2fu0AFZ4WWF","name":"Cognos xmlData"}},"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"1","name":"parsedCookies","value":"={{ (() => { const cookies = $('Logon to Cognos1').first().json.headers['set-cookie']; if (!cookies) return {}; const cookieMap = {}; cookies.forEach(c => { const [pair] = c.split(';'); const [key, val] = pair.split('='); cookieMap[key.trim()] = val; }); return cookieMap; })() }}","type":"object"},{"id":"2","name":"cookieHeader","value":"={{ (() => { const cookies = $('Logon to Cognos1').first().json.headers['set-cookie']; if (!cookies) return ''; return cookies.map(c => c.split(';')[0]).join('; '); })() }}","type":"string"}]},"options":{}},"name":"Parse Cookie Header Value2","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-592,-528],"id":"b37a97c2-5414-45cd-b88c-6b5717be6bb3","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bc5282be-d7ee-49ca-9b32-afecec12c286","leftValue":"={{ Number($json.statusCode) }}","rightValue":299,"operator":{"type":"number","operation":"lt"}},{"id":"d5ed7aa7-5a5c-4c7f-a86d-7e8993c69f49","leftValue":"={{ Number($json.statusCode) }}","rightValue":200,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-144,368],"id":"276da382-df38-4d2f-975f-db646209ae88","name":"if good status code"},{"parameters":{"binaryPropertyName":"=data","options":{"delimiter":"={{ String.fromCodePoint(9) }}"}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[80,352],"id":"241228fe-81ee-4fc7-a474-03eec5d069dc","name":"tsv to json1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"645a11bd-08bb-444c-87af-f537e75358d9","leftValue":"={{ $json.query.selection}}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-592,992],"id":"72518d6a-0bd8-4422-981a-900e74d43048","name":"is 'selection' valid"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7fba6c27-e368-4e3f-9244-6247f65776dc","leftValue":"={{ $('Edit Fields2').item.json.query.fmt }}","rightValue":"CSV","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-160,896],"id":"40ee8b7f-b476-4a36-a45c-330f4a13dc8a","name":"csv?"},{"parameters":{"respondWith":"binary","options":{"responseCode":"={{ $json.statusCode }}"}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[80,880],"id":"ba461f00-4508-4600-96af-0583ad0d0c1d","name":"Respond to Webhook5"}],"connections":{"Call 'cognos-webhooks'":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Authenticated Request":{"main":[[{"node":"tsv to json","type":"main","index":0}]]},"Call 'cognos-webhooks'1":{"main":[[{"node":"if good status code","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Call 'cognos-webhooks'1","type":"main","index":0}]]},"getUsers":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Call 'cognos-webhooks'","type":"main","index":0}]]},"getRoles":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Call 'cognos-webhooks'2":{"main":[[{"node":"csv?","type":"main","index":0}]]},"getEncounters":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"is 'selection' valid","type":"main","index":0}]]},"Call 'cognos-webhooks'3":{"main":[[{"node":"Respond to Webhook3","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Call 'cognos-webhooks'3","type":"main","index":0}]]},"getRoles1":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Authenticated Request1":{"main":[[{"node":"XML","type":"main","index":0}]]},"getUsers1":{"main":[[{"node":"Logon to Cognos1","type":"main","index":0}]]},"XML":{"main":[[{"node":"Respond to Webhook4","type":"main","index":0}]]},"Logon to Cognos1":{"main":[[{"node":"Parse Cookie Header Value2","type":"main","index":0}]]},"Parse Cookie Header Value2":{"main":[[{"node":"Authenticated Request1","type":"main","index":0}]]},"if good status code":{"main":[[{"node":"tsv to json1","type":"main","index":0}],[{"node":"Respond to Webhook1","type":"main","index":0}]]},"tsv to json1":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"is 'selection' valid":{"main":[[{"node":"Call 'cognos-webhooks'2","type":"main","index":0}],[{"node":"Error","type":"main","index":0}]]},"csv?":{"main":[[{"node":"Respond to Webhook5","type":"main","index":0}],[{"node":"Respond to Webhook2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":{"getEncounters":[{"json":{"headers":{"host":"caha:5678","connection":"keep-alive","dnt":"1","upgrade-insecure-requests":"1","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36 Edg/142.0.0.0","accept":"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7","accept-encoding":"gzip, deflate","accept-language":"en-US,en;q=0.9"},"params":{},"query":{"p_encounterIDs":"1331277"},"body":{},"webhookUrl":"http://localhost:5678/webhook-test/ebo/getEncounters","executionMode":"test"}}],"getUsers1":[{"json":{"headers":{"host":"caha:5678","user-agent":"Mozilla/5.0 (Windows NT 10.0; Microsoft Windows 10.0.26100; en-US) PowerShell/7.5.4","accept-encoding":"gzip, deflate, br"},"params":{},"query":{},"body":{},"webhookUrl":"http://localhost:5678/webhook-test/ebo/getReports","executionMode":"test"}}],"Logon to Cognos1":[{"json":{"data":"<auth:accountInfo xmlns:auth=\"http://developer.cognos.com/schemas/ccs/auth/types/1\"><auth:accountID>CAMID(\"eBO:u:212113\")</auth:accountID><auth:displayName>Report User</auth:displayName></auth:accountInfo>","headers":{"date":"Mon, 17 Nov 2025 05:02:29 GMT","content-type":"text/xml; charset=UTF-8","transfer-encoding":"chunked","connection":"close","set-cookie":["ApplicationGatewayAffinityCORS=091707f0dfb241d588e4ef5300815b6b; Path=/; SameSite=None; Secure","ApplicationGatewayAffinity=091707f0dfb241d588e4ef5300815b6b; Path=/","XSRF-TOKEN=5EOHLmLjs3kEYwqah-fDvg97FdYeiAVx; Path=/bi","CRN=listViewSeparator%3Dnone%26displayMode%3Ddetail%26showHints%3DshowAll%26http%3A%2F%2Fdeveloper.cognos.com%2Fceba%2Fconstants%2FbiDirectionalOptionEnum%23biDirectionalFeaturesEnabled%3Dfalse%26columnsPerPage%3D3%26productLocale%3Den%26backgroundSessionLogging%3D1970-01-01%2B00%253A00%253A00%26showWelcomePage%3Dtrue%26showOptionSummary%3Dtrue%26showHiddenObjects%3Dtrue%26contentLocale%3Den%26skin%3Dcorporate%26http%3A%2F%2Fdeveloper.cognos.com%2Fceba%2Fconstants%2FsystemOptionEnum%23accessibilityFeatures%3Dfalse%26format%3DHTML%26linesPerPage%3D15%26isToolbarDocked%3Dtrue%26timeZoneID%3DAmerica%252FNew_York%26automaticPageRefresh%3D30%26; Path=/bi/v1","cea-ssa=false; Path=/bi/v1","usersessionid=AggAAADl5iNpAAAAAAoAAAAO4FOt9RDBJO61FAAAAKv1J/60A53qEnac7e0M/eJrplqCBwAAAFNIQS0yNTYgAAAAdD50C3s98EsF0lO+zo0PiIFDjrO1UslqG+TjqdtYMNE=; Path=/bi","cam_passport=MTsxMDE6MmU3MDg1Y2EtY2M0NC1jYjEyLWJjZjctMDYwNWU0MTgyNTNhOjA5OTEyMjMyNTU7MDszOzA7; Path=/bi","userCapabilities=f%3Bfdbffc6d%3Bf07c1faf%3Bff27fefa%26AwcAAABTSEEtMjU2FAAAAKv1J%2F60A53qEnac7e0M%2FeJrplqCeGHo13lMm012yflSiD5BKUS72aBucReCAAlWIXSAy2U%3D; Path=/bi/v1","userCapabilitiesEx=ffef9fff%3Bf%3Bfdbffc6d%3Bf07c1faf%3Bff27fefa%26AhQAAACr9Sf%2BtAOd6hJ2nO3tDP3ia6ZaggcAAABTSEEtMjU2IAAAAHeHuZQj5H9Stvi6QNhC7fQMUOoSDtnTLP5Jucox1hEp; Path=/bi/v1","ESERVERID=app01; path=/; HttpOnly; Secure"],"x-ca-affinity":"250726555","cache-control":"must-revalidate, private","expires":"Thu, 01 Jan 1970 00:00:00 GMT","x-ca-transaction":"4j829MljqsldGqClsGs99hhd44yql9CdvyyCj8lC","content-language":"en-US","x-content-type-options":": nosniff","x-xss-protection":": 1;mode=block","x-frame-options":": SAMEORIGIN","strict-transport-security":"max-age=31536000; includeSubDomains; preload;"},"statusCode":200,"statusMessage":"OK"}}],"Parse Cookie Header Value2":[{"json":{"parsedCookies":{"ApplicationGatewayAffinityCORS":"091707f0dfb241d588e4ef5300815b6b","ApplicationGatewayAffinity":"091707f0dfb241d588e4ef5300815b6b","XSRF-TOKEN":"5EOHLmLjs3kEYwqah-fDvg97FdYeiAVx","CRN":"listViewSeparator%3Dnone%26displayMode%3Ddetail%26showHints%3DshowAll%26http%3A%2F%2Fdeveloper.cognos.com%2Fceba%2Fconstants%2FbiDirectionalOptionEnum%23biDirectionalFeaturesEnabled%3Dfalse%26columnsPerPage%3D3%26productLocale%3Den%26backgroundSessionLogging%3D1970-01-01%2B00%253A00%253A00%26showWelcomePage%3Dtrue%26showOptionSummary%3Dtrue%26showHiddenObjects%3Dtrue%26contentLocale%3Den%26skin%3Dcorporate%26http%3A%2F%2Fdeveloper.cognos.com%2Fceba%2Fconstants%2FsystemOptionEnum%23accessibilityFeatures%3Dfalse%26format%3DHTML%26linesPerPage%3D15%26isToolbarDocked%3Dtrue%26timeZoneID%3DAmerica%252FNew_York%26automaticPageRefresh%3D30%26","cea-ssa":"false","usersessionid":"AggAAADl5iNpAAAAAAoAAAAO4FOt9RDBJO61FAAAAKv1J/60A53qEnac7e0M/eJrplqCBwAAAFNIQS0yNTYgAAAAdD50C3s98EsF0lO+zo0PiIFDjrO1UslqG+TjqdtYMNE","cam_passport":"MTsxMDE6MmU3MDg1Y2EtY2M0NC1jYjEyLWJjZjctMDYwNWU0MTgyNTNhOjA5OTEyMjMyNTU7MDszOzA7","userCapabilities":"f%3Bfdbffc6d%3Bf07c1faf%3Bff27fefa%26AwcAAABTSEEtMjU2FAAAAKv1J%2F60A53qEnac7e0M%2FeJrplqCeGHo13lMm012yflSiD5BKUS72aBucReCAAlWIXSAy2U%3D","userCapabilitiesEx":"ffef9fff%3Bf%3Bfdbffc6d%3Bf07c1faf%3Bff27fefa%26AhQAAACr9Sf%2BtAOd6hJ2nO3tDP3ia6ZaggcAAABTSEEtMjU2IAAAAHeHuZQj5H9Stvi6QNhC7fQMUOoSDtnTLP5Jucox1hEp","ESERVERID":"app01"},"cookieHeader":"ApplicationGatewayAffinityCORS=091707f0dfb241d588e4ef5300815b6b; ApplicationGatewayAffinity=091707f0dfb241d588e4ef5300815b6b; XSRF-TOKEN=5EOHLmLjs3kEYwqah-fDvg97FdYeiAVx; CRN=listViewSeparator%3Dnone%26displayMode%3Ddetail%26showHints%3DshowAll%26http%3A%2F%2Fdeveloper.cognos.com%2Fceba%2Fconstants%2FbiDirectionalOptionEnum%23biDirectionalFeaturesEnabled%3Dfalse%26columnsPerPage%3D3%26productLocale%3Den%26backgroundSessionLogging%3D1970-01-01%2B00%253A00%253A00%26showWelcomePage%3Dtrue%26showOptionSummary%3Dtrue%26showHiddenObjects%3Dtrue%26contentLocale%3Den%26skin%3Dcorporate%26http%3A%2F%2Fdeveloper.cognos.com%2Fceba%2Fconstants%2FsystemOptionEnum%23accessibilityFeatures%3Dfalse%26format%3DHTML%26linesPerPage%3D15%26isToolbarDocked%3Dtrue%26timeZoneID%3DAmerica%252FNew_York%26automaticPageRefresh%3D30%26; cea-ssa=false; usersessionid=AggAAADl5iNpAAAAAAoAAAAO4FOt9RDBJO61FAAAAKv1J/60A53qEnac7e0M/eJrplqCBwAAAFNIQS0yNTYgAAAAdD50C3s98EsF0lO+zo0PiIFDjrO1UslqG+TjqdtYMNE=; cam_passport=MTsxMDE6MmU3MDg1Y2EtY2M0NC1jYjEyLWJjZjctMDYwNWU0MTgyNTNhOjA5OTEyMjMyNTU7MDszOzA7; userCapabilities=f%3Bfdbffc6d%3Bf07c1faf%3Bff27fefa%26AwcAAABTSEEtMjU2FAAAAKv1J%2F60A53qEnac7e0M%2FeJrplqCeGHo13lMm012yflSiD5BKUS72aBucReCAAlWIXSAy2U%3D; userCapabilitiesEx=ffef9fff%3Bf%3Bfdbffc6d%3Bf07c1faf%3Bff27fefa%26AhQAAACr9Sf%2BtAOd6hJ2nO3tDP3ia6ZaggcAAABTSEEtMjU2IAAAAHeHuZQj5H9Stvi6QNhC7fQMUOoSDtnTLP5Jucox1hEp; ESERVERID=app01"}}],"getRoles":[{"json":{"headers":{"host":"caha:5678","user-agent":"Mozilla/5.0 (Windows NT 10.0; Microsoft Windows 10.0.26100; en-US) PowerShell/7.5.4","accept-encoding":"gzip, deflate, br"},"params":{},"query":{},"body":{},"webhookUrl":"http://localhost:5678/webhook-test/ebo/getRoles","executionMode":"test"}}]},"versionId":"bd77741e-c03b-4aaf-b401-4891ca6093b0","triggerCount":4,"shared":[{"updatedAt":"2025-11-14T05:08:01.286Z","createdAt":"2025-11-14T05:08:01.286Z","role":"workflow:owner","workflowId":"8kmvY6Vzh3pBcBTy","projectId":"Vpl3Dzdj01oU52k6"}],"tags":[]}