BaGErNEmBtTz3mmm.json
{"updatedAt":"2025-11-14T05:46:40.427Z","createdAt":"2025-11-14T05:46:40.427Z","id":"BaGErNEmBtTz3mmm","name":"My workflow 2","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"e63f9299-a19d-4ba1-93b0-59f458769fb2","name":"response","type":"object","value":"={{ $json.body.payload }}"}]},"options":{}},"id":"7cdca058-e54a-4eae-84ac-f8aa42735d7e","name":"Parse Webhook","type":"n8n-nodes-base.set","position":[-1120,848],"typeVersion":3.3},{"parameters":{"workflowId":"icSLX102kSS9zNdK","options":{}},"id":"42087ed1-1ff8-4503-8b16-e87819f8bfcc","name":"Qualys Create Report","type":"n8n-nodes-base.executeWorkflow","position":[-160,1952],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"47cd1502-3039-4661-a6b1-e20a74056550","name":"report_title","type":"string","value":"={{ $json.response.view.state.values.report_title.report_title_input.value }}"},{"id":"6a8a0cbf-bf3e-4702-956e-a35966d8b9c5","name":"base_url","type":"string","value":"https://qualysapi.qg3.apps.qualys.com"},{"id":"9a15f4db-f006-4ad8-a2c0-4002dd3e2655","name":"output_format","type":"string","value":"={{ $json.response.view.state.values.output_format.output_format_select.selected_option.value }}"},{"id":"13978e05-7e7f-42e9-8645-d28803db8cc9","name":"template_name","type":"string","value":"={{ $json.response.view.state.values.report_template.report_template_select.selected_option.text.text }}"}]},"options":{}},"id":"eceec094-6ec3-4b2d-b1de-2b8f90fe4656","name":"Required Report Variables","type":"n8n-nodes-base.set","position":[-368,1952],"typeVersion":3.3},{"parameters":{"workflowId":"pYPh5FlGZgb36xZO","options":{}},"id":"44480f50-53ce-4cbf-b660-c0479e91de1e","name":"Qualys Start Vulnerability Scan","type":"n8n-nodes-base.executeWorkflow","position":[-160,1744],"typeVersion":1},{"parameters":{"method":"POST","url":"https://slack.com/api/views.open","authentication":"predefinedCredentialType","nodeCredentialType":"slackApi","sendQuery":true,"specifyQuery":"json","jsonQuery":"{\n \"Content-type\": \"application/json\"\n}","sendBody":true,"specifyBody":"json","jsonBody":"= {\n \"trigger_id\": \"{{ $('Parse Webhook').item.json['response']['trigger_id'] }}\",\n \"external_id\": \"Scan Report Generator\",\n \"view\": {\n\t\"title\": {\n\t\t\"type\": \"plain_text\",\n\t\t\"text\": \"Scan Report Generator\",\n\t\t\"emoji\": true\n\t},\n\t\"submit\": {\n\t\t\"type\": \"plain_text\",\n\t\t\"text\": \"Generate Report\",\n\t\t\"emoji\": true\n\t},\n\t\"type\": \"modal\",\n\t\"close\": {\n\t\t\"type\": \"plain_text\",\n\t\t\"text\": \"Cancel\",\n\t\t\"emoji\": true\n\t},\n\t\"blocks\": [\n\t\t{\n\t\t\t\"type\": \"image\",\n\t\t\t\"image_url\": \"https://upload.wikimedia.org/wikipedia/commons/thumb/2/26/Logo-Qualys.svg/300px-Logo-Qualys.svg.png\",\n\t\t\t\"alt_text\": \"Qualys Logo\"\n\t\t},\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"mrkdwn\",\n\t\t\t\t\"text\": \"Select a template and generate a detailed scan report based on the results of your previous scans.\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"type\": \"input\",\n\t\t\t\"block_id\": \"report_template\",\n\t\t\t\"element\": {\n\t\t\t\t\"type\": \"external_select\",\n\t\t\t\t\"placeholder\": {\n\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\"text\": \"Select a report template\",\n\t\t\t\t\t\"emoji\": true\n\t\t\t\t},\n\t\t\t\t\"action_id\": \"report_template_select\"\n\t\t\t},\n\t\t\t\"label\": {\n\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\"text\": \"Report Template\",\n\t\t\t\t\"emoji\": true\n\t\t\t},\n\t\t\t\"hint\": {\n\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\"text\": \"Choose a report template from your Qualys account to structure the output.\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"type\": \"input\",\n\t\t\t\"block_id\": \"report_title\",\n\t\t\t\"element\": {\n\t\t\t\t\"type\": \"plain_text_input\",\n\t\t\t\t\"action_id\": \"report_title_input\",\n\t\t\t\t\"placeholder\": {\n\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\"text\": \"Enter a custom title for the report\"\n\t\t\t\t}\n\t\t\t},\n\t\t\t\"label\": {\n\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\"text\": \"Report Title\",\n\t\t\t\t\"emoji\": true\n\t\t\t},\n\t\t\t\"hint\": {\n\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\"text\": \"Provide a descriptive title for your report. This title will be used in the report header.\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"type\": \"input\",\n\t\t\t\"block_id\": \"output_format\",\n\t\t\t\"element\": {\n\t\t\t\t\"type\": \"static_select\",\n\t\t\t\t\"placeholder\": {\n\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\"text\": \"Select output format\",\n\t\t\t\t\t\"emoji\": true\n\t\t\t\t},\n\t\t\t\t\"options\": [\n\t\t\t\t\t{\n\t\t\t\t\t\t\"text\": {\n\t\t\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\t\t\"text\": \"PDF\",\n\t\t\t\t\t\t\t\"emoji\": true\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"value\": \"pdf\"\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\"text\": {\n\t\t\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\t\t\"text\": \"HTML\",\n\t\t\t\t\t\t\t\"emoji\": true\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"value\": \"html\"\n\t\t\t\t\t},\n\t\t\t\t\t{\n\t\t\t\t\t\t\"text\": {\n\t\t\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\t\t\"text\": \"CSV\",\n\t\t\t\t\t\t\t\"emoji\": true\n\t\t\t\t\t\t},\n\t\t\t\t\t\t\"value\": \"csv\"\n\t\t\t\t\t}\n\t\t\t\t],\n\t\t\t\t\"action_id\": \"output_format_select\"\n\t\t\t},\n\t\t\t\"label\": {\n\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\"text\": \"Output Format\",\n\t\t\t\t\"emoji\": true\n\t\t\t},\n\t\t\t\"hint\": {\n\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\"text\": \"Choose the format in which you want the report to be generated.\"\n\t\t\t}\n\t\t}\n\t]\n}\n}","options":{}},"id":"86d1840a-d2d3-4971-9e6c-fa73c59193f1","name":"Scan Report Task Modal","type":"n8n-nodes-base.httpRequest","position":[-256,928],"typeVersion":4.2},{"parameters":{"method":"POST","url":"https://slack.com/api/views.open","authentication":"predefinedCredentialType","nodeCredentialType":"slackApi","sendQuery":true,"specifyQuery":"json","jsonQuery":"{\n \"Content-type\": \"application/json\"\n}","sendBody":true,"specifyBody":"json","jsonBody":"= {\n \"trigger_id\": \"{{ $('Parse Webhook').item.json['response']['trigger_id'] }}\",\n \"external_id\": \"Scan Report Generator\",\n \"view\": {\n\t\"title\": {\n\t\t\"type\": \"plain_text\",\n\t\t\"text\": \"Vulnerability Scan\",\n\t\t\"emoji\": true\n\t},\n\t\"submit\": {\n\t\t\"type\": \"plain_text\",\n\t\t\"text\": \"Execute Scan\",\n\t\t\"emoji\": true\n\t},\n\t\"type\": \"modal\",\n\t\"close\": {\n\t\t\"type\": \"plain_text\",\n\t\t\"text\": \"Cancel\",\n\t\t\"emoji\": true\n\t},\n\t\"blocks\": [\n\t\t{\n\t\t\t\"type\": \"image\",\n\t\t\t\"image_url\": \"https://upload.wikimedia.org/wikipedia/commons/thumb/2/26/Logo-Qualys.svg/300px-Logo-Qualys.svg.png\",\n\t\t\t\"alt_text\": \"Qualys Logo\"\n\t\t},\n\t\t{\n\t\t\t\"type\": \"section\",\n\t\t\t\"text\": {\n\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\"text\": \"Initiate a network-wide scan to detect and assess security vulnerabilities.\",\n\t\t\t\t\"emoji\": true\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"type\": \"input\",\n\t\t\t\"block_id\": \"option_title\",\n\t\t\t\"element\": {\n\t\t\t\t\"type\": \"plain_text_input\",\n\t\t\t\t\"action_id\": \"text_input-action\",\n\t\t\t\t\"initial_value\": \"Initial Options\"\n\t\t\t},\n\t\t\t\"label\": {\n\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\"text\": \"Option Title\",\n\t\t\t\t\"emoji\": true\n\t\t\t},\n\t\t\t\"hint\": {\n\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\"text\": \"Specify the title of the option profile to use for the scan.\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"type\": \"input\",\n\t\t\t\"block_id\": \"scan_title\",\n\t\t\t\"element\": {\n\t\t\t\t\"type\": \"plain_text_input\",\n\t\t\t\t\"action_id\": \"text_input-action\",\n\t\t\t\t\"placeholder\": {\n\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\"text\": \"Enter your scan title\"\n\t\t\t\t},\n\t\t\t\t\"initial_value\": \"n8n Scan 1\"\n\t\t\t},\n\t\t\t\"label\": {\n\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\"text\": \"Scan Title\",\n\t\t\t\t\"emoji\": true\n\t\t\t},\n\t\t\t\"hint\": {\n\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\"text\": \"Provide a descriptive title for the scan. Up to 2000 characters.\"\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"type\": \"input\",\n\t\t\t\"block_id\": \"asset_groups\",\n\t\t\t\"element\": {\n\t\t\t\t\"type\": \"plain_text_input\",\n\t\t\t\t\"action_id\": \"text_input-action\",\n\t\t\t\t\"placeholder\": {\n\t\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\t\"text\": \"Enter asset groups\"\n\t\t\t\t},\n\t\t\t\t\"initial_value\": \"Group1\"\n\t\t\t},\n\t\t\t\"label\": {\n\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\"text\": \"Asset Groups\",\n\t\t\t\t\"emoji\": true\n\t\t\t},\n\t\t\t\"hint\": {\n\t\t\t\t\"type\": \"plain_text\",\n\t\t\t\t\"text\": \"Specify asset group titles for targeting. Multiple titles must be comma-separated.\"\n\t\t\t}\n\t\t}\n\t]\n}\n}","options":{}},"id":"70c60c31-86a0-4375-bcb0-e07ef0b8bbc1","name":"Vuln Scan Modal","type":"n8n-nodes-base.httpRequest","position":[-256,768],"typeVersion":4.2},{"parameters":{"rules":{"values":[{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.response.callback_id }}","rightValue":"trigger-qualys-vmscan"}]},"renameOutput":true,"outputKey":"Vuln Scan Modal"},{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"02868fd8-2577-4c6d-af5e-a1963cb2f786","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.response.callback_id }}","rightValue":"qualys-scan-report"}]},"renameOutput":true,"outputKey":"Scan Report Modal"},{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"c320c8b8-947b-433a-be82-d2aa96594808","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.response.type }}","rightValue":"view_submission"}]},"renameOutput":true,"outputKey":"Process Submission"}]},"options":{"fallbackOutput":"none"}},"id":"3f2dddd1-9d21-482f-ab56-e580951b8aa4","name":"Route Message","type":"n8n-nodes-base.switch","position":[-944,848],"typeVersion":3},{"parameters":{"assignments":{"assignments":[{"id":"096ff32e-356e-4a85-aad2-01001d69dd46","name":"platformurl","type":"string","value":"https://qualysapi.qg3.apps.qualys.com"},{"id":"070178a6-73b0-458b-8657-20ab4ff0485c","name":"option_title","type":"string","value":"={{ $json.response.view.state.values.option_title['text_input-action'].value }}"},{"id":"3605424b-5bfc-44f0-b6e4-e0d6b1130b8e","name":"scan_title","type":"string","value":"={{ $json.response.view.state.values.scan_title['text_input-action'].value }}"},{"id":"2320d966-b834-46fb-b674-be97cc08682e","name":"asset_groups","type":"string","value":"={{ $json.response.view.state.values.asset_groups['text_input-action'].value }}"}]},"options":{}},"id":"13748203-0339-4967-ad14-901aa023e44e","name":"Required Scan Variables","type":"n8n-nodes-base.set","position":[-368,1744],"typeVersion":3.3},{"parameters":{"rules":{"values":[{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.response.view.title.text }}","rightValue":"Vulnerability Scan"}]},"renameOutput":true,"outputKey":"Vuln Scan"},{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"02868fd8-2577-4c6d-af5e-a1963cb2f786","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.response.view.title.text }}","rightValue":"Scan Report Generator"}]},"renameOutput":true,"outputKey":"Scan Report"}]},"options":{"fallbackOutput":"none"}},"id":"e621d0f6-bf16-463e-afe3-7ab3de92a704","name":"Route Submission","type":"n8n-nodes-base.switch","position":[-640,1344],"typeVersion":3},{"parameters":{"content":"![Imgur](https://uploads.n8n.io/templates/slack.png)\n## Events Webhook Trigger\nThe first node receives all messages from Slack API via Subscription Events API. You can find more information about setting up the subscription events API by [clicking here](https://api.slack.com/apis/connections/events-api). \n\nThe second node extracts the payload from slack into an object that n8n can understand. ","height":567.6433222116042,"width":466.8168310000617,"color":7},"id":"15a43c78-8b45-49a4-adf8-6522eca632f5","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-1456,480],"typeVersion":1},{"parameters":{"content":"![n8n](https://uploads.n8n.io/templates/n8n.png)\n## Efficient Slack Interaction Handling with n8n\n\nThis section of the workflow is designed to efficiently manage and route messages and submissions from Slack based on specific triggers and conditions. When a Slack interaction occurs—such as a user triggering a vulnerability scan or generating a report through a modal—the workflow intelligently routes the message to the appropriate action:\n\n- **Dynamic Routing**: Uses conditions to determine the nature of the Slack interaction, whether it's a direct command to initiate a scan or a request to generate a report.\n- **Modal Management**: Differentiates actions based on modal titles and `callback_id`s, ensuring that each type of submission is processed according to its context.\n- **Streamlined Responses**: After routing, the workflow promptly handles the necessary responses or actions, including closing modal popups and responding to Slack with appropriate confirmation or data.\n\n**Purpose**: This mechanism ensures that all interactions within Slack are handled quickly and accurately, automating responses and actions in real-time to enhance user experience and workflow efficiency.","height":1390.6748140207737,"width":566.0553219408072,"color":7},"id":"20a5f490-e58d-4717-a1f0-735981291ba8","name":"Sticky Note15","type":"n8n-nodes-base.stickyNote","position":[-976,176],"typeVersion":1},{"parameters":{"content":"![Imgur](https://uploads.n8n.io/templates/slack.png)\n## Display Modal Popup\nThis section pops open a modal window that is later used to send data into TheHive. \n\nModals can be customized to perform all sorts of actions. And they are natively mobile! You can see a screenshot of the Slack Modals on the right. \n\nLearn more about them by [clicking here](https://api.slack.com/surfaces/modals)","height":881.1659905894905,"width":396.6025898621133,"color":7},"id":"d7b10a05-0a47-467b-a509-5025898ef779","name":"Sticky Note11","type":"n8n-nodes-base.stickyNote","position":[-400,272],"typeVersion":1},{"parameters":{"content":"![Imgur](https://i.imgur.com/abGF8EO.png)\n## Modal Submission Payload\nThe data input into the Slack Modal makes its way into these set nodes that then pass that data into the Qualys Sub workflows that handle the heavy lifting. \n\n### Two Trigger Options\n- **Trigger a Vulnerability Scan** in the Slack UI which then sends a slack message to a channel of your choice summarizing and linking to the scan in slack\n- **Trigger report creation** in the Slack UI from the previously generated Vulnerability scan and upload a PDF copy of the report directly in a slack channel of your choice","height":950.1640646001949,"width":390.82613196003143,"color":7},"id":"668854eb-c6f8-46e8-b78a-f5cd510472aa","name":"Sticky Note12","type":"n8n-nodes-base.stickyNote","position":[-400,1168],"typeVersion":1},{"parameters":{"respondWith":"noData","options":{"responseCode":204}},"id":"8d98044b-cfc6-42bb-9b5e-226a784091bf","name":"Close Modal Popup","type":"n8n-nodes-base.respondToWebhook","position":[-880,1344],"typeVersion":1.1},{"parameters":{"content":"![n8n](https://uploads.n8n.io/templates/n8n.png)\n## Enhance Security Operations with the Qualys Slack Shortcut Bot!\n\nOur **Qualys Slack Shortcut Bot** is strategically designed to facilitate immediate security operations directly from Slack. This powerful tool allows users to initiate vulnerability scans and generate detailed reports through simple Slack interactions, streamlining the process of managing security assessments.\n\n**Workflow Highlights:**\n- **Interactive Modals**: Utilizes Slack modals to gather user inputs for scan configurations and report generation, providing a user-friendly interface for complex operations.\n- **Dynamic Workflow Execution**: Integrates seamlessly with Qualys to execute vulnerability scans and create reports based on user-specified parameters.\n- **Real-Time Feedback**: Offers instant feedback within Slack, updating users about the status of their requests and delivering reports directly through Slack channels.\n\n\n**Operational Flow:**\n- **Parse Webhook Data**: Captures and parses incoming data from Slack to understand user commands accurately.\n- **Execute Actions**: Depending on the user's selection, the workflow triggers other sub-workflows like 'Qualys Start Vulnerability Scan' or 'Qualys Create Report' for detailed processing.\n- **Respond to Slack**: Ensures that every interaction is acknowledged, maintaining a smooth user experience by managing modal popups and sending appropriate responses.\n\n\n**Setup Instructions:**\n- Verify that Slack and Qualys API integrations are correctly configured for seamless interaction.\n- Customize the modal interfaces to align with your organization's operational protocols and security policies.\n- Test the workflow to ensure that it responds accurately to Slack commands and that the integration with Qualys is functioning as expected.\n\n\n**Need Assistance?**\n- Explore our [Documentation](https://docs.qualys.com) or get help from the [n8n Community](https://community.n8n.io) for more detailed guidance on setup and customization.\n\nDeploy this bot within your Slack environment to significantly enhance the efficiency and responsiveness of your security operations, enabling proactive management of vulnerabilities and streamlined reporting.","height":972.8853473866498,"width":675.1724774900403},"id":"45b58094-2c26-4f16-aa74-f3202e07bca1","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[-2144,480],"typeVersion":1},{"parameters":{"httpMethod":"POST","path":"4f86c00d-ceb4-4890-84c5-850f8e5dec05","responseMode":"responseNode","options":{}},"id":"c7d73a75-c43b-4972-9664-65727fb15658","name":"Webhook","type":"n8n-nodes-base.webhook","position":[-1360,848],"webhookId":"4f86c00d-ceb4-4890-84c5-850f8e5dec05","typeVersion":2},{"parameters":{"respondWith":"noData","options":{}},"id":"7d07b53b-a5a8-41b5-8e85-26da2e7a556a","name":"Respond to Slack Webhook - Vulnerability","type":"n8n-nodes-base.respondToWebhook","position":[-608,768],"typeVersion":1.1},{"parameters":{"respondWith":"noData","options":{"responseCode":200}},"id":"7fb6ccaa-c650-4cb2-85cc-a8a8c8be41c3","name":"Respond to Slack Webhook - Report","type":"n8n-nodes-base.respondToWebhook","position":[-608,928],"typeVersion":1.1},{"parameters":{"content":"### 🙋 Remember to update your Slack Channels\nDon't forget to update the Slack Channels in the Slack nodes in these two subworkflows. \n","height":113.6416448104651,"width":361.46312518523973,"color":5},"id":"0a21a552-4663-4b45-8527-9eff6eeae787","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-384,1600],"typeVersion":1},{"parameters":{"content":"### 🙋 Don't forget your slack credentials!\nThankfully n8n makes it easy, as long as you've added credentials to a normal slack node, these http nodes are a snap to change via the drop down. ","height":113.6416448104651,"width":376.26546828439086,"color":5},"id":"c0a95f7c-0516-496d-bd89-a669ed9c1244","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-400,608],"typeVersion":1},{"parameters":{"content":"![Imgur](https://uploads.n8n.io/templates/qualysscanreport.png)","height":671.013686767174,"width":532.5097590794944,"color":5},"id":"71d189cf-94ad-4b26-9440-17d4d5fd5325","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[0,704],"typeVersion":1},{"parameters":{"content":"![Imgur](https://uploads.n8n.io/templates/qualysmodalscan.png)","height":658.907292269235,"width":535.8333316661616,"color":5},"id":"53cebbff-9835-4a47-a401-6915463f6886","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"content":"![Imgur](https://uploads.n8n.io/templates/qualysscanshortcut.png)\n### 🤖 Triggering this workflow is as easy as typing a backslash in Slack","height":422.00743613240917,"width":596.6847639718076,"color":5},"id":"bee194c2-e5ed-4bf8-9191-396d9afe7683","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[-1600,48],"typeVersion":1}],"connections":{"Webhook":{"main":[[{"node":"Parse Webhook","type":"main","index":0}]]},"Parse Webhook":{"main":[[{"node":"Route Message","type":"main","index":0}]]},"Route Message":{"main":[[{"node":"Respond to Slack Webhook - Vulnerability","type":"main","index":0}],[{"node":"Respond to Slack Webhook - Report","type":"main","index":0}],[{"node":"Close Modal Popup","type":"main","index":0}]]},"Route Submission":{"main":[[{"node":"Required Scan Variables","type":"main","index":0}],[{"node":"Required Report Variables","type":"main","index":0}]]},"Close Modal Popup":{"main":[[{"node":"Route Submission","type":"main","index":0}]]},"Required Scan Variables":{"main":[[{"node":"Qualys Start Vulnerability Scan","type":"main","index":0}]]},"Required Report Variables":{"main":[[{"node":"Qualys Create Report","type":"main","index":0}]]},"Respond to Slack Webhook - Report":{"main":[[{"node":"Scan Report Task Modal","type":"main","index":0}]]},"Respond to Slack Webhook - Vulnerability":{"main":[[{"node":"Vuln Scan Modal","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"b0a10ae2-d663-4b93-8782-0cf1d25a183c","triggerCount":0,"shared":[{"updatedAt":"2025-11-14T05:46:40.427Z","createdAt":"2025-11-14T05:46:40.427Z","role":"workflow:owner","workflowId":"BaGErNEmBtTz3mmm","projectId":"Vpl3Dzdj01oU52k6"}],"tags":[]}