dDChFR16ItL2lyMP.json
{"updatedAt":"2025-11-10T01:01:41.339Z","createdAt":"2025-11-10T01:01:19.278Z","id":"dDChFR16ItL2lyMP","name":"cognos_get_reportid_from_path","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{"ignoreAttrs":true}},"type":"n8n-nodes-base.xml","typeVersion":1,"position":[208,-128],"id":"25f9d1ea-f043-4d14-b987-29033e3bb65e","name":"XML2"},{"parameters":{"url":"=https://gaaaflebo.ecwcloud.com/bi/v1/disp/rds/cognosurl/path{{ $json.reportPath }}","sendQuery":true,"queryParameters":{"parameters":[{}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-XSRF-TOKEN","value":"={{ $json.parsedCookies['XSRF-TOKEN'] }}"},{"name":"Cookie","value":"={{ $json.cookieHeader }}"}]},"options":{"response":{"response":{"responseFormat":"text"}}}},"name":"Get /disp/rds/cognosurl","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-176,32],"id":"8fb780ae-8811-4a6e-8fa0-2d95ac0f6d4f"},{"parameters":{"jsCode":"\n// Get the URL from the incoming data\nconst cognosid = $input.first().json['rds:GetCognosURLResponse']['rds:url']\n    .split('?')[1].split('&')\n    .find(param => param.startsWith('ui.object='))\n    .split('=')\n    .map(decodeURIComponent)[1]\n    .split('\"')[1]\n\n\n// Return the result as a new item in the n8n flow\nreturn [{ cognosid }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[480,-128],"id":"455b1574-4790-45e4-828a-3944db57ec68","name":"Javascript - Get Cognos Id"},{"parameters":{"workflowInputs":{"values":[{"name":"reportPath"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-704,32],"id":"8d562064-0f91-4db0-8eb2-445e22f0561f","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"e88d90ea-e772-4a44-a7ca-f3ddf5e3bbdc","name":"reportPath","value":"={{ $json.reportPath.startsWith('/') ? $json.reportPath : '/' + $json.reportPath }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-384,-96],"id":"34376c12-0eda-4bce-b6e0-c443c345fe48","name":"ensure has leading '/'"}],"connections":{"XML2":{"main":[[{"node":"Javascript - Get Cognos Id","type":"main","index":0}]]},"Get /disp/rds/cognosurl":{"main":[[{"node":"XML2","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"ensure has leading '/'","type":"main","index":0}]]},"ensure has leading '/'":{"main":[[{"node":"Get /disp/rds/cognosurl","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"reportPath":"/Team Content/Cognos Reporting/getUsers"}}]},"versionId":"8b4d799f-c63d-47da-ad54-6b09647610c2","triggerCount":0,"shared":[{"updatedAt":"2025-11-10T01:01:19.278Z","createdAt":"2025-11-10T01:01:19.278Z","role":"workflow:owner","workflowId":"dDChFR16ItL2lyMP","projectId":"Vpl3Dzdj01oU52k6"}],"tags":[]}