eWsmpgS0Vh2SXT6E.json
{"updatedAt":"2025-11-13T18:51:12.325Z","createdAt":"2025-11-13T18:31:10.542Z","id":"eWsmpgS0Vh2SXT6E","name":"get-cognos-token copy copy","active":false,"isArchived":true,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":2}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-288,-192],"id":"781a0198-ec13-4195-9ffc-97d855cf1153","name":"Schedule Trigger"},{"parameters":{"url":"https://gaaaflebo.ecwcloud.com/bi/v1/disp/rds/auth/logon","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","options":{"response":{"response":{"fullResponse":true}}}},"id":"85b04ca3-52c7-4317-9edd-2a8e336317e4","name":"Logon to Cognos1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[592,-1152],"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"1","name":"parsedCookies","value":"={{ (() => { const cookies = $('Logon to Cognos1').first().json.headers['set-cookie']; if (!cookies) return {}; const cookieMap = {}; cookies.forEach(c => { const [pair] = c.split(';'); const [key, val] = pair.split('='); cookieMap[key.trim()] = val; }); return cookieMap; })() }}","type":"object"},{"id":"2","name":"cookieHeader","value":"={{ (() => { const cookies = $('Logon to Cognos1').first().json.headers['set-cookie']; if (!cookies) return ''; return cookies.map(c => c.split(';')[0]).join('; '); })() }}","type":"string"}]},"options":{}},"name":"Parse Cookie Header Value2","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[752,-960],"id":"bbd765fb-39ac-4d5b-bc4a-82c080814980","disabled":true},{"parameters":{"jsCode":"let staticData = $getWorkflowStaticData('global');\nconst j = $input.first().json\nstaticData.parsedCookies = j.parsedCookies\nstaticData.cookieHeader = j.cookieHeader\n// 1. Get the time of the previous execution or init if empty\n// const lastExecutionTime = staticData.lastLogin || new Date(0).getTime();\n\n// 2. Set the time of the current execution (to be used next time)\nstaticData.lastLogin = new Date().getTime();\n\n\n// console.log(staticData)\n\nreturn $input.all()"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[976,-816],"id":"b0735c4f-9a43-42b1-9060-9bb98da56a4c","name":"Code in JavaScript","disabled":true},{"parameters":{"url":"https://gaaaflebo.ecwcloud.com/bi/v1/disp/rds/wsil/path/Team Content/Cognos Reporting","sendQuery":true,"queryParameters":{"parameters":[{}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-XSRF-TOKEN","value":"={{ $json.parsedCookies['XSRF-TOKEN'] }}"},{"name":"Cookie","value":"={{ $json.cookieHeader }}"}]},"options":{"response":{"response":{"fullResponse":true,"neverError":true,"responseFormat":"text"}}}},"name":"Authenticated Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-32,-192],"id":"1bd341df-54d2-4524-b460-3ef48eb3a7b6"},{"parameters":{"jsCode":"const maxAttempts = 3;\nfor (let attempt = 1; attempt <= maxAttempts; attempt++) {\n  try {\n    // Run your API call\n    $\n    const result = await $node[\"HTTP Request\"].run();\n    return result;\n  } catch (e) {\n    console.log(`Attempt ${attempt} failed`);\n    if (attempt < maxAttempts) {\n      await $node[\"Refresh Token\"].run();\n      continue;\n    } else {\n      throw e;\n    }\n  }\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[432,-848],"id":"427d60d5-89b0-48bd-b22c-1a374a16cd5c","name":"return static data"},{"parameters":{"errorMessage":"={{ $json.data }}"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[784,-384],"id":"cad57f16-fad5-4fa8-a68b-c3c214adb3a2","name":"Stop and Error"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"272d7bdf-18b0-4d84-9830-9bad0c30fd7a","leftValue":"={{ $json.statusCode }}","rightValue":403,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[176,-192],"id":"71116fda-d988-4c9e-819c-541df58b6c8f","name":"If"},{"parameters":{"jsCode":"\nconst resp = $input.first().json\nif (resp.statusCode === 403) {\n  // console.log('rejected; reset staticData and restart workflow')\n  \n}\n// console.log($input.first().json)\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[464,-384],"id":"0c724275-84ac-4317-91dc-613f145cdf55","name":"error code 403 - reset staticData"},{"parameters":{"content":"if we catch bad error codes and reset state, we can set the sub-workflow caller to retry (3 times). this way we don't have to do complex looping but just let n8n handle that.\n","height":544,"width":448},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[144,-528],"id":"8d034df0-8d59-4391-832f-fb5c11e3a3f7","name":"Sticky Note"}],"connections":{"Logon to Cognos1":{"main":[[{"node":"Parse Cookie Header Value2","type":"main","index":0}]]},"Parse Cookie Header Value2":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[]]},"Schedule Trigger":{"main":[[{"node":"Authenticated Request","type":"main","index":0}]]},"Authenticated Request":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"error code 403 - reset staticData","type":"main","index":0}]]},"error code 403 - reset staticData":{"main":[[{"node":"Stop and Error","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"global":{"parsedCookies":{"ApplicationGatewayAffinityCORS":"cae616f294a86437d4a61f615f1f5b75","ApplicationGatewayAffinity":"cae616f294a86437d4a61f615f1f5b75","XSRF-TOKEN":"ZslyLZU6eOP8ZnUYQfyXBbYJAWYEJDR-","CRN":"listViewSeparator%3Dnone%26displayMode%3Ddetail%26showHints%3DshowAll%26http%3A%2F%2Fdeveloper.cognos.com%2Fceba%2Fconstants%2FbiDirectionalOptionEnum%23biDirectionalFeaturesEnabled%3Dfalse%26columnsPerPage%3D3%26productLocale%3Den%26backgroundSessionLogging%3D1970-01-01%2B00%253A00%253A00%26showWelcomePage%3Dtrue%26showOptionSummary%3Dtrue%26showHiddenObjects%3Dtrue%26contentLocale%3Den%26skin%3Dcorporate%26http%3A%2F%2Fdeveloper.cognos.com%2Fceba%2Fconstants%2FsystemOptionEnum%23accessibilityFeatures%3Dfalse%26format%3DHTML%26linesPerPage%3D15%26isToolbarDocked%3Dtrue%26timeZoneID%3DAmerica%252FNew_York%26automaticPageRefresh%3D30%26","cea-ssa":"false","usersessionid":"AggAAADwXB9pAAAAAAoAAABtcXyubVcqW/IyFAAAAKv1J/60A53qEnac7e0M/eJrplqCBwAAAFNIQS0yNTYgAAAAylovkIKiqmMRyuKfOG2D81IcLoHU/WKnJY0Ou5PTk08","cam_passport":"MTsxMDE6ZWY4NmQ4ZWItMDE2YS03MjdkLTNkYmItNTkwN2FkZWM2MGEwOjAxNjM0NDk2NjY7MDszOzA7","userCapabilities":"f%3Bfdbffc6d%3Bf07c1faf%3Bff27fefa%26AwcAAABTSEEtMjU2FAAAAKv1J%2F60A53qEnac7e0M%2FeJrplqCRmLA8WS2nOWZq%2BZqppUR%2BQtbqovXpeWoq2QbIkHWURw%3D","userCapabilitiesEx":"ffef9fff%3Bf%3Bfdbffc6d%3Bf07c1faf%3Bff27fefa%26AhQAAACr9Sf%2BtAOd6hJ2nO3tDP3ia6ZaggcAAABTSEEtMjU2IAAAADl5ghCw5z54%2FJdXlJy85nU4VhyWAbSW26I9JCvg1rIY","ESERVERID":"app01"},"cookieHeader":"ApplicationGatewayAffinityCORS=cae616f294a86437d4a61f615f1f5b75; ApplicationGatewayAffinity=cae616f294a86437d4a61f615f1f5b75; XSRF-TOKEN=ZslyLZU6eOP8ZnUYQfyXBbYJAWYEJDR-; CRN=listViewSeparator%3Dnone%26displayMode%3Ddetail%26showHints%3DshowAll%26http%3A%2F%2Fdeveloper.cognos.com%2Fceba%2Fconstants%2FbiDirectionalOptionEnum%23biDirectionalFeaturesEnabled%3Dfalse%26columnsPerPage%3D3%26productLocale%3Den%26backgroundSessionLogging%3D1970-01-01%2B00%253A00%253A00%26showWelcomePage%3Dtrue%26showOptionSummary%3Dtrue%26showHiddenObjects%3Dtrue%26contentLocale%3Den%26skin%3Dcorporate%26http%3A%2F%2Fdeveloper.cognos.com%2Fceba%2Fconstants%2FsystemOptionEnum%23accessibilityFeatures%3Dfalse%26format%3DHTML%26linesPerPage%3D15%26isToolbarDocked%3Dtrue%26timeZoneID%3DAmerica%252FNew_York%26automaticPageRefresh%3D30%26; cea-ssa=false; usersessionid=AggAAADwXB9pAAAAAAoAAABtcXyubVcqW/IyFAAAAKv1J/60A53qEnac7e0M/eJrplqCBwAAAFNIQS0yNTYgAAAAylovkIKiqmMRyuKfOG2D81IcLoHU/WKnJY0Ou5PTk08=; cam_passport=MTsxMDE6ZWY4NmQ4ZWItMDE2YS03MjdkLTNkYmItNTkwN2FkZWM2MGEwOjAxNjM0NDk2NjY7MDszOzA7; userCapabilities=f%3Bfdbffc6d%3Bf07c1faf%3Bff27fefa%26AwcAAABTSEEtMjU2FAAAAKv1J%2F60A53qEnac7e0M%2FeJrplqCRmLA8WS2nOWZq%2BZqppUR%2BQtbqovXpeWoq2QbIkHWURw%3D; userCapabilitiesEx=ffef9fff%3Bf%3Bfdbffc6d%3Bf07c1faf%3Bff27fefa%26AhQAAACr9Sf%2BtAOd6hJ2nO3tDP3ia6ZaggcAAABTSEEtMjU2IAAAADl5ghCw5z54%2FJdXlJy85nU4VhyWAbSW26I9JCvg1rIY; ESERVERID=app01","lastExecution":1763058288834}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"cff10484-d069-4f4a-a94e-5ebec3ccd22a","triggerCount":1,"shared":[{"updatedAt":"2025-11-13T18:31:10.542Z","createdAt":"2025-11-13T18:31:10.542Z","role":"workflow:owner","workflowId":"eWsmpgS0Vh2SXT6E","projectId":"Vpl3Dzdj01oU52k6"}],"tags":[]}