FYwsWWYM2CIj9bnF.json
{"updatedAt":"2025-11-14T21:33:56.033Z","createdAt":"2025-11-13T19:03:03.142Z","id":"FYwsWWYM2CIj9bnF","name":"cognos-runner-pinger","active":true,"isArchived":false,"nodes":[{"parameters":{"content":"## VALIDATE INPUTS\n\n","height":272,"width":480,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[160,240],"id":"c83b73d9-7934-4792-9a93-6dc95fda6fe5","name":"Sticky Note","disabled":true},{"parameters":{"workflowId":{"__rl":true,"value":"0HqvYGZUEJymDX9d","mode":"list","cachedResultUrl":"/workflow/0HqvYGZUEJymDX9d","cachedResultName":"get-cognos-token"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[{"id":"true","displayName":"true","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[512,-560],"id":"196bec9b-b50c-4e59-ba40-7fec97ee63ff","name":"Call 'get-cognos-token'","disabled":true},{"parameters":{"url":"https://gaaaflebo.ecwcloud.com/bi/v1/disp/rds/wsil/path/Team Content/Cognos Reporting","sendQuery":true,"queryParameters":{"parameters":[{}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-XSRF-TOKEN","value":"={{ $json.parsedCookies['XSRF-TOKEN'] }}"},{"name":"Cookie","value":"={{ $json.cookieHeader }}"}]},"options":{"response":{"response":{"responseFormat":"text"}}}},"name":"Authenticated Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1232,-1280],"id":"b6674875-db38-4aa6-873d-ad186ffbc28b","disabled":true},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-240,-1296],"id":"0cd65ea6-94d3-4ab0-85b0-ee9f430a5c9f","name":"Schedule Trigger","disabled":true},{"parameters":{"jsCode":"let staticData = $getWorkflowStaticData('global');\nconst j = $input.first().json\nstaticData.parsedCookies = j.parsedCookies\nstaticData.cookieHeader = j.cookieHeader\n// 1. Get the time of the previous execution or init if empty\n// const lastExecutionTime = staticData.lastLogin || new Date(0).getTime();\n\n// 2. Set the time of the current execution (to be used next time)\nstaticData.lastLogin = new Date().getTime();\n\n\n// console.log(staticData)\n\nreturn $input.all()"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[928,-1632],"id":"28bb2b96-e3c4-4529-867f-94918a55c060","name":"Code in JavaScript","disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.parsedCookies.isEmpty() }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"13fb89c4-1436-4d9a-a540-038617de224c"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"26fb573a-789c-47c3-ab31-d0ac54b306fe","leftValue":"={{ $json.parsedCookies.isNotEmpty() }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[176,-1296],"id":"11f470b5-d03b-4832-86ad-9e0feb733edb","name":"Switch","disabled":true},{"parameters":{"url":"https://gaaaflebo.ecwcloud.com/bi/v1/disp/rds/auth/logon","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","options":{"response":{"response":{"fullResponse":true}}}},"id":"b2518479-7495-4a75-9c1e-e3584f108d8d","name":"Logon to Cognos","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[464,-1632],"credentials":{"httpQueryAuth":{"id":"4Rs9n2fu0AFZ4WWF","name":"Cognos xmlData"}},"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"1","name":"parsedCookies","value":"={{ (() => { const cookies = $('Logon to Cognos').first().json.headers['set-cookie']; if (!cookies) return {}; const cookieMap = {}; cookies.forEach(c => { const [pair] = c.split(';'); const [key, val] = pair.split('='); cookieMap[key.trim()] = val; }); return cookieMap; })() }}","type":"object"},{"id":"2","name":"cookieHeader","value":"={{ (() => { const cookies = $('Logon to Cognos').first().json.headers['set-cookie']; if (!cookies) return ''; return cookies.map(c => c.split(';')[0]).join('; '); })() }}","type":"string"}]},"options":{}},"name":"Parse Cookie Header Value","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[688,-1632],"id":"608c8719-db23-413b-b8cf-7749defc862e","disabled":true},{"parameters":{"jsCode":"let staticData = $getWorkflowStaticData('global');\nif(!staticData.parsedCookies || Object.keys(staticData.parsedCookies).length === 0) {\n  staticData.useCachedToken = false\n}\nreturn staticData"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[640,-48],"id":"bf0f6cbe-2af9-45a9-a02c-947fd8df497c","name":"return static data"},{"parameters":{"url":"https://gaaaflebo.ecwcloud.com/bi/v1/disp/rds/auth/logon","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","options":{"response":{"response":{"fullResponse":true}}}},"id":"2d8c04fb-c6e4-4d44-ab2c-147a02bef422","name":"Logon to Cognos1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1136,144],"credentials":{"httpQueryAuth":{"id":"4Rs9n2fu0AFZ4WWF","name":"Cognos xmlData"}}},{"parameters":{"assignments":{"assignments":[{"id":"1","name":"parsedCookies","value":"={{ (() => { const cookies = $('Logon to Cognos1').first().json.headers['set-cookie']; if (!cookies) return {}; const cookieMap = {}; cookies.forEach(c => { const [pair] = c.split(';'); const [key, val] = pair.split('='); cookieMap[key.trim()] = val; }); return cookieMap; })() }}","type":"object"},{"id":"2","name":"cookieHeader","value":"={{ (() => { const cookies = $('Logon to Cognos1').first().json.headers['set-cookie']; if (!cookies) return ''; return cookies.map(c => c.split(';')[0]).join('; '); })() }}","type":"string"}]},"options":{}},"name":"Parse Cookie Header Value1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1360,144],"id":"3ca82c1c-8244-4ac1-8a96-a31071094861"},{"parameters":{"assignments":{"assignments":[{"id":"1","name":"parsedCookies","value":"={{ (() => { const cookies = $('Logon to Cognos2').first().json.headers['set-cookie']; if (!cookies) return {}; const cookieMap = {}; cookies.forEach(c => { const [pair] = c.split(';'); const [key, val] = pair.split('='); cookieMap[key.trim()] = val; }); return cookieMap; })() }}","type":"object"},{"id":"2","name":"cookieHeader","value":"={{ (() => { const cookies = $('Logon to Cognos2').first().json.headers['set-cookie']; if (!cookies) return ''; return cookies.map(c => c.split(';')[0]).join('; '); })() }}","type":"string"}]},"options":{}},"name":"Parse Cookie Header Value2","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[608,-1184],"id":"ef5678bc-413b-4b1a-a488-64f61b601d68","disabled":true},{"parameters":{"url":"https://gaaaflebo.ecwcloud.com/bi/v1/disp/rds/wsil/path/Team Content/Cognos Reporting","sendQuery":true,"queryParameters":{"parameters":[{}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-XSRF-TOKEN","value":"={{ $json.parsedCookies['XSRF-TOKEN'] }}"},{"name":"Cookie","value":"={{ $json.cookieHeader }}"}]},"options":{"response":{"response":{"responseFormat":"text"}}}},"name":"Authenticated Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1152,-832],"id":"76257987-89ea-46b0-849f-7713f111cf76","disabled":true},{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-320,-848],"id":"f49392a5-eb09-427d-b5c4-b8d72e52b342","name":"Schedule Trigger1","disabled":true},{"parameters":{"jsCode":"// let staticData = $getWorkflowStaticData('global');\n// // $input.first().json.\n// staticData = $input.first().json\n// // 1. Get the time of the previous execution or init if empty\n// const lastExecutionTime = staticData.lastExecution || new Date(0).getTime();\n\n// // 2. Set the time of the current execution (to be used next time)\n// staticData.lastExecution = new Date().getTime();\n\n\nconsole.log($getWorkflowStaticData('global'))\n\nreturn $getWorkflowStaticData('global');"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-112,-848],"id":"b89999f2-6fef-4f2b-8fd6-9943386f8fce","name":"return static data1","disabled":true},{"parameters":{"url":"https://gaaaflebo.ecwcloud.com/bi/v1/disp/rds/auth/logon","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","options":{"response":{"response":{"fullResponse":true}}}},"id":"be517c9a-a0fa-4d48-804b-8db704cd7626","name":"Logon to Cognos2","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[416,-1184],"credentials":{"httpQueryAuth":{"id":"4Rs9n2fu0AFZ4WWF","name":"Cognos xmlData"}},"disabled":true},{"parameters":{"jsCode":"let staticData = $getWorkflowStaticData('global');\nconst j = $input.first().json\nstaticData.parsedCookies = j.parsedCookies\nstaticData.cookieHeader = j.cookieHeader\n// 1. Get the time of the previous execution or init if empty\n// const lastExecutionTime = staticData.lastLogin || new Date(0).getTime();\n\n// 2. Set the time of the current execution (to be used next time)\nstaticData.lastLogin = new Date().getTime();\n\n\n// console.log(staticData)\n\nreturn $input.all()"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[816,-1184],"id":"b160fec5-ddb0-4304-811e-8e58db84a5e8","name":"Code in JavaScript2","disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.parsedCookies.isEmpty() }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"13fb89c4-1436-4d9a-a540-038617de224c"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"26fb573a-789c-47c3-ab31-d0ac54b306fe","leftValue":"={{ $json.parsedCookies.isNotEmpty() }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[96,-848],"id":"909f0e89-1925-466f-9c6b-c4c1c5e51cfe","name":"Switch2","disabled":true},{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-16,-208],"id":"1dbfa4c4-3007-45ed-a986-96826a5682ff","name":"Schedule Trigger2"},{"parameters":{"url":"https://gaaaflebo.ecwcloud.com/bi/v1/disp/rds/wsil/path/Team Content/Cognos Reporting","sendQuery":true,"queryParameters":{"parameters":[{}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-XSRF-TOKEN","value":"={{ $json.parsedCookies['XSRF-TOKEN'] }}"},{"name":"Cookie","value":"={{ $json.cookieHeader }}"}]},"options":{"response":{"response":{"fullResponse":true,"neverError":true,"responseFormat":"text"}}}},"name":"Authenticated Request2","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2736,-720],"id":"5ab6f993-4f1e-41a3-bf57-9c9c65ff4425","alwaysOutputData":false},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"622ecd3d-4a95-4160-83ed-f12ff5eae3e2","leftValue":"={{ $json.rid }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[240,352],"id":"06f8e20c-58be-4fad-a8c4-3070c3da69a7","name":"is RID valid"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"b0df489f-32ae-4a87-ae67-5cc9f31f82cb","leftValue":"={{ $json.statusCode }}","rightValue":200,"operator":{"type":"number","operation":"gte"}},{"id":"29ff9337-d1f7-47aa-ab0e-8cf2dc2e6fef","leftValue":"={{ $json.statusCode }}","rightValue":299,"operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3264,-720],"id":"12286015-7e68-4309-b488-f3de6ebeed5d","name":"if 2xx code"},{"parameters":{"errorMessage":"test"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[3888,-384],"id":"2186a51e-6c7d-4062-8f6f-4311fb238546","name":"Stop and Error"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Schedule Trigger2').isExecuted }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"553ebc4b-5948-4654-aefc-329a31035871"}],"combinator":"and"},"renameOutput":true,"outputKey":"Schedule Trigger"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0f6cd5dc-c684-4d1a-96a3-3131c970d32b","leftValue":"={{ $('Execute').isExecuted }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"getUsers Trigger"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[1792,-64],"id":"148d0bdd-de28-4828-b8d2-043d51ddae9d","name":"Switch3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"b0df489f-32ae-4a87-ae67-5cc9f31f82cb","leftValue":"={{ $json.statusCode }}","rightValue":200,"operator":{"type":"number","operation":"gte"}},{"id":"29ff9337-d1f7-47aa-ab0e-8cf2dc2e6fef","leftValue":"={{ $json.statusCode }}","rightValue":299,"operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3280,-48],"id":"29946833-ae6d-4631-b07c-6b536a96b0f2","name":"if 2xx code1"},{"parameters":{"jsCode":"let staticData = $getWorkflowStaticData('global');\nstaticData.parsedCookies = {}\nstaticData.cookieHeader = {}\nstaticData.useCachedToken = false\n\nreturn staticData"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3664,-384],"id":"77a8d5eb-aa86-47e5-b172-fb38e7bb43c9","name":"return static data3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cc130b16-9875-4426-877e-4d2bdd2a08dd","leftValue":"={{ $json.useCachedToken }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[880,-48],"id":"fffd0bf2-e727-4ac7-b5a1-45374011ea2b","name":"useCachedToken?"},{"parameters":{"jsCode":"let staticData = $getWorkflowStaticData('global');\nconsole.log($('Parse Cookie Header Value1').context)\nif (staticData.useCachedToken) {\n  return staticData\n}\nif ($('Parse Cookie Header Value1').context) {\n  staticData.useCachedToken = true\n  staticData.parsedCookies = $input.first().json.parsedCookies\n  staticData.cookieHeader = $input.first().json.cookieHeader\n  staticData.lastLogin = $now\n  return staticData\n}\n// $input.first().json.parsedCookies\n// staticData.lastSessionRequest = $now\n// console.log(staticData)\n// 1. Get the time of the previous execution or init if empty\n// const lastExecutionTime = staticData.lastLogin || new Date(0).getTime();\n// 2. Set the time of the current execution (to be used next time)\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1584,-64],"id":"16dd35ef-fd2e-4a62-ab6b-43b0ffde6550","name":"Clean StaticData"},{"parameters":{"workflowInputs":{"values":[{"name":"param","type":"object"},{"name":"rid"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-16,-48],"id":"bac539ac-71c0-4a9e-a4b6-ca75e7e64f51","name":"Execute"},{"parameters":{"errorMessage":"rid cannot be empty string"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[464,368],"id":"8f7edf8b-72d6-4583-b462-a3cfa5f4661b","name":"Stop and Error1"},{"parameters":{"url":"=https://gaaaflebo.ecwcloud.com/bi/v1/disp/rds/reportData/report/{{ $('Execute').item.json.rid }}","sendQuery":true,"specifyQuery":"json","jsonQuery":"={{ $('Execute').first().json.param.toJsonString() }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-XSRF-TOKEN","value":"={{ $('Clean StaticData').item.json.parsedCookies['XSRF-TOKEN'] }}"},{"name":"Cookie","value":"={{ $('Clean StaticData').item.json.cookieHeader }}"}]},"options":{"response":{"response":{"fullResponse":true,"neverError":true,"responseFormat":"text"}}}},"name":"make request","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2736,-48],"id":"d940915d-6705-4526-8ebf-dfcbc8606ca5"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Authenticated Request","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Logon to Cognos","type":"main","index":0}],[{"node":"Authenticated Request","type":"main","index":0}]]},"Logon to Cognos":{"main":[[{"node":"Parse Cookie Header Value","type":"main","index":0}]]},"Parse Cookie Header Value":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Logon to Cognos1":{"main":[[{"node":"Parse Cookie Header Value1","type":"main","index":0}]]},"Parse Cookie Header Value1":{"main":[[{"node":"Clean StaticData","type":"main","index":0}]]},"return static data":{"main":[[{"node":"useCachedToken?","type":"main","index":0}]]},"Parse Cookie Header Value2":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"return static data1","type":"main","index":0}]]},"return static data1":{"main":[[{"node":"Switch2","type":"main","index":0}]]},"Logon to Cognos2":{"main":[[{"node":"Parse Cookie Header Value2","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"Authenticated Request1","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"Logon to Cognos2","type":"main","index":0}],[{"node":"Authenticated Request1","type":"main","index":0}]]},"Schedule Trigger2":{"main":[[{"node":"return static data","type":"main","index":0}]]},"Authenticated Request2":{"main":[[{"node":"if 2xx code","type":"main","index":0}]]},"is RID valid":{"main":[[{"node":"return static data","type":"main","index":0}],[{"node":"Stop and Error1","type":"main","index":0}]]},"if 2xx code":{"main":[[],[{"node":"return static data3","type":"main","index":0}]]},"Switch3":{"main":[[{"node":"Authenticated Request2","type":"main","index":0}],[{"node":"make request","type":"main","index":0}]]},"if 2xx code1":{"main":[[],[{"node":"return static data3","type":"main","index":0}]]},"return static data3":{"main":[[{"node":"Stop and Error","type":"main","index":0}]]},"useCachedToken?":{"main":[[{"node":"Clean StaticData","type":"main","index":0}],[{"node":"Logon to Cognos1","type":"main","index":0}]]},"Clean StaticData":{"main":[[{"node":"Switch3","type":"main","index":0}]]},"Execute":{"main":[[{"node":"is RID valid","type":"main","index":0}]]},"make request":{"main":[[{"node":"if 2xx code1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Schedule Trigger1":{"recurrenceRules":[]},"node:Schedule Trigger2":{"recurrenceRules":[]},"global":{"lastLogin":"2025-11-15T18:00:22.953-05:00","lastSessionRequest":"2025-11-13T23:22:49.338-05:00","parsedCookies":{"ApplicationGatewayAffinityCORS":"de5b4b2c5176994550357e6c2ee328ad","ApplicationGatewayAffinity":"de5b4b2c5176994550357e6c2ee328ad","XSRF-TOKEN":"C5iGalCqUonDvJoIVXx9hudUdUZvW_Eb","CRN":"listViewSeparator%3Dnone%26displayMode%3Ddetail%26showHints%3DshowAll%26http%3A%2F%2Fdeveloper.cognos.com%2Fceba%2Fconstants%2FbiDirectionalOptionEnum%23biDirectionalFeaturesEnabled%3Dfalse%26columnsPerPage%3D3%26productLocale%3Den%26backgroundSessionLogging%3D1970-01-01%2B00%253A00%253A00%26showWelcomePage%3Dtrue%26showOptionSummary%3Dtrue%26showHiddenObjects%3Dtrue%26contentLocale%3Den%26skin%3Dcorporate%26http%3A%2F%2Fdeveloper.cognos.com%2Fceba%2Fconstants%2FsystemOptionEnum%23accessibilityFeatures%3Dfalse%26format%3DHTML%26linesPerPage%3D15%26isToolbarDocked%3Dtrue%26timeZoneID%3DAmerica%252FNew_York%26automaticPageRefresh%3D30%26","cea-ssa":"false","usersessionid":"AggAAACGQCJpAAAAAAoAAADjkvfLElhYqMMoFAAAAKv1J/60A53qEnac7e0M/eJrplqCBwAAAFNIQS0yNTYgAAAAbFgq+CPnaq4KhIIqHMCXaLCySyQFAnO2uIhqMPr2Izc","cam_passport":"MTsxMDE6YTU5MmY1YzItMzhmMS1mYzk0LTVjZmQtNjg1MDM1ZmRlYTIxOjA1ODQ4NjQwMjg7MDszOzA7","userCapabilities":"f%3Bfdbffc6d%3Bf07c1faf%3Bff27fefa%26AwcAAABTSEEtMjU2FAAAAKv1J%2F60A53qEnac7e0M%2FeJrplqC19ZfecYA3BdU0VB3XY5YotITq3CF3eN0kbArr2hmIw8%3D","userCapabilitiesEx":"ffef9fff%3Bf%3Bfdbffc6d%3Bf07c1faf%3Bff27fefa%26AhQAAACr9Sf%2BtAOd6hJ2nO3tDP3ia6ZaggcAAABTSEEtMjU2IAAAAOBqNS6iYLgcL%2F6XcSnRf0hf5Ao7hS2EkG03rSgnlmOU","ESERVERID":"app01"},"cookieHeader":"ApplicationGatewayAffinityCORS=de5b4b2c5176994550357e6c2ee328ad; ApplicationGatewayAffinity=de5b4b2c5176994550357e6c2ee328ad; XSRF-TOKEN=C5iGalCqUonDvJoIVXx9hudUdUZvW_Eb; CRN=listViewSeparator%3Dnone%26displayMode%3Ddetail%26showHints%3DshowAll%26http%3A%2F%2Fdeveloper.cognos.com%2Fceba%2Fconstants%2FbiDirectionalOptionEnum%23biDirectionalFeaturesEnabled%3Dfalse%26columnsPerPage%3D3%26productLocale%3Den%26backgroundSessionLogging%3D1970-01-01%2B00%253A00%253A00%26showWelcomePage%3Dtrue%26showOptionSummary%3Dtrue%26showHiddenObjects%3Dtrue%26contentLocale%3Den%26skin%3Dcorporate%26http%3A%2F%2Fdeveloper.cognos.com%2Fceba%2Fconstants%2FsystemOptionEnum%23accessibilityFeatures%3Dfalse%26format%3DHTML%26linesPerPage%3D15%26isToolbarDocked%3Dtrue%26timeZoneID%3DAmerica%252FNew_York%26automaticPageRefresh%3D30%26; cea-ssa=false; usersessionid=AggAAACGQCJpAAAAAAoAAADjkvfLElhYqMMoFAAAAKv1J/60A53qEnac7e0M/eJrplqCBwAAAFNIQS0yNTYgAAAAbFgq+CPnaq4KhIIqHMCXaLCySyQFAnO2uIhqMPr2Izc=; cam_passport=MTsxMDE6YTU5MmY1YzItMzhmMS1mYzk0LTVjZmQtNjg1MDM1ZmRlYTIxOjA1ODQ4NjQwMjg7MDszOzA7; userCapabilities=f%3Bfdbffc6d%3Bf07c1faf%3Bff27fefa%26AwcAAABTSEEtMjU2FAAAAKv1J%2F60A53qEnac7e0M%2FeJrplqC19ZfecYA3BdU0VB3XY5YotITq3CF3eN0kbArr2hmIw8%3D; userCapabilitiesEx=ffef9fff%3Bf%3Bfdbffc6d%3Bf07c1faf%3Bff27fefa%26AhQAAACr9Sf%2BtAOd6hJ2nO3tDP3ia6ZaggcAAABTSEEtMjU2IAAAAOBqNS6iYLgcL%2F6XcSnRf0hf5Ao7hS2EkG03rSgnlmOU; ESERVERID=app01","useCachedToken":true}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Execute":[{"json":{"param":{"fmt":"datasetJSON"},"rid":"i70FBCF76B2F44DEA960593AA63D4F019"}}]},"versionId":"c3a3f662-eaeb-44b8-8da7-7cf193cd6a9a","triggerCount":1,"shared":[{"updatedAt":"2025-11-13T19:03:03.142Z","createdAt":"2025-11-13T19:03:03.142Z","role":"workflow:owner","workflowId":"FYwsWWYM2CIj9bnF","projectId":"Vpl3Dzdj01oU52k6"}],"tags":[]}