FYwsWWYM2CIj9bnF.json
{"updatedAt":"2025-11-13T20:29:00.613Z","createdAt":"2025-11-13T19:03:03.142Z","id":"FYwsWWYM2CIj9bnF","name":"cognos-webhooks","active":false,"isArchived":false,"nodes":[{"parameters":{"path":"e9cb62d8-a87a-47f0-8a03-b55ae86f0776","options":{"rawBody":false}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-16,0],"id":"01cee8b9-20ae-4fe2-839c-4a3a771b7d50","name":"Webhook","webhookId":"e9cb62d8-a87a-47f0-8a03-b55ae86f0776"},{"parameters":{"content":"## ERROR HANDLING\n","height":272,"width":480,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[160,128],"id":"c83b73d9-7934-4792-9a93-6dc95fda6fe5","name":"Sticky Note"},{"parameters":{"respondWith":"text","responseBody":"cognos.rid cannot be an empty string","options":{"responseCode":400}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[416,192],"id":"dd4762f6-4443-4517-861f-4052ebc14cd1","name":"Respond to Webhook"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"622ecd3d-4a95-4160-83ed-f12ff5eae3e2","leftValue":"={{ $json.query['cognos.rd'] || \"\"}}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[192,176],"id":"50f8ba75-c951-4a29-a4b3-d243c222e698","name":"is RID valid"},{"parameters":{"workflowId":{"__rl":true,"value":"0HqvYGZUEJymDX9d","mode":"list","cachedResultUrl":"/workflow/0HqvYGZUEJymDX9d","cachedResultName":"get-cognos-token"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[{"id":"true","displayName":"true","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[640,-336],"id":"196bec9b-b50c-4e59-ba40-7fec97ee63ff","name":"Call 'get-cognos-token'","disabled":true},{"parameters":{"url":"https://gaaaflebo.ecwcloud.com/bi/v1/disp/rds/wsil/path/Team Content/Cognos Reporting","sendQuery":true,"queryParameters":{"parameters":[{}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-XSRF-TOKEN","value":"={{ $json.parsedCookies['XSRF-TOKEN'] }}"},{"name":"Cookie","value":"={{ $json.cookieHeader }}"}]},"options":{"response":{"response":{"responseFormat":"text"}}}},"name":"Authenticated Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2064,752],"id":"b6674875-db38-4aa6-873d-ad186ffbc28b"},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[592,736],"id":"0cd65ea6-94d3-4ab0-85b0-ee9f430a5c9f","name":"Schedule Trigger"},{"parameters":{"jsCode":"let staticData = $getWorkflowStaticData('global');\nconst j = $input.first().json\nstaticData.parsedCookies = j.parsedCookies\nstaticData.cookieHeader = j.cookieHeader\n// 1. Get the time of the previous execution or init if empty\n// const lastExecutionTime = staticData.lastLogin || new Date(0).getTime();\n\n// 2. Set the time of the current execution (to be used next time)\nstaticData.lastLogin = new Date().getTime();\n\n\n// console.log(staticData)\n\nreturn $input.all()"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1744,544],"id":"28bb2b96-e3c4-4529-867f-94918a55c060","name":"Code in JavaScript"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.parsedCookies.isEmpty() }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"13fb89c4-1436-4d9a-a540-038617de224c"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"26fb573a-789c-47c3-ab31-d0ac54b306fe","leftValue":"={{ $json.parsedCookies.isNotEmpty() }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[1008,736],"id":"11f470b5-d03b-4832-86ad-9e0feb733edb","name":"Switch"},{"parameters":{"url":"https://gaaaflebo.ecwcloud.com/bi/v1/disp/rds/auth/logon","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","options":{"response":{"response":{"fullResponse":true}}}},"id":"b2518479-7495-4a75-9c1e-e3584f108d8d","name":"Logon to Cognos","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1360,208],"credentials":{"httpQueryAuth":{"id":"4Rs9n2fu0AFZ4WWF","name":"Cognos xmlData"}}},{"parameters":{"assignments":{"assignments":[{"id":"1","name":"parsedCookies","value":"={{ (() => { const cookies = $('Logon to Cognos').first().json.headers['set-cookie']; if (!cookies) return {}; const cookieMap = {}; cookies.forEach(c => { const [pair] = c.split(';'); const [key, val] = pair.split('='); cookieMap[key.trim()] = val; }); return cookieMap; })() }}","type":"object"},{"id":"2","name":"cookieHeader","value":"={{ (() => { const cookies = $('Logon to Cognos').first().json.headers['set-cookie']; if (!cookies) return ''; return cookies.map(c => c.split(';')[0]).join('; '); })() }}","type":"string"}]},"options":{}},"name":"Parse Cookie Header Value","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1520,400],"id":"608c8719-db23-413b-b8cf-7749defc862e"},{"parameters":{"jsCode":"let authenticated = false\nlet staticData = $getWorkflowStaticData('global');\nif (!staticData.parsedCookies || !staticData.cookieHeader) {\n  return {}\n  // staticData.parsedCookies = {}\n  // staticData.cookieHeader = {}\n} \n\n// if (staticData.lastLogin && staticData.lastLogin NOT expired) {\n//   authenticated = true\n// }\n\nstaticData.authenticated = authenticated\nstaticData.lastSessionRequest = $now\n\nconsole.log($getWorkflowStaticData('global'))\n\nreturn $getWorkflowStaticData('global');"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[752,-64],"id":"bf0f6cbe-2af9-45a9-a02c-947fd8df497c","name":"return static data"},{"parameters":{"jsCode":"let staticData = $getWorkflowStaticData('global');\nconst j = $input.first().json\nstaticData.parsedCookies = j.parsedCookies\nstaticData.cookieHeader = j.cookieHeader\n// 1. Get the time of the previous execution or init if empty\n// const lastExecutionTime = staticData.lastLogin || new Date(0).getTime();\n\n// 2. Set the time of the current execution (to be used next time)\nstaticData.lastLogin = new Date().getTime();\n\n\n// console.log(staticData)\n\nreturn $input.all()"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1552,-176],"id":"16dd35ef-fd2e-4a62-ab6b-43b0ffde6550","name":"Code in JavaScript1"},{"parameters":{"url":"https://gaaaflebo.ecwcloud.com/bi/v1/disp/rds/auth/logon","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","options":{"response":{"response":{"fullResponse":true}}}},"id":"2d8c04fb-c6e4-4d44-ab2c-147a02bef422","name":"Logon to Cognos1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1072,-176],"credentials":{"httpQueryAuth":{"id":"4Rs9n2fu0AFZ4WWF","name":"Cognos xmlData"}}},{"parameters":{"assignments":{"assignments":[{"id":"1","name":"parsedCookies","value":"={{ (() => { const cookies = $('Logon to Cognos1').first().json.headers['set-cookie']; if (!cookies) return {}; const cookieMap = {}; cookies.forEach(c => { const [pair] = c.split(';'); const [key, val] = pair.split('='); cookieMap[key.trim()] = val; }); return cookieMap; })() }}","type":"object"},{"id":"2","name":"cookieHeader","value":"={{ (() => { const cookies = $('Logon to Cognos1').first().json.headers['set-cookie']; if (!cookies) return ''; return cookies.map(c => c.split(';')[0]).join('; '); })() }}","type":"string"}]},"options":{}},"name":"Parse Cookie Header Value1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1216,-176],"id":"3ca82c1c-8244-4ac1-8a96-a31071094861"}],"connections":{"Webhook":{"main":[[{"node":"is RID valid","type":"main","index":0}]]},"is RID valid":{"main":[[],[{"node":"Respond to Webhook","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Authenticated Request","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Logon to Cognos","type":"main","index":0}],[{"node":"Authenticated Request","type":"main","index":0}]]},"Logon to Cognos":{"main":[[{"node":"Parse Cookie Header Value","type":"main","index":0}]]},"Parse Cookie Header Value":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Logon to Cognos1":{"main":[[{"node":"Parse Cookie Header Value1","type":"main","index":0}]]},"Parse Cookie Header Value1":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"return static data":{"main":[[{"node":"Logon to Cognos1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.dttlc.com","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36 Edg/142.0.0.0","accept":"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7","accept-encoding":"gzip, br","accept-language":"en-US,en;q=0.9","cdn-loop":"cloudflare; loops=1","cf-access-authenticated-user-email":"eshaan@dttlc.com","cf-access-jwt-assertion":"eyJhbGciOiJSUzI1NiIsImtpZCI6ImZhZTlkMWRhY2FlOWVhMWQxZjkyNjc0YTQ3MjgwNmNjZWM2NTllYTRlZWYwYmZlMzgzMjVhN2VhODMzNTkyOWYifQ.eyJhdWQiOlsiOTIyYzBiNDA5MjE2NDQzZTZjZDY4NjU2MmYxYzBiYWRmMTI1NmZjNzljZTAyZGRkZmFjOGFjMWEzN2NiNTczZiJdLCJlbWFpbCI6ImVzaGFhbkBkdHRsYy5jb20iLCJleHAiOjE3NjMxMzY5MjAsImlhdCI6MTc2MzA1MDUyMCwibmJmIjoxNzYzMDUwNTIwLCJpc3MiOiJodHRwczovL2R0dGxjLmNsb3VkZmxhcmVhY2Nlc3MuY29tIiwidHlwZSI6ImFwcCIsImlkZW50aXR5X25vbmNlIjoiRkFrbWhoUHNTRHVVMkV6RiIsInN1YiI6ImVjODIxOTRiLTUwZjgtNTRjNi05YzY4LTYyOGY1MzUwOTE1MiIsImNvdW50cnkiOiJVUyJ9.lNP83Nj8rUJkUDMqfM_CbSWO2VIA9WXisWTOH7XzGqV-9Byzi9zfpLzs0Tvpr_AdPLmBuDtTT7XCUxjwHVWePmHKjedL-vhdPMzolu5t75LlrSUGnVxXvjp_1BrR_1QHqDV-lWb5usODeWUytgyKijubQE9PaC9hnZfIb558C9_l59bCyvsp0Zi2AJEbfRx2dyJJMqdGGGBsZUVPJ7fiN3BWi9UrFXIo6mLYvj9dJ_bJY1qSTajnn7Tli47_JHKFaqSETE3OxZQyTMdOckLKqlRrRg7d-UXopLmluqQKGju_SFI8d1OVcb6pG8_Sxea4XOaHT9BfzVrQD0ffDfdAmQ","cf-connecting-ip":"108.191.28.90","cf-ipcountry":"US","cf-ray":"99e09c150e7ab887-MIA","cf-visitor":"{\"scheme\":\"https\"}","cf-warp-tag-id":"7a0e35e8-5df6-419d-80cd-0395e3360ce9","connection":"keep-alive","cookie":"CF_AppSession=fa8c12555b7aa673; CF_Authorization=eyJhbGciOiJSUzI1NiIsImtpZCI6ImZhZTlkMWRhY2FlOWVhMWQxZjkyNjc0YTQ3MjgwNmNjZWM2NTllYTRlZWYwYmZlMzgzMjVhN2VhODMzNTkyOWYifQ.eyJhdWQiOlsiOTIyYzBiNDA5MjE2NDQzZTZjZDY4NjU2MmYxYzBiYWRmMTI1NmZjNzljZTAyZGRkZmFjOGFjMWEzN2NiNTczZiJdLCJlbWFpbCI6ImVzaGFhbkBkdHRsYy5jb20iLCJleHAiOjE3NjMxMzY5MjAsImlhdCI6MTc2MzA1MDUyMCwibmJmIjoxNzYzMDUwNTIwLCJpc3MiOiJodHRwczovL2R0dGxjLmNsb3VkZmxhcmVhY2Nlc3MuY29tIiwidHlwZSI6ImFwcCIsImlkZW50aXR5X25vbmNlIjoiRkFrbWhoUHNTRHVVMkV6RiIsInN1YiI6ImVjODIxOTRiLTUwZjgtNTRjNi05YzY4LTYyOGY1MzUwOTE1MiIsImNvdW50cnkiOiJVUyJ9.lNP83Nj8rUJkUDMqfM_CbSWO2VIA9WXisWTOH7XzGqV-9Byzi9zfpLzs0Tvpr_AdPLmBuDtTT7XCUxjwHVWePmHKjedL-vhdPMzolu5t75LlrSUGnVxXvjp_1BrR_1QHqDV-lWb5usODeWUytgyKijubQE9PaC9hnZfIb558C9_l59bCyvsp0Zi2AJEbfRx2dyJJMqdGGGBsZUVPJ7fiN3BWi9UrFXIo6mLYvj9dJ_bJY1qSTajnn7Tli47_JHKFaqSETE3OxZQyTMdOckLKqlRrRg7d-UXopLmluqQKGju_SFI8d1OVcb6pG8_Sxea4XOaHT9BfzVrQD0ffDfdAmQ; rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX19K0M5wzKQpXXyABvm9Q1YiXzb3MwP1mCpbK6%2B99%2FVN5WhKyCS91oQ2GY4H7yCkY7GydURBNiAJOg%3D%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX1%2BfqyidQVaGOUAS%2Bdgvbv1ceAPJsV3F%2BQuvJrLP35tlbI%2BuzcN1b1KC; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX19wHTizpUlUqO1cdr0hDl5akmdQmyifhxbq3m7mDAuWWSz%2FRtRXbO841byH4imk3NVYLxzIbq0u%2Bg%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX18xXgPjuzxLJ2WC5nL2KoWZXcoGvBp4bDEjl9Q5wEJF%2FwaFz624PaSL5xBgUai8fBjDsgNcJV7b83EXIOxR%2BgZxdgOmouv4a%2BxR3zryNCDVHFUoKsMJmyUXBzL4x8pPhrQ09gzOABwOGEd7tPgiaFeUVFwCTD%2Bn%2BtE%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX181ISvAsHDGZu9u6iHuS9OWwxX3C4dEBg27HcUeB5NZTIRoQkvRtpnIV3WdBLV28PnK%2B09PPTjjAe2AhZIQM7teQciSqnj%2F56NuZTaNdLk40Qqp5ISFA6fkup0c7zjNuxHK7OcopYWHAY89CCY4z2hufwbivQClFoQ%3D; rl_session=RudderEncrypt%3AU2FsdGVkX1%2FL3V7jxSk5q4IBSKuxe7Hap6%2BrVdd43MqofZV5vAr5oO4kkWlur4uLThQTPij%2BSVIZX8Y3HLf9uGy8o8Lto2z5ybwA0gy%2BemLVrDr0YoKMQsyaJ1Q1XfNFdNl6afCL6zKshNJXsdlIkg%3D%3D","dnt":"1","priority":"u=0, i","sec-ch-ua":"\"Chromium\";v=\"142\", \"Microsoft Edge\";v=\"142\", \"Not_A Brand\";v=\"99\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"Windows\"","sec-fetch-dest":"document","sec-fetch-mode":"navigate","sec-fetch-site":"none","sec-fetch-user":"?1","upgrade-insecure-requests":"1","x-forwarded-for":"108.191.28.90","x-forwarded-proto":"https"},"params":{},"query":{"cognos.rid":"1"},"body":{},"webhookUrl":"http://localhost:5678/webhook-test/e9cb62d8-a87a-47f0-8a03-b55ae86f0776","executionMode":"test"}}]},"versionId":"ac3bf975-9855-426d-b449-8f97f4a50e3f","triggerCount":0,"shared":[{"updatedAt":"2025-11-13T19:03:03.142Z","createdAt":"2025-11-13T19:03:03.142Z","role":"workflow:owner","workflowId":"FYwsWWYM2CIj9bnF","projectId":"Vpl3Dzdj01oU52k6"}],"tags":[]}