gAItQHfKm06ONUw4.json
{"updatedAt":"2025-11-13T23:23:07.434Z","createdAt":"2025-11-13T18:09:32.345Z","id":"gAItQHfKm06ONUw4","name":"ping-cognos","active":false,"isArchived":false,"nodes":[{"parameters":{"url":"https://gaaaflebo.ecwcloud.com/bi/v1/disp/rds/wsil/path/Team Content/Cognos Reporting","sendQuery":true,"queryParameters":{"parameters":[{}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-XSRF-TOKEN","value":"={{ $json.parsedCookies['XSRF-TOKEN'] }}"},{"name":"Cookie","value":"={{ $json.cookieHeader }}"}]},"options":{"response":{"response":{"responseFormat":"text"}}}},"name":"Authenticated Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1184,-176],"id":"99864f52-7856-43e7-8fd2-5731f5306e99"},{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-288,-192],"id":"cec2d3d5-2d07-4dcb-8f4c-87ad6909ab82","name":"Schedule Trigger"},{"parameters":{"jsCode":"// let staticData = $getWorkflowStaticData('global');\n// // $input.first().json.\n// staticData = $input.first().json\n// // 1. Get the time of the previous execution or init if empty\n// const lastExecutionTime = staticData.lastExecution || new Date(0).getTime();\n\n// // 2. Set the time of the current execution (to be used next time)\n// staticData.lastExecution = new Date().getTime();\n\n\nconsole.log($getWorkflowStaticData('global'))\n\nreturn $getWorkflowStaticData('global');"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-80,-192],"id":"8485c166-044d-4acf-a557-678441a1cada","name":"return static data"},{"parameters":{"url":"https://gaaaflebo.ecwcloud.com/bi/v1/disp/rds/auth/logon","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","options":{"response":{"response":{"fullResponse":true}}}},"id":"bc0c474b-9e4d-4083-9105-465f04194d85","name":"Logon to Cognos1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[448,-528],"credentials":{"httpQueryAuth":{"id":"4Rs9n2fu0AFZ4WWF","name":"Cognos xmlData"}}},{"parameters":{"assignments":{"assignments":[{"id":"1","name":"parsedCookies","value":"={{ (() => { const cookies = $('Logon to Cognos1').first().json.headers['set-cookie']; if (!cookies) return {}; const cookieMap = {}; cookies.forEach(c => { const [pair] = c.split(';'); const [key, val] = pair.split('='); cookieMap[key.trim()] = val; }); return cookieMap; })() }}","type":"object"},{"id":"2","name":"cookieHeader","value":"={{ (() => { const cookies = $('Logon to Cognos1').first().json.headers['set-cookie']; if (!cookies) return ''; return cookies.map(c => c.split(';')[0]).join('; '); })() }}","type":"string"}]},"options":{}},"name":"Parse Cookie Header Value2","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[640,-528],"id":"f1f0ef79-7a6a-41e6-81a7-9f0f88ac4563"},{"parameters":{"jsCode":"let staticData = $getWorkflowStaticData('global');\nconst j = $input.first().json\nstaticData.parsedCookies = j.parsedCookies\nstaticData.cookieHeader = j.cookieHeader\n// 1. Get the time of the previous execution or init if empty\n// const lastExecutionTime = staticData.lastLogin || new Date(0).getTime();\n\n// 2. Set the time of the current execution (to be used next time)\nstaticData.lastLogin = new Date().getTime();\n\n\n// console.log(staticData)\n\nreturn $input.all()"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[848,-528],"id":"e66a488d-91b6-47db-945c-ac466d2e5975","name":"Code in JavaScript"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.parsedCookies.isEmpty() }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"13fb89c4-1436-4d9a-a540-038617de224c"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"26fb573a-789c-47c3-ab31-d0ac54b306fe","leftValue":"={{ $json.parsedCookies.isNotEmpty() }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[128,-192],"id":"5503738a-691e-4abe-abec-e77d990c00f3","name":"Switch"}],"connections":{"return static data":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Logon to Cognos1":{"main":[[{"node":"Parse Cookie Header Value2","type":"main","index":0}]]},"Parse Cookie Header Value2":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Authenticated Request","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"return static data","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Logon to Cognos1","type":"main","index":0}],[{"node":"Authenticated Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"SLQFCYpbOXNg3eTW"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"global":{"parsedCookies":{"ApplicationGatewayAffinityCORS":"cae616f294a86437d4a61f615f1f5b75","ApplicationGatewayAffinity":"cae616f294a86437d4a61f615f1f5b75","XSRF-TOKEN":"ZslyLZU6eOP8ZnUYQfyXBbYJAWYEJDR-","CRN":"listViewSeparator%3Dnone%26displayMode%3Ddetail%26showHints%3DshowAll%26http%3A%2F%2Fdeveloper.cognos.com%2Fceba%2Fconstants%2FbiDirectionalOptionEnum%23biDirectionalFeaturesEnabled%3Dfalse%26columnsPerPage%3D3%26productLocale%3Den%26backgroundSessionLogging%3D1970-01-01%2B00%253A00%253A00%26showWelcomePage%3Dtrue%26showOptionSummary%3Dtrue%26showHiddenObjects%3Dtrue%26contentLocale%3Den%26skin%3Dcorporate%26http%3A%2F%2Fdeveloper.cognos.com%2Fceba%2Fconstants%2FsystemOptionEnum%23accessibilityFeatures%3Dfalse%26format%3DHTML%26linesPerPage%3D15%26isToolbarDocked%3Dtrue%26timeZoneID%3DAmerica%252FNew_York%26automaticPageRefresh%3D30%26","cea-ssa":"false","usersessionid":"AggAAADwXB9pAAAAAAoAAABtcXyubVcqW/IyFAAAAKv1J/60A53qEnac7e0M/eJrplqCBwAAAFNIQS0yNTYgAAAAylovkIKiqmMRyuKfOG2D81IcLoHU/WKnJY0Ou5PTk08","cam_passport":"MTsxMDE6ZWY4NmQ4ZWItMDE2YS03MjdkLTNkYmItNTkwN2FkZWM2MGEwOjAxNjM0NDk2NjY7MDszOzA7","userCapabilities":"f%3Bfdbffc6d%3Bf07c1faf%3Bff27fefa%26AwcAAABTSEEtMjU2FAAAAKv1J%2F60A53qEnac7e0M%2FeJrplqCRmLA8WS2nOWZq%2BZqppUR%2BQtbqovXpeWoq2QbIkHWURw%3D","userCapabilitiesEx":"ffef9fff%3Bf%3Bfdbffc6d%3Bf07c1faf%3Bff27fefa%26AhQAAACr9Sf%2BtAOd6hJ2nO3tDP3ia6ZaggcAAABTSEEtMjU2IAAAADl5ghCw5z54%2FJdXlJy85nU4VhyWAbSW26I9JCvg1rIY","ESERVERID":"app01"},"cookieHeader":"ApplicationGatewayAffinityCORS=cae616f294a86437d4a61f615f1f5b75; ApplicationGatewayAffinity=cae616f294a86437d4a61f615f1f5b75; XSRF-TOKEN=ZslyLZU6eOP8ZnUYQfyXBbYJAWYEJDR-; CRN=listViewSeparator%3Dnone%26displayMode%3Ddetail%26showHints%3DshowAll%26http%3A%2F%2Fdeveloper.cognos.com%2Fceba%2Fconstants%2FbiDirectionalOptionEnum%23biDirectionalFeaturesEnabled%3Dfalse%26columnsPerPage%3D3%26productLocale%3Den%26backgroundSessionLogging%3D1970-01-01%2B00%253A00%253A00%26showWelcomePage%3Dtrue%26showOptionSummary%3Dtrue%26showHiddenObjects%3Dtrue%26contentLocale%3Den%26skin%3Dcorporate%26http%3A%2F%2Fdeveloper.cognos.com%2Fceba%2Fconstants%2FsystemOptionEnum%23accessibilityFeatures%3Dfalse%26format%3DHTML%26linesPerPage%3D15%26isToolbarDocked%3Dtrue%26timeZoneID%3DAmerica%252FNew_York%26automaticPageRefresh%3D30%26; cea-ssa=false; usersessionid=AggAAADwXB9pAAAAAAoAAABtcXyubVcqW/IyFAAAAKv1J/60A53qEnac7e0M/eJrplqCBwAAAFNIQS0yNTYgAAAAylovkIKiqmMRyuKfOG2D81IcLoHU/WKnJY0Ou5PTk08=; cam_passport=MTsxMDE6ZWY4NmQ4ZWItMDE2YS03MjdkLTNkYmItNTkwN2FkZWM2MGEwOjAxNjM0NDk2NjY7MDszOzA7; userCapabilities=f%3Bfdbffc6d%3Bf07c1faf%3Bff27fefa%26AwcAAABTSEEtMjU2FAAAAKv1J%2F60A53qEnac7e0M%2FeJrplqCRmLA8WS2nOWZq%2BZqppUR%2BQtbqovXpeWoq2QbIkHWURw%3D; userCapabilitiesEx=ffef9fff%3Bf%3Bfdbffc6d%3Bf07c1faf%3Bff27fefa%26AhQAAACr9Sf%2BtAOd6hJ2nO3tDP3ia6ZaggcAAABTSEEtMjU2IAAAADl5ghCw5z54%2FJdXlJy85nU4VhyWAbSW26I9JCvg1rIY; ESERVERID=app01","lastExecution":1763058288834}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"530479bf-7519-4059-9972-888131585184","triggerCount":1,"shared":[{"updatedAt":"2025-11-13T18:09:32.345Z","createdAt":"2025-11-13T18:09:32.345Z","role":"workflow:owner","workflowId":"gAItQHfKm06ONUw4","projectId":"Vpl3Dzdj01oU52k6"}],"tags":[]}