jZcThuML0i1hLHZP.json
{"updatedAt":"2025-11-09T00:38:35.510Z","createdAt":"2025-11-08T23:46:10.879Z","id":"jZcThuML0i1hLHZP","name":"get luma online scheduled appointments","active":false,"isArchived":false,"nodes":[{"parameters":{"url":"https://api.lumahealth.io/api/v2/patientFormTemplates/68b9cabf998c0695610b9186","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"={{ $json.token_type }} {{ $json.access_token }}"}]},"options":{"response":{}}},"id":"26c57093-4ea7-4763-b89a-d5d6bfc5a4d2","name":"Get Patient Form","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-1936,384],"disabled":true},{"parameters":{"method":"POST","url":"https://api.lumahealth.io/api/v2/auth/token","authentication":"genericCredentialType","genericAuthType":"httpCustomAuth","options":{"response":{}}},"id":"49ba650f-8dff-4d61-8d95-599dad15110d","name":"Get Luma Token","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-2288,-336],"credentials":{"httpCustomAuth":{"id":"eMkdzXUFTdBTtFdI","name":"Custom Auth account"}}},{"parameters":{"url":"https://api.lumahealth.io/api/v2/patientFormTemplates/68b9cabf998c0695610b9186","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"={{ $json.token_type }} {{ $json.access_token }}"}]},"options":{"response":{}}},"id":"934bf374-1058-4a5a-93e1-ebfa5710628a","name":"Get Patient Form1","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-2048,352],"disabled":true},{"parameters":{"url":"https://api.lumahealth.io/api/v2/patientForms","sendQuery":true,"queryParameters":{"parameters":[{"name":"patientFormTemplate","value":"68b9cabf998c0695610b9186"},{"name":"createdAt","value":">2025-10-29T00:00:00Z"},{"name":"_select","value":"=createdAt,updatedAt,__v,currentItemId,calculationResult,finalDisposition,completedAt,offer,patientFormTemplateType,patientFormTemplateName,facilities,lumabot,prePopulatingStatus,status,processingStatus,_id,deleted,user,createdBy,updatedBy,patient,patientFormTemplate,answers"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"={{ $json.token_type }} {{ $json.access_token }}"}]},"options":{"response":{}}},"id":"0a649736-22a5-42ab-bf6b-7e89e297f937","name":"Get Appointment Requests","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-1760,384],"disabled":true},{"parameters":{"jsCode":"// Get the last successful execution time\nconst lastRunTime = $workflow.lastSuccessfulExecutionTime;\n\nlet baseDate; // This will be a Date object\n\nif (lastRunTime) {\n  // It has run before, use that time\n  baseDate = new Date(lastRunTime);\n} else {\n  // This is the first run, fall back to 7 days ago\n  baseDate = new Date(); // Start with \"now\"\n  baseDate.setDate(baseDate.getDate() - 7);\n}\n\n// --- NEW STEP ---\n// Subtract one additional day for safety\nbaseDate.setDate(baseDate.getDate() - 1);\n// --- END NEW STEP ---\n\n// Convert the final date to an ISO string\nconst finalSinceTime = baseDate.toISOString();\n\n// Return a new object.\nreturn {\n  sinceTime: finalSinceTime\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2000,-112],"id":"4071068e-7c09-47fe-bd02-e63fa44689d3","name":"Get last run time","notesInFlow":true,"notes":"-1 day for safety"},{"parameters":{"url":"https://api.lumahealth.io/api/v2/patientForms","sendQuery":true,"queryParameters":{"parameters":[{"name":"patientFormTemplate","value":"68b9cabf998c0695610b9186"},{"name":"_select","value":"=_id"},{"name":"createdAt","value":"=>{{ $('Get last run time').item.json.sinceTime }}"},{"name":"status","value":"completed"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Get Luma Token').item.json.access_token }}"}]},"options":{"pagination":{"pagination":{"parameters":{"parameters":[{"name":"page","value":"={{ $pageCount + 1 }}"}]},"paginationCompleteWhen":"other","completeExpression":"={{ $response.body.size === 0 }}"}}}},"id":"e374b5dc-e44d-4b77-baee-ac28fc5ed475","name":"Appointment Requests","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-1744,-112]},{"parameters":{"fieldToSplitOut":"response","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1040,-112],"id":"f78aa34f-f2bd-4e4b-a493-9fad37779cd5","name":"Split Out1"},{"parameters":{"mode":"json","options":{}},"name":"Loop Step (Process Item)","type":"n8n-nodes-base.set","typeVersion":3,"position":[-160,352],"id":"a447399c-dc5d-4bd1-ad8e-90da1fa9dd25","disabled":true},{"parameters":{"options":{"reset":true}},"name":"Split Loop (Split In Batches)","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-544,288],"id":"44583327-7cdc-48d6-a79e-f561f8ce5432","disabled":true},{"parameters":{"options":{}},"name":"Input Data (Array)","type":"n8n-nodes-base.set","typeVersion":3,"position":[-816,320],"id":"6b677f85-e013-48b6-82e8-67c48b4f4f0b","disabled":true},{"parameters":{"fieldToSplitOut":"={{ $('Appointment Requests').item.json.response }}","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1312,304],"id":"2932dbdd-6043-4b1d-ae28-a3f38e9e9de6","name":"Split Out","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"2571d0a4-0982-4685-a71a-8b31f5f65628","name":"response","value":"={{ $json.response.map( r => r._id) }}","type":"array"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1504,-112],"id":"b788deca-cae9-4874-adb5-92260ce6bd4c","name":"Edit Fields"},{"parameters":{"jsCode":"const combinedResponses = $input.all().reduce((acc, item) => {\n  // Check if 'response' exists and is an array before concatenating\n  if (item.json.response && Array.isArray(item.json.response)) {\n    return acc.concat(item.json.response);\n  }\n  return acc;\n}, []);\n\n// Return a single item with the combined array\nreturn [{\n  json: {\n    response: combinedResponses\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1280,-112],"id":"6f8dbbf1-f37d-478a-9be7-1f2bebdfaa2b","name":"Code in JavaScript"},{"parameters":{"operation":"rowNotExists","dataTableId":{"__rl":true,"value":"nIbzJXg8e9VTZQiP","mode":"list","cachedResultName":"processed_appointment_request_ids","cachedResultUrl":"/projects/k9zMNRrQ4dgPR7eG/datatables/nIbzJXg8e9VTZQiP"},"filters":{"conditions":[{"keyName":"luma_id","keyValue":"={{ $json.response }}"}]}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[-752,-208],"id":"a98ba300-e87c-49e1-b701-d0fb000cc6e8","name":"If row does not exist"},{"parameters":{"dataTableId":{"__rl":true,"value":"nIbzJXg8e9VTZQiP","mode":"list","cachedResultName":"processed_appointment_request_ids","cachedResultUrl":"/projects/k9zMNRrQ4dgPR7eG/datatables/nIbzJXg8e9VTZQiP"},"columns":{"mappingMode":"defineBelow","value":{"luma_id":"={{ $('If row does not exist').item.json.response }}","link":"={{ $json.message_url }}"},"matchingColumns":["luma_id"],"schema":[{"id":"luma_id","displayName":"luma_id","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"link","displayName":"link","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[96,-464],"id":"c962011a-b50b-467c-8c07-b6cf7ee35d75","name":"Insert row"},{"parameters":{"workflowId":{"__rl":true,"value":"XgV2hg4GBk525b9D","mode":"list","cachedResultUrl":"/workflow/XgV2hg4GBk525b9D","cachedResultName":"send message on teams"},"workflowInputs":{"mappingMode":"defineBelow","value":{"luma_patient_id":"={{ $json.patient }}","luma_form_id":"={{ $json._id }}","office":"={{ $json.answers.find(item => item.id === 'item-175701536912549863').answer }}","reason":"={{ $json.answers.find(item => item.id === 'item-175821359631732258').answer }}"},"matchingColumns":[],"schema":[{"id":"office","displayName":"office","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"luma_form_id","displayName":"luma_form_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"luma_patient_id","displayName":"luma_patient_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-176,-240],"id":"78e097b1-76d6-4261-9f75-5db7ec72b347","name":"Call 'send message on teams'"},{"parameters":{"url":"=https://api.lumahealth.io/api/v2/patientForms/{{ $json.response }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"patientFormTemplate","value":"68b9cabf998c0695610b9186"},{"name":"_select","value":"createdAt,updatedAt,__v,currentItemId,calculationResult,finalDisposition,completedAt,offer,patientFormTemplateType,patientFormTemplateName,facilities,lumabot,prePopulatingStatus,status,processingStatus,_id,deleted,user,createdBy,updatedBy,patient,patientFormTemplate,answers"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Get Luma Token').first().json.access_token }}"}]},"options":{"response":{"response":{}}}},"id":"b3e25369-579e-479f-a206-fc69a90fdb45","name":"Get Appointment Request Detail","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-512,-368]},{"parameters":{"assignments":{"assignments":[{"id":"2571d0a4-0982-4685-a71a-8b31f5f65628","name":"tok","value":"={{ $json.access_token }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2048,-336],"id":"ed1c31af-6f40-49e9-8ac6-c0e7ec29809e","name":"Edit Fields1"},{"parameters":{"url":"https://api.lumahealth.io/api/v2/reports","authentication":"genericCredentialType","genericAuthType":"oAuth2Api","options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-2320,352],"id":"819f14f2-4afc-4769-9c14-2adc66597220","name":"HTTP Request","disabled":true},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":3}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2544,-208],"id":"6f273fe1-b8ff-49c7-a6ed-7981a47455a8","name":"Schedule Trigger"}],"connections":{"Get Luma Token":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Appointment Requests":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Get last run time":{"main":[[{"node":"Appointment Requests","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"If row does not exist","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"If row does not exist":{"main":[[{"node":"Get Appointment Request Detail","type":"main","index":0}]]},"Call 'send message on teams'":{"main":[[{"node":"Insert row","type":"main","index":0}]]},"Get Appointment Request Detail":{"main":[[{"node":"Call 'send message on teams'","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Get last run time","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get Luma Token","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"ec45db01-e002-44bf-878b-d561f2c8b578","triggerCount":0,"shared":[{"updatedAt":"2025-11-08T23:46:10.879Z","createdAt":"2025-11-08T23:46:10.879Z","role":"workflow:owner","workflowId":"jZcThuML0i1hLHZP","projectId":"Vpl3Dzdj01oU52k6"}],"tags":[]}