jZcThuML0i1hLHZP.json
{"updatedAt":"2025-11-10T00:27:43.513Z","createdAt":"2025-11-08T23:46:10.879Z","id":"jZcThuML0i1hLHZP","name":"get luma online scheduled appointments","active":false,"isArchived":true,"nodes":[{"parameters":{"url":"https://api.lumahealth.io/api/v2/patientFormTemplates/68b9cabf998c0695610b9186","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"={{ $json.token_type }} {{ $json.access_token }}"}]},"options":{"response":{}}},"id":"26c57093-4ea7-4763-b89a-d5d6bfc5a4d2","name":"Get Patient Form","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-1936,608],"disabled":true},{"parameters":{"method":"POST","url":"https://api.lumahealth.io/api/v2/auth/token","authentication":"genericCredentialType","genericAuthType":"httpCustomAuth","options":{"response":{}}},"id":"49ba650f-8dff-4d61-8d95-599dad15110d","name":"Get Luma Token","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-2288,-336],"credentials":{"httpCustomAuth":{"id":"eMkdzXUFTdBTtFdI","name":"Custom Auth account"}}},{"parameters":{"url":"https://api.lumahealth.io/api/v2/patientFormTemplates/68b9cabf998c0695610b9186","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"={{ $json.token_type }} {{ $json.access_token }}"}]},"options":{"response":{}}},"id":"934bf374-1058-4a5a-93e1-ebfa5710628a","name":"Get Patient Form1","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-2048,576],"disabled":true},{"parameters":{"url":"https://api.lumahealth.io/api/v2/patientForms","sendQuery":true,"queryParameters":{"parameters":[{"name":"patientFormTemplate","value":"68b9cabf998c0695610b9186"},{"name":"createdAt","value":">2025-10-29T00:00:00Z"},{"name":"_select","value":"=createdAt,updatedAt,__v,currentItemId,calculationResult,finalDisposition,completedAt,offer,patientFormTemplateType,patientFormTemplateName,facilities,lumabot,prePopulatingStatus,status,processingStatus,_id,deleted,user,createdBy,updatedBy,patient,patientFormTemplate,answers"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"={{ $json.token_type }} {{ $json.access_token }}"}]},"options":{"response":{}}},"id":"0a649736-22a5-42ab-bf6b-7e89e297f937","name":"Get Appointment Requests","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-1760,608],"disabled":true},{"parameters":{"jsCode":"// Get the last successful execution time\nconst lastRunTime = $workflow.lastSuccessfulExecutionTime;\n\nlet baseDate; // This will be a Date object\n\nif (lastRunTime) {\n  // It has run before, use that time\n  baseDate = new Date(lastRunTime);\n} else {\n  // This is the first run, fall back to 7 days ago\n  baseDate = new Date(); // Start with \"now\"\n  baseDate.setDate(baseDate.getDate() - 7);\n}\n\n// --- NEW STEP ---\n// Subtract one additional day for safety\nbaseDate.setDate(baseDate.getDate() - 1);\n// --- END NEW STEP ---\n\n// Convert the final date to an ISO string\nconst finalSinceTime = baseDate.toISOString();\n\n// Return a new object.\nreturn {\n  sinceTime: finalSinceTime\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2000,-112],"id":"4071068e-7c09-47fe-bd02-e63fa44689d3","name":"Get last run time","notesInFlow":true,"notes":"-1 day for safety"},{"parameters":{"url":"https://api.lumahealth.io/api/v2/patientForms","sendQuery":true,"queryParameters":{"parameters":[{"name":"patientFormTemplate","value":"68b9cabf998c0695610b9186"},{"name":"_select","value":"=_id"},{"name":"createdAt","value":"=>{{ $('Get last run time').item.json.sinceTime }}"},{"name":"status","value":"completed"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Get Luma Token').item.json.access_token }}"}]},"options":{"pagination":{"pagination":{"parameters":{"parameters":[{"name":"page","value":"={{ $pageCount + 1 }}"}]},"paginationCompleteWhen":"other","completeExpression":"={{ $response.body.size === 0 }}"}}}},"id":"e374b5dc-e44d-4b77-baee-ac28fc5ed475","name":"Appointment Requests","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-1744,-112]},{"parameters":{"fieldToSplitOut":"response","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1040,-112],"id":"f78aa34f-f2bd-4e4b-a493-9fad37779cd5","name":"Split Out1"},{"parameters":{"mode":"json","options":{}},"name":"Loop Step (Process Item)","type":"n8n-nodes-base.set","typeVersion":3,"position":[-160,576],"id":"a447399c-dc5d-4bd1-ad8e-90da1fa9dd25","disabled":true},{"parameters":{"options":{"reset":true}},"name":"Split Loop (Split In Batches)","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-544,512],"id":"44583327-7cdc-48d6-a79e-f561f8ce5432","disabled":true},{"parameters":{"options":{}},"name":"Input Data (Array)","type":"n8n-nodes-base.set","typeVersion":3,"position":[-816,544],"id":"6b677f85-e013-48b6-82e8-67c48b4f4f0b","disabled":true},{"parameters":{"fieldToSplitOut":"={{ $('Appointment Requests').item.json.response }}","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1312,528],"id":"2932dbdd-6043-4b1d-ae28-a3f38e9e9de6","name":"Split Out","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"2571d0a4-0982-4685-a71a-8b31f5f65628","name":"response","value":"={{ $json.response.map( r => r._id) }}","type":"array"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1504,-112],"id":"b788deca-cae9-4874-adb5-92260ce6bd4c","name":"Edit Fields"},{"parameters":{"jsCode":"const combinedResponses = $input.all().reduce((acc, item) => {\n  // Check if 'response' exists and is an array before concatenating\n  if (item.json.response && Array.isArray(item.json.response)) {\n    return acc.concat(item.json.response);\n  }\n  return acc;\n}, []);\n\n// Return a single item with the combined array\nreturn [{\n  json: {\n    response: combinedResponses\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1280,-112],"id":"6f8dbbf1-f37d-478a-9be7-1f2bebdfaa2b","name":"Code in JavaScript"},{"parameters":{"dataTableId":{"__rl":true,"value":"k2C5OlBdz7Mq0v8p","mode":"list","cachedResultName":"processed_appointment_request_ids","cachedResultUrl":"/projects/Vpl3Dzdj01oU52k6/datatables/k2C5OlBdz7Mq0v8p"},"columns":{"mappingMode":"defineBelow","value":{"luma_id":"={{ $('If row does not exist').item.json.response }}","link":"={{ $json.message_url }}"},"matchingColumns":["luma_id"],"schema":[{"id":"luma_id","displayName":"luma_id","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"link","displayName":"link","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[32,-240],"id":"c962011a-b50b-467c-8c07-b6cf7ee35d75","name":"Insert row"},{"parameters":{"workflowId":{"__rl":true,"value":"XgV2hg4GBk525b9D","mode":"list","cachedResultUrl":"/workflow/XgV2hg4GBk525b9D","cachedResultName":"send message on teams"},"workflowInputs":{"mappingMode":"defineBelow","value":{"luma_patient_id":"={{ $json.patient }}","luma_form_id":"={{ $json._id }}","office":"={{ $json.answers.find(item => item.id === 'item-175701536912549863').answer }}","reason":"={{ $json.answers.find(item => item.id === 'item-175821359631732258').answer }}"},"matchingColumns":[],"schema":[{"id":"office","displayName":"office","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"luma_form_id","displayName":"luma_form_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"luma_patient_id","displayName":"luma_patient_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"reason","displayName":"reason","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-304,-432],"id":"78e097b1-76d6-4261-9f75-5db7ec72b347","name":"Call 'send message on teams'"},{"parameters":{"url":"=https://api.lumahealth.io/api/v2/patientForms/{{ $json.response }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"patientFormTemplate","value":"68b9cabf998c0695610b9186"},{"name":"_select","value":"createdAt,updatedAt,__v,currentItemId,calculationResult,finalDisposition,completedAt,offer,patientFormTemplateType,patientFormTemplateName,facilities,lumabot,prePopulatingStatus,status,processingStatus,_id,deleted,user,createdBy,updatedBy,patient,patientFormTemplate,answers"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Get Luma Token').first().json.access_token }}"}]},"options":{"response":{"response":{}}}},"id":"b3e25369-579e-479f-a206-fc69a90fdb45","name":"Get Appointment Request Detail","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-528,-304]},{"parameters":{"assignments":{"assignments":[{"id":"2571d0a4-0982-4685-a71a-8b31f5f65628","name":"tok","value":"={{ $json.access_token }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2048,-336],"id":"ed1c31af-6f40-49e9-8ac6-c0e7ec29809e","name":"Edit Fields1"},{"parameters":{"url":"https://api.lumahealth.io/api/v2/reports","authentication":"genericCredentialType","genericAuthType":"oAuth2Api","options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-2320,576],"id":"819f14f2-4afc-4769-9c14-2adc66597220","name":"HTTP Request","disabled":true},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":3}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2544,-208],"id":"6f273fe1-b8ff-49c7-a6ed-7981a47455a8","name":"Schedule Trigger"},{"parameters":{"operation":"rowNotExists","dataTableId":{"__rl":true,"value":"k2C5OlBdz7Mq0v8p","mode":"list","cachedResultName":"processed_appointment_request_ids","cachedResultUrl":"/projects/Vpl3Dzdj01oU52k6/datatables/k2C5OlBdz7Mq0v8p"},"filters":{"conditions":[{"keyName":"luma_id","keyValue":"={{ $json.luma_id }}"}]}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[-1360,192],"id":"426aac74-b0b6-4a25-96f7-fad7a445cadc","name":"If row does not exist1","disabled":true},{"parameters":{"dataTableId":{"__rl":true,"value":"k2C5OlBdz7Mq0v8p","mode":"list","cachedResultName":"processed_appointment_request_ids","cachedResultUrl":"/projects/Vpl3Dzdj01oU52k6/datatables/k2C5OlBdz7Mq0v8p"},"columns":{"mappingMode":"defineBelow","value":{"luma_id":"={{ $json.luma_id }}","link":"={{ $json.link }}"},"matchingColumns":[],"schema":[{"id":"luma_id","displayName":"luma_id","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"link","displayName":"link","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[-1088,192],"id":"7a8cabc0-ac0e-44f3-b084-7a56b45b7ac8","name":"Insert row1","disabled":true},{"parameters":{"content":"MANUAL MIGRATION","height":80},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2464,160],"id":"b57fdeed-d292-43a8-b045-9e9221ac3edb","name":"Sticky Note"},{"parameters":{"assignments":{"assignments":[{"id":"dde92c69-4fac-4fc9-829d-776d517904d6","name":"data","value":"={\n    \"data\": {\n        \"count\": 23,\n        \"data\": [\n            {\n                \"luma_id\": \"690988427748cb4bec37f9db\",\n                \"link\": \"https://teams.microsoft.com/l/message/19:cbb7c632b83d4255bc3d2da54d9aae22@thread.tacv2/1762383133899\",\n                \"id\": 1,\n                \"createdAt\": \"2025-11-05T22:52:18.403Z\",\n                \"updatedAt\": \"2025-11-05T22:52:18.403Z\"\n            },\n            {\n                \"luma_id\": \"690a08b57748cb4bec3e7d86\",\n                \"link\": \"https://teams.microsoft.com/l/message/19:cbb7c632b83d4255bc3d2da54d9aae22@thread.tacv2/1762383134423\",\n                \"id\": 2,\n                \"createdAt\": \"2025-11-05T22:52:18.403Z\",\n                \"updatedAt\": \"2025-11-05T22:52:18.403Z\"\n            },\n            {\n                \"luma_id\": \"690a1b9e4f2fe06f31d4bfe8\",\n                \"link\": \"https://teams.microsoft.com/l/message/19:cbb7c632b83d4255bc3d2da54d9aae22@thread.tacv2/1762383134977\",\n                \"id\": 3,\n                \"createdAt\": \"2025-11-05T22:52:18.404Z\",\n                \"updatedAt\": \"2025-11-05T22:52:18.404Z\"\n            },\n            {\n                \"luma_id\": \"690a1c65deb31702b59d5c31\",\n                \"link\": \"https://teams.microsoft.com/l/message/19:cbb7c632b83d4255bc3d2da54d9aae22@thread.tacv2/1762383135529\",\n                \"id\": 4,\n                \"createdAt\": \"2025-11-05T22:52:18.404Z\",\n                \"updatedAt\": \"2025-11-05T22:52:18.404Z\"\n            },\n            {\n                \"luma_id\": \"690a1cd904194181c4c2a6d4\",\n                \"link\": \"https://teams.microsoft.com/l/message/19:cbb7c632b83d4255bc3d2da54d9aae22@thread.tacv2/1762383136091\",\n                \"id\": 5,\n                \"createdAt\": \"2025-11-05T22:52:18.405Z\",\n                \"updatedAt\": \"2025-11-05T22:52:18.405Z\"\n            },\n            {\n                \"luma_id\": \"690a270d4f2fe06f31d775fc\",\n                \"link\": \"https://teams.microsoft.com/l/message/19:cbb7c632b83d4255bc3d2da54d9aae22@thread.tacv2/1762383136568\",\n                \"id\": 6,\n                \"createdAt\": \"2025-11-05T22:52:18.405Z\",\n                \"updatedAt\": \"2025-11-05T22:52:18.405Z\"\n            },\n            {\n                \"luma_id\": \"690a4e6f910f581eb6804e88\",\n                \"link\": \"https://teams.microsoft.com/l/message/19:cbb7c632b83d4255bc3d2da54d9aae22@thread.tacv2/1762383137074\",\n                \"id\": 7,\n                \"createdAt\": \"2025-11-05T22:52:18.405Z\",\n                \"updatedAt\": \"2025-11-05T22:52:18.405Z\"\n            },\n            {\n                \"luma_id\": \"690a640906d3c834f8a4c4f1\",\n                \"link\": \"https://teams.microsoft.com/l/message/19:cbb7c632b83d4255bc3d2da54d9aae22@thread.tacv2/1762383137645\",\n                \"id\": 8,\n                \"createdAt\": \"2025-11-05T22:52:18.406Z\",\n                \"updatedAt\": \"2025-11-05T22:52:18.406Z\"\n            },\n            {\n                \"luma_id\": \"690a644fbd4622acf7259a1c\",\n                \"link\": \"https://teams.microsoft.com/l/message/19:cbb7c632b83d4255bc3d2da54d9aae22@thread.tacv2/1762383138196\",\n                \"id\": 9,\n                \"createdAt\": \"2025-11-05T22:52:18.406Z\",\n                \"updatedAt\": \"2025-11-05T22:52:18.406Z\"\n            },\n            {\n                \"luma_id\": \"690cc88e5330d719af47a83d\",\n                \"link\": \"https://teams.microsoft.com/l/message/19:cbb7c632b83d4255bc3d2da54d9aae22@thread.tacv2/1762448418971\",\n                \"id\": 10,\n                \"createdAt\": \"2025-11-06T17:00:19.366Z\",\n                \"updatedAt\": \"2025-11-06T17:00:19.366Z\"\n            },\n            {\n                \"luma_id\": \"690cf914a8878a377bfb6133\",\n                \"link\": \"https://teams.microsoft.com/l/message/19:cbb7c632b83d4255bc3d2da54d9aae22@thread.tacv2/1762459221710\",\n                \"id\": 11,\n                \"createdAt\": \"2025-11-06T20:00:22.114Z\",\n                \"updatedAt\": \"2025-11-06T20:00:22.114Z\"\n            },\n            {\n                \"luma_id\": \"690d041bbf07233df99654c3\",\n                \"link\": \"https://teams.microsoft.com/l/message/19:cbb7c632b83d4255bc3d2da54d9aae22@thread.tacv2/1762470032690\",\n                \"id\": 12,\n                \"createdAt\": \"2025-11-06T23:00:35.741Z\",\n                \"updatedAt\": \"2025-11-06T23:00:35.741Z\"\n            },\n            {\n                \"luma_id\": \"690d1c404ebcb4c232fb802d\",\n                \"link\": \"https://teams.microsoft.com/l/message/19:cbb7c632b83d4255bc3d2da54d9aae22@thread.tacv2/1762470033322\",\n                \"id\": 13,\n                \"createdAt\": \"2025-11-06T23:00:35.741Z\",\n                \"updatedAt\": \"2025-11-06T23:00:35.741Z\"\n            },\n            {\n                \"luma_id\": \"690d1e3bc850d689a3ae6a18\",\n                \"link\": \"https://teams.microsoft.com/l/message/19:cbb7c632b83d4255bc3d2da54d9aae22@thread.tacv2/1762470033891\",\n                \"id\": 14,\n                \"createdAt\": \"2025-11-06T23:00:35.742Z\",\n                \"updatedAt\": \"2025-11-06T23:00:35.742Z\"\n            },\n            {\n                \"luma_id\": \"690d1edc09889f699ab1a849\",\n                \"link\": \"https://teams.microsoft.com/l/message/19:cbb7c632b83d4255bc3d2da54d9aae22@thread.tacv2/1762470035409\",\n                \"id\": 15,\n                \"createdAt\": \"2025-11-06T23:00:35.742Z\",\n                \"updatedAt\": \"2025-11-06T23:00:35.742Z\"\n            },\n            {\n                \"luma_id\": \"690d4335e520d70b46b00b4e\",\n                \"link\": \"https://teams.microsoft.com/l/message/19:cbb7c632b83d4255bc3d2da54d9aae22@thread.tacv2/1762480810586\",\n                \"id\": 16,\n                \"createdAt\": \"2025-11-07T02:00:10.808Z\",\n                \"updatedAt\": \"2025-11-07T02:00:10.808Z\"\n            },\n            {\n                \"luma_id\": \"690d71acc22216c44e51a439\",\n                \"link\": \"https://teams.microsoft.com/l/message/19:cbb7c632b83d4255bc3d2da54d9aae22@thread.tacv2/1762491610901\",\n                \"id\": 17,\n                \"createdAt\": \"2025-11-07T05:00:11.793Z\",\n                \"updatedAt\": \"2025-11-07T05:00:11.793Z\"\n            },\n            {\n                \"luma_id\": \"690d71fd5ce2b3edd9fdf310\",\n                \"link\": \"https://teams.microsoft.com/l/message/19:cbb7c632b83d4255bc3d2da54d9aae22@thread.tacv2/1762491611519\",\n                \"id\": 18,\n                \"createdAt\": \"2025-11-07T05:00:11.793Z\",\n                \"updatedAt\": \"2025-11-07T05:00:11.793Z\"\n            },\n            {\n                \"luma_id\": \"690e1f6f43ad056431d7d32a\",\n                \"link\": \"https://teams.microsoft.com/l/message/19:cbb7c632b83d4255bc3d2da54d9aae22@thread.tacv2/1762534816220\",\n                \"id\": 19,\n                \"createdAt\": \"2025-11-07T17:00:16.448Z\",\n                \"updatedAt\": \"2025-11-07T17:00:16.448Z\"\n            },\n            {\n                \"luma_id\": \"690e73edfc8db8dfcc4d463d\",\n                \"link\": \"https://teams.microsoft.com/l/message/19:cbb7c632b83d4255bc3d2da54d9aae22@thread.tacv2/1762556422609\",\n                \"id\": 20,\n                \"createdAt\": \"2025-11-07T23:00:22.936Z\",\n                \"updatedAt\": \"2025-11-07T23:00:22.936Z\"\n            },\n            {\n                \"luma_id\": \"690eae02e28ac7c31f991d85\",\n                \"link\": \"https://teams.microsoft.com/l/message/19:cbb7c632b83d4255bc3d2da54d9aae22@thread.tacv2/1762578010989\",\n                \"id\": 21,\n                \"createdAt\": \"2025-11-08T05:00:11.197Z\",\n                \"updatedAt\": \"2025-11-08T05:00:11.197Z\"\n            },\n            {\n                \"luma_id\": \"690ed0cbbf5d81b0702703c5\",\n                \"link\": \"https://teams.microsoft.com/l/message/19:cbb7c632b83d4255bc3d2da54d9aae22@thread.tacv2/1762588811207\",\n                \"id\": 22,\n                \"createdAt\": \"2025-11-08T08:00:11.469Z\",\n                \"updatedAt\": \"2025-11-08T08:00:11.469Z\"\n            },\n            {\n                \"luma_id\": \"690ff1ad3752f663da22ad12\",\n                \"link\": \"https://teams.microsoft.com/l/message/19:cbb7c632b83d4255bc3d2da54d9aae22@thread.tacv2/1762653611010\",\n                \"id\": 23,\n                \"createdAt\": \"2025-11-09T02:00:11.320Z\",\n                \"updatedAt\": \"2025-11-09T02:00:11.320Z\"\n            }\n        ]\n    }\n}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1920,176],"id":"817388c8-b279-4e7c-885d-7a2e753fb382","name":"Edit Fields2","disabled":true},{"parameters":{"fieldToSplitOut":"data.data.data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1648,192],"id":"e05f0137-0a07-4a5a-91a1-158381e288d9","name":"Split Out2","disabled":true},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2176,176],"id":"26a41b10-7bce-43ca-bb96-49f8c434ed2e","name":"When clicking ‘Execute workflow’","disabled":true},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"k2C5OlBdz7Mq0v8p","mode":"list","cachedResultName":"processed_appointment_request_ids","cachedResultUrl":"/projects/Vpl3Dzdj01oU52k6/datatables/k2C5OlBdz7Mq0v8p"},"returnAll":true},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[-1040,-288],"id":"ad765399-3f1e-4f1f-b727-587c272eead3","name":"Get row(s)"},{"parameters":{"operation":"executeQuery","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-880,-528],"id":"a67f8cd0-b1dd-4dcc-988e-29ce0fb0fda3","name":"Execute a SQL query","disabled":true},{"parameters":{"content":"consider: using \nSELECT luma_id FROM your_table WHERE luma_id = ANY($1)\n\nif execution time starts to get longer."},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1216,-544],"id":"cabedaef-4bdc-4eb1-bef2-45d113c9230d","name":"Sticky Note1"},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"luma_id","field2":"response"}]},"joinMode":"keepNonMatches","outputDataFrom":"input2","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-800,-288],"id":"84b8af6d-06ba-4a70-ab4f-9c2c55c1caec","name":"Where not in datatable"}],"connections":{"Get Luma Token":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Appointment Requests":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Get last run time":{"main":[[{"node":"Appointment Requests","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Where not in datatable","type":"main","index":1}]]},"Edit Fields":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Split Out1","type":"main","index":0},{"node":"Get row(s)","type":"main","index":0}]]},"Call 'send message on teams'":{"main":[[{"node":"Insert row","type":"main","index":0}]]},"Get Appointment Request Detail":{"main":[[{"node":"Call 'send message on teams'","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Get last run time","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get Luma Token","type":"main","index":0}]]},"If row does not exist1":{"main":[[{"node":"Insert row1","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Split Out2","type":"main","index":0}]]},"Split Out2":{"main":[[{"node":"If row does not exist1","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Get row(s)":{"main":[[{"node":"Where not in datatable","type":"main","index":0}]]},"Where not in datatable":{"main":[[{"node":"Get Appointment Request Detail","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[18]}},"meta":null,"pinData":{},"versionId":"fe5d4ce1-0574-436c-8f1c-e95fabacaa36","triggerCount":1,"shared":[{"updatedAt":"2025-11-08T23:46:10.879Z","createdAt":"2025-11-08T23:46:10.879Z","role":"workflow:owner","workflowId":"jZcThuML0i1hLHZP","projectId":"Vpl3Dzdj01oU52k6"}],"tags":[]}