MYPySuU6NhXCKaNW.json
{"updatedAt":"2025-11-20T03:22:55.550Z","createdAt":"2025-11-09T00:47:56.404Z","id":"MYPySuU6NhXCKaNW","name":"backup-to-github","active":true,"isArchived":false,"nodes":[{"parameters":{"jsCode":"const aggregateGitData = $(\"AggregateGitData\").first().json.data\n\nfor (const item of $input.all()) {\n\n  const gitItem = aggregateGitData.find(gitdata => gitdata.name === `${item.json.workflow.id}.json`)\n\n  if (!gitItem) continue\n  \n  item.json._git = {\n    \"filename_exists\": true,\n    \"size\": gitItem.size,\n    \"sha\": gitItem.sha\n  }\n}\n\nconsole.log($getWorkflowStaticData('global'))\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1216,160],"id":"987281e8-dcad-479c-8e8b-1a657d6ebc29","name":"add _git metadata to files existing on remote"},{"parameters":{"assignments":{"assignments":[{"id":"ed78069a-785e-45c1-8354-f2915cb9e1f8","name":"workflow","value":"={{ $json }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[960,160],"id":"675ac3a1-d3c1-4fc1-8f25-b60544e9ea71","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $json._git }}","rightValue":"true","operator":{"type":"object","operation":"exists","singleValue":true},"id":"feba190c-06a1-4dec-a462-feaa6c2bce9f"}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1456,160],"id":"d67ddf12-a497-4598-a06a-e48bf0f033ca","name":"if exists on remote"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"eissar","mode":"list","cachedResultName":"eissar","cachedResultUrl":"https://github.com/eissar"},"repository":{"__rl":true,"value":"cheap-ha-n8n-backup","mode":"list","cachedResultName":"cheap-ha-n8n-backup","cachedResultUrl":"https://github.com/eissar/cheap-ha-n8n-backup"},"filePath":"={{ $json.workflow.id }}.json","fileContent":"={{ $json.workflow.toJsonString() }}","commitMessage":"=create `{{ $json.workflow.name }}`","additionalParameters":{"author":{"name":"n8n","email":"automated@fake.email"}}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[2160,336],"id":"ae646369-41b2-4235-8816-22a7ec09f2b8","name":"Create a file1","webhookId":"86ecd7bc-138c-411b-a997-5e79b6119ae6","executeOnce":false,"credentials":{"githubApi":{"id":"xrIpHuwhghLCFfwG","name":"GitHub account"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[496,160],"id":"9288cc75-b68c-4c89-9095-80f10ff20c36","name":"AggregateGitData"},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"eissar","mode":"list","cachedResultName":"eissar","cachedResultUrl":"https://github.com/eissar"},"repository":{"__rl":true,"value":"cheap-ha-n8n-backup","mode":"list","cachedResultName":"cheap-ha-n8n-backup","cachedResultUrl":"https://github.com/eissar/cheap-ha-n8n-backup"}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[288,160],"id":"43c9d241-77ba-4fbd-9852-b16748117eec","name":"List files (once)","webhookId":"0bb76629-4b15-41d4-a901-496ec2744758","executeOnce":true,"credentials":{"githubApi":{"id":"xrIpHuwhghLCFfwG","name":"GitHub account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"c9933076-d271-44a4-b2c1-1fae9e472f31","leftValue":"={{ (\"blob \" + $json._git.size + \"\\u0000\" + $json.workflow.toJsonString()).hash('sha1', 'hex') }}","rightValue":"={{ $json._git.sha }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1824,144],"id":"8449f497-afaa-4ad2-894e-e4c7f7680bfc","name":"has file changed (check sha1)","notesInFlow":true,"notes":"if sha != calculated sha, file has changed"},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"eissar","mode":"list","cachedResultName":"eissar","cachedResultUrl":"https://github.com/eissar"},"repository":{"__rl":true,"value":"cheap-ha-n8n-backup","mode":"list","cachedResultName":"cheap-ha-n8n-backup","cachedResultUrl":"https://github.com/eissar/cheap-ha-n8n-backup"},"filePath":"={{ $json.workflow.id }}.json","fileContent":"={{ $json.workflow.toJsonString() }}","commitMessage":"=update `{{ $json.workflow.name }}`","additionalParameters":{"author":{"name":"n8n","email":"automated@fake.email"}}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[2160,128],"id":"6c366578-71ef-4c1e-9497-214ec504a7eb","name":"Update the file","webhookId":"abe57207-dcd3-474f-9e35-3f9290aa60ce","credentials":{"githubApi":{"id":"xrIpHuwhghLCFfwG","name":"GitHub account"}}},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[736,160],"id":"f446ac10-4042-443b-878c-8056ba2c4035","name":"Get many workflows","credentials":{"n8nApi":{"id":"oUkOtQHPMXqWakGv","name":"n8n account"}}},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":3,"triggerAtMinute":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"752f207e-c2c8-4201-8857-4dabf5f04b92","name":"Schedule Trigger"}],"connections":{"add _git metadata to files existing on remote":{"main":[[{"node":"if exists on remote","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"add _git metadata to files existing on remote","type":"main","index":0}]]},"if exists on remote":{"main":[[{"node":"has file changed (check sha1)","type":"main","index":0}],[{"node":"Create a file1","type":"main","index":0}]]},"AggregateGitData":{"main":[[{"node":"Get many workflows","type":"main","index":0}]]},"List files (once)":{"main":[[{"node":"AggregateGitData","type":"main","index":0}]]},"has file changed (check sha1)":{"main":[[{"node":"Update the file","type":"main","index":0}]]},"Get many workflows":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"List files (once)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[21]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4a3cdeb4-d8a4-405a-976c-0005d66c203a","triggerCount":1,"shared":[{"updatedAt":"2025-11-09T00:47:56.404Z","createdAt":"2025-11-09T00:47:56.404Z","role":"workflow:owner","workflowId":"MYPySuU6NhXCKaNW","projectId":"Vpl3Dzdj01oU52k6"}],"tags":[]}