NO3K59X1FwRC9i73.json
{"updatedAt":"2025-11-09T23:14:00.828Z","createdAt":"2025-11-09T22:42:49.009Z","id":"NO3K59X1FwRC9i73","name":"send a teams message asdfklajsd;lfas","active":false,"isArchived":true,"nodes":[{"parameters":{"resource":"chatMessage","chatId":{"__rl":true,"value":"19:cbb7c632b83d4255bc3d2da54d9aae22@thread.tacv2","mode":"id"},"contentType":"html","message":"=<div>\n  <div>\n    <h1>Appointment Created for {{ $json.office }}</h1>\n    <p>Appointment Type: {{ $json.appointment_type }}</p>\n    <p>Reason: {{ $json.reason }}</p>\n  </div>\n\n<div>\n    <a href=\"https://next.lumahealth.io/patients/{{ $json.luma_patient_id }}/formAnswers/{{ $json.luma_form_id }}\" \n      target=\"_blank\">\n      Review Patient Form Request\n    </a>\n    <br>\n    \n    <a href=\"https://next.lumahealth.io/patients/{{ $json.luma_patient_id }}/chat\" \n      target=\"_blank\">\n      Message the Patient\n    </a>\n  </div>\n  <p>Request Created at: {{ $json.createdAt }}</p>\n</div>\n","options":{"includeLinkToWorkflow":false}},"type":"n8n-nodes-base.microsoftTeams","typeVersion":2,"position":[256,128],"id":"0c69f4cc-c4ce-4801-a055-015198270495","name":"Create chat message","webhookId":"9057f9fd-48c5-4c47-983e-da8a4030decb","credentials":{"microsoftTeamsOAuth2Api":{"id":"RloQ5FvCKdFbluQ5","name":"Microsoft Teams account"}}},{"parameters":{"assignments":{"assignments":[{"id":"e792b82e-a9af-4ef2-a61c-9bdb40ac7eeb","name":"message_url","value":"=https://teams.microsoft.com/l/message/{{ $json.chatId }}/{{ $json.id }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[608,128],"id":"c653d0c5-8c33-4906-abfb-5d186103df95","name":"Edit Fields"},{"parameters":{"workflowInputs":{"values":[{"name":"office"},{"name":"luma_form_id"},{"name":"luma_patient_id"},{"name":"reason"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-256,128],"id":"65e2093c-8bce-4e97-9ff2-00578b2a04d9","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"e792b82e-a9af-4ef2-a61c-9bdb40ac7eeb","name":"reason","value":"={{ $json.reason || \"(No Reason Given)\" }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,0],"id":"986e470b-29b2-49b6-9987-74317b2f42f0","name":"ensure reason is not empty string"}],"connections":{"Create chat message":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"ensure reason is not empty string","type":"main","index":0}]]},"ensure reason is not empty string":{"main":[[{"node":"Create chat message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c05f9f0c-9fd9-4cc2-9b79-f8d20e2b973c","triggerCount":0,"shared":[{"updatedAt":"2025-11-09T22:42:49.009Z","createdAt":"2025-11-09T22:42:49.009Z","role":"workflow:owner","workflowId":"NO3K59X1FwRC9i73","projectId":"Vpl3Dzdj01oU52k6"}],"tags":[]}