OqO66a09t3MK02wn.json
{"updatedAt":"2025-11-10T01:03:00.070Z","createdAt":"2025-11-10T01:02:06.281Z","id":"OqO66a09t3MK02wn","name":"cognos_get-reports","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-528,416],"id":"6674fabe-30dc-4ce7-bb33-af8536c17103","name":"When clicking ‘Test workflow’"},{"parameters":{"url":"https://gaaaflebo.ecwcloud.com/bi/v1/disp/rds/auth/logon","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","options":{"response":{"response":{"fullResponse":true}}}},"id":"db6428a5-e83d-4eef-8aa8-babc9d4fe423","name":"Logon to Cognos1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-240,208],"credentials":{"httpQueryAuth":{"id":"4Rs9n2fu0AFZ4WWF","name":"Cognos xmlData"}}},{"parameters":{"assignments":{"assignments":[{"id":"1","name":"parsedCookies","value":"={{ (() => { const cookies = $('Logon to Cognos1').first().json.headers['set-cookie']; if (!cookies) return {}; const cookieMap = {}; cookies.forEach(c => { const [pair] = c.split(';'); const [key, val] = pair.split('='); cookieMap[key.trim()] = val; }); return cookieMap; })() }}","type":"object"},{"id":"2","name":"cookieHeader","value":"={{ (() => { const cookies = $('Logon to Cognos1').first().json.headers['set-cookie']; if (!cookies) return ''; return cookies.map(c => c.split(';')[0]).join('; '); })() }}","type":"string"}]},"options":{}},"name":"Parse Cookie Header Value2","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,0],"id":"69b91b2a-4b25-4509-a98f-d046412ff268"},{"parameters":{"url":"https://gaaaflebo.ecwcloud.com/bi/v1/disp/rds/wsil/path/Team Content/Cognos Reporting","sendQuery":true,"queryParameters":{"parameters":[{}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-XSRF-TOKEN","value":"={{ $json.parsedCookies['XSRF-TOKEN'] }}"},{"name":"Cookie","value":"={{ $json.cookieHeader }}"}]},"options":{"response":{"response":{"responseFormat":"text"}}}},"name":"Authenticated Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[368,320],"id":"0c522fd5-82fa-493e-a1b3-061605bf28a9"},{"parameters":{"options":{"ignoreAttrs":true}},"type":"n8n-nodes-base.xml","typeVersion":1,"position":[672,320],"id":"26837f0e-021f-4201-a818-8bee2aa35f91","name":"XML"},{"parameters":{"url":"https://gaaaflebo.ecwcloud.com:443/bi/v1/disp/rds/wsdl/path/Team Content/Cognos Reporting","sendQuery":true,"queryParameters":{"parameters":[{}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-XSRF-TOKEN","value":"={{ $json.parsedCookies['XSRF-TOKEN'] }}"},{"name":"Cookie","value":"={{ $json.cookieHeader }}"}]},"options":{"response":{"response":{"responseFormat":"text"}}}},"name":"Authenticated Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[400,48],"id":"493dc8da-b392-4464-91b8-cc806a1ec891","disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.xml","typeVersion":1,"position":[688,48],"id":"87e94a58-c399-4b29-9fa8-f53e8a48055f","name":"XML1","disabled":true}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Logon to Cognos1","type":"main","index":0}]]},"Logon to Cognos1":{"main":[[{"node":"Parse Cookie Header Value2","type":"main","index":0}]]},"Parse Cookie Header Value2":{"main":[[{"node":"Authenticated Request","type":"main","index":0},{"node":"Authenticated Request1","type":"main","index":0}]]},"Authenticated Request":{"main":[[{"node":"XML","type":"main","index":0}]]},"Authenticated Request1":{"main":[[{"node":"XML1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"6c5e6ee8-cdb6-417d-95eb-e9a67bf3c798","triggerCount":0,"shared":[{"updatedAt":"2025-11-10T01:02:06.281Z","createdAt":"2025-11-10T01:02:06.281Z","role":"workflow:owner","workflowId":"OqO66a09t3MK02wn","projectId":"Vpl3Dzdj01oU52k6"}],"tags":[]}