pdDrib3PfVBXiT4n.json
{"updatedAt":"2025-11-17T06:00:26.605Z","createdAt":"2025-11-17T05:51:12.176Z","id":"pdDrib3PfVBXiT4n","name":"get-luma-offers appointmentExternalId","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"https://api.lumahealth.io/api/v2/auth/token","authentication":"genericCredentialType","genericAuthType":"httpCustomAuth","options":{"response":{}}},"id":"6372617a-b8f5-4ae2-b820-77a27ccb0438","name":"Get Luma Token","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[256,0],"retryOnFail":true,"credentials":{"httpCustomAuth":{"id":"eMkdzXUFTdBTtFdI","name":"Custom Auth account"}}},{"parameters":{"jsCode":"// Get the last successful execution time\nconst lastRunTime = $workflow.lastSuccessfulExecutionTime;\n\nlet baseDate; // This will be a Date object\n\nif (lastRunTime) {\n  // It has run before, use that time\n  baseDate = new Date(lastRunTime);\n} else {\n  // This is the first run, fall back to 7 days ago\n  baseDate = new Date(); // Start with \"now\"\n  baseDate.setDate(baseDate.getDate() - 7);\n}\n\n// --- NEW STEP ---\n// Subtract one additional day for safety\nbaseDate.setDate(baseDate.getDate() - 1);\n// --- END NEW STEP ---\n\n// Convert the final date to an ISO string\nconst finalSinceTime = baseDate.toISOString();\n\n// Return a new object.\nreturn {\n  sinceTime: finalSinceTime\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[560,240],"id":"5954e4e4-b1d1-4899-9a7c-f4c1783e5dba","name":"Get last run time","notesInFlow":true,"notes":"-1 day for safety"},{"parameters":{"assignments":{"assignments":[{"id":"2571d0a4-0982-4685-a71a-8b31f5f65628","name":"tok","value":"={{ $json.access_token }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[512,0],"id":"cff69a3e-7c72-4b6e-b4eb-470cb15ece2b","name":"Edit Fields1"},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":2}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"a45e4c1f-2326-4d46-b64d-856d94474d50","name":"Schedule Trigger"},{"parameters":{"url":"https://api.lumahealth.io/api/v2/offers","sendQuery":true,"queryParameters":{"parameters":[{"name":"integratorCreationResults.status","value":"success"},{"name":"createdAt","value":"=>{{ $('Get last run time').item.json.sinceTime }}"},{"name":"_select","value":"appointmentExternalId.value,appointmentType,patientFound,patientForm,provider,facility,source,status,createdAt,date"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Get Luma Token').item.json.access_token }}"}]},"options":{"pagination":{"pagination":{"parameters":{"parameters":[{"name":"page","value":"={{ $pageCount + 1 }}"}]},"paginationCompleteWhen":"other","completeExpression":"={{ $response.body.size === 0 }}"}}}},"id":"cf92e9be-70f3-442a-82a2-365efaa218db","name":"Get Offers1","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[816,-48]},{"parameters":{"url":"https://api.lumahealth.io/api/v2/offers","sendQuery":true,"queryParameters":{"parameters":[{"name":"integratorCreationResults.status","value":"success"},{"name":"createdAt","value":"=>{{ $('Get last run time').item.json.sinceTime }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Get Luma Token').item.json.access_token }}"}]},"options":{"pagination":{"pagination":{"parameters":{"parameters":[{"name":"page","value":"={{ $pageCount + 1 }}"}]},"paginationCompleteWhen":"other","completeExpression":"={{ $response.body.size === 0 }}"}}}},"id":"de85ad5c-646a-40d1-adf2-c02e058a4afe","name":"Get Offers2","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[816,-384],"disabled":true},{"parameters":{"url":"https://api.lumahealth.io/api/v2/offers","sendQuery":true,"queryParameters":{"parameters":[{"name":"integratorCreationResults.status","value":"success"},{"name":"createdAt","value":"=>{{ $('Get last run time').item.json.sinceTime }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Get Luma Token').item.json.access_token }}"}]},"options":{"pagination":{"pagination":{"parameters":{"parameters":[{"name":"page","value":"={{ $pageCount + 1 }}"}]},"paginationCompleteWhen":"other","completeExpression":"={{ $response.body.size === 0 }}"}}}},"id":"d10f877a-1433-4959-bcf2-f0941112fd3d","name":"Get Offers3","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[592,-384],"disabled":true},{"parameters":{"content":"todo: add \nto _select:\nappointmentExternalId"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[560,-224],"id":"8dff72fc-96f4-4f1e-9a95-e03215bd2a4d","name":"Sticky Note"},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"luma_id","field2":"_id"}]},"joinMode":"keepNonMatches","outputDataFrom":"input2","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1600,-112],"id":"4f50687f-ad3c-4a65-8e6b-a74cdc598dd6","name":"Where not in datatable"},{"parameters":{"fieldToSplitOut":"response","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1296,-48],"id":"cf895bf8-460a-4a91-86fa-7d3184e68f54","name":"Split Out"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"UHlcTyojTiShHJ0s","mode":"list","cachedResultName":"luma-offers","cachedResultUrl":"/projects/Vpl3Dzdj01oU52k6/datatables/UHlcTyojTiShHJ0s"},"returnAll":true},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[1296,-240],"id":"49b7ef1c-6d89-4d37-ad97-9097f171ddd2","name":"Get row(s)","executeOnce":false,"retryOnFail":false},{"parameters":{"jsCode":"const combinedResponses = $input.all().reduce((acc, item) => {\n  // Check if 'response' exists and is an array before concatenating\n  if (item.json.response && Array.isArray(item.json.response)) {\n    return acc.concat(item.json.response);\n  }\n  return acc;\n}, []);\n\n// Return a single item with the combined array\nreturn [{\n  json: {\n    response: combinedResponses\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1040,-48],"id":"68b35508-ea2c-4eca-a885-9e7361e7134d","name":"Get Combined Response Object"},{"parameters":{"url":"https://api.lumahealth.io/api/v2/offers","sendQuery":true,"queryParameters":{"parameters":[{"name":"integratorCreationResults","value":"success"},{"name":"status","value":"completed"},{"name":"_select","value":"offer"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Get Luma Token').item.json.access_token }}"}]},"options":{"pagination":{"pagination":{"parameters":{"parameters":[{"name":"page","value":"={{ $pageCount + 1 }}"}]},"paginationCompleteWhen":"other","completeExpression":"={{ $response.body.size === 0 }}"}}}},"id":"b70f80c2-288f-4836-b668-45c0acdec989","name":"Get Offers","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[880,288],"disabled":true},{"parameters":{"jsCode":"const providerMap = [\n    {\n        \"id\": \"6542a4269a22b10c5ff473fc\",\n        \"name\": \"Beena Mathai, APRN\"\n    },\n    {\n        \"id\": \"6542a4269a22b10c5ff473f7\",\n        \"name\": \"Cameron Alder, APRN\"\n    },\n    {\n        \"id\": \"6542a4239a22b10c5ff4721e\",\n        \"name\": \"Enrique J. Ortiz Guzman, MD\"\n    },\n    {\n        \"id\": \"6542a4239a22b10c5ff47239\",\n        \"name\": \"Provider,Migration\"\n    },\n    {\n        \"id\": \"6542a4239a22b10c5ff47230\",\n        \"name\": \"Rachel Myers, ARNP\"\n    },\n    {\n        \"id\": \"6542a4229a22b10c5ff4721b\",\n        \"name\": \"Rekha Issar, MD\"\n    },\n    {\n        \"id\": \"6542a4239a22b10c5ff47233\",\n        \"name\": \"Ruth Gobourne, ARNP\"\n    },\n    {\n        \"id\": \"6542a4239a22b10c5ff47224\",\n        \"name\": \"Saira Naseer, MD\"\n    },\n    {\n        \"id\": \"6542a4239a22b10c5ff47251\",\n        \"name\": \"Williamson Jean, PA\"\n    }\n]\n\nconst facilityMap = [\n    {\n        \"id\": \"6544489907d42600b100d14b\",\n        \"name\": \"98 North Office\"\n    },\n    {\n        \"id\": \"6544489907d42600b100d14d\",\n        \"name\": \"Auburndale Office\"\n    },\n    {\n        \"id\": \"6544489907d42600b100d14f\",\n        \"name\": \"Bartow Office\"\n    },\n    {\n        \"id\": \"6544489907d42600b100d151\",\n        \"name\": \"Haines City Office\"\n    },\n    {\n        \"id\": \"6544489907d42600b100d155\",\n        \"name\": \"South Office\"\n    },\n    {\n        \"id\": \"6544489907d42600b100d157\",\n        \"name\": \"Urgent Care 98 N\"\n    },\n    {\n        \"id\": \"6544489907d42600b100d159\",\n        \"name\": \"Urgent Care Bartow\"\n    },\n    {\n        \"id\": \"6544489907d42600b100d15b\",\n        \"name\": \"Urgent Care Haines City\"\n    },\n    {\n        \"id\": \"6544489907d42600b100d15d\",\n        \"name\": \"Urgent Care Winter Haven\"\n    },\n    {\n        \"id\": \"6544489907d42600b100d15f\",\n        \"name\": \"Winter Haven Office\"\n    }\n]\nconst appointmentTypeMap = [\n    {\n        \"id\": \"6542a42b9a22b10c5ff475d0\",\n        \"name\": \"Annual Well Visit\"\n    },\n    {\n        \"id\": \"6542a42b9a22b10c5ff475dc\",\n        \"name\": \"Care Management\"\n    },\n    {\n        \"id\": \"6542a42b9a22b10c5ff475c7\",\n        \"name\": \"Established Patient\"\n    },\n    {\n        \"id\": \"6542a42b9a22b10c5ff475af\",\n        \"name\": \"Hospital F/U\"\n    },\n    {\n        \"id\": \"6542a42b9a22b10c5ff475bb\",\n        \"name\": \"Lab Follow/Up\"\n    },\n    {\n        \"id\": \"6542a42b9a22b10c5ff475b5\",\n        \"name\": \"New Patient\"\n    },\n    {\n        \"id\": \"6542a4319a22b10c5ff47788\",\n        \"name\": \"PC Same Day Acute\"\n    },\n    {\n        \"id\": \"6542a4329a22b10c5ff477b8\",\n        \"name\": \"School/Sports Physcial\"\n    },\n    {\n        \"id\": \"6542a4329a22b10c5ff477ca\",\n        \"name\": \"Telehealth Visit\"\n    },\n    {\n        \"id\": \"6542a4329a22b10c5ff477bc\",\n        \"name\": \"Urgent Care Visit\"\n    },\n    {\n        \"id\": \"6542a4339a22b10c5ff477e0\",\n        \"name\": \"Virtual Visit\"\n    },\n    {\n        \"id\": \"6542a4369a22b10c5ff47878\",\n        \"name\": \"Weight Management Visit\"\n    }\n]\n\nfor (const item of $input.all()) {\n  item.json.provider = providerMap.find(p => p.id === item.json.provider)?.name || \"(Unknown Provider)\"\n  item.json.facility = facilityMap.find(p => p.id === item.json.facility)?.name || \"(Unknown Facility)\"\n  item.json.appointmentType = item.json.appointmentType.map(appt_type => {\n        return appointmentTypeMap.find(p => p.id === appt_type)?.name || \"(Unknown Appointment Type)\"\n    }\n  ).join(', ')\n  item.json.date = DateTime.fromISO(item.json.date).setZone('America/New_York').toFormat(\"ccc, MM/dd/yyyy 'at' h:mm a ZZZZ\")\n\n}\n\nreturn $input.all()"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1824,-112],"id":"46a0ef83-f75d-494e-b672-d7ce578569bc","name":"Map ids to variables"},{"parameters":{"resource":"chatMessage","chatId":{"__rl":true,"value":"19:cbb7c632b83d4255bc3d2da54d9aae22@thread.tacv2","mode":"id"},"contentType":"html","message":"=<div>\n  <div>\n    <h1>Appointment Created for {{ $json.facility }} </h1>\n    <p>When: {{ $json.date }}\n    <p>Provider: {{ $json.provider }}</p>\n    <p>Type: {{ $json.appointmentType }}</p>\n  </div>\n\n<div>\n    <a href=\"https://next.lumahealth.io/patients/{{ $json.patientFound }}/formAnswers/{{ $json.patientForm }}\" \n      target=\"_blank\">\n      Review Patient Form Request\n    </a>\n    <br>\n    \n    <a href=\"https://next.lumahealth.io/patients/{{ $json.patientFound }}/chat\" \n      target=\"_blank\">\n      Message the Patient\n    </a>\n  </div>\n  <p>Request Created at: {{ $json.createdAt }}</p>\n  <p>source={{ $json.source}};status={{ $json.status }}</p>\n</div>\n","options":{"includeLinkToWorkflow":false}},"type":"n8n-nodes-base.microsoftTeams","typeVersion":2,"position":[2080,-224],"id":"9a818dda-8d88-4a0b-a7a8-efc5ff198bf1","name":"Create chat message","webhookId":"af52f083-1d00-4aab-b6db-7c68d7a29b68","credentials":{"microsoftTeamsOAuth2Api":{"id":"RloQ5FvCKdFbluQ5","name":"Microsoft Teams account"}}},{"parameters":{"dataTableId":{"__rl":true,"value":"UHlcTyojTiShHJ0s","mode":"list","cachedResultName":"luma-offers","cachedResultUrl":"/projects/Vpl3Dzdj01oU52k6/datatables/UHlcTyojTiShHJ0s"},"columns":{"mappingMode":"defineBelow","value":{"luma_id":"={{ $('Map ids to variables').item.json._id }}","patient_id":"={{ $('Map ids to variables').item.json.patientFound }}"},"matchingColumns":["luma_id"],"schema":[{"id":"luma_id","displayName":"luma_id","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"patient_id","displayName":"patient_id","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[2272,-64],"id":"ece18876-6f87-4f85-a7c0-73f945a0d409","name":"Insert row"}],"connections":{"Get Luma Token":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Get last run time":{"main":[[{"node":"Get Offers1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Get last run time","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get Luma Token","type":"main","index":0}]]},"Get Offers1":{"main":[[{"node":"Get Combined Response Object","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Where not in datatable","type":"main","index":1}]]},"Where not in datatable":{"main":[[{"node":"Map ids to variables","type":"main","index":0}]]},"Get row(s)":{"main":[[{"node":"Where not in datatable","type":"main","index":0}]]},"Get Combined Response Object":{"main":[[{"node":"Split Out","type":"main","index":0},{"node":"Get row(s)","type":"main","index":0}]]},"Create chat message":{"main":[[{"node":"Insert row","type":"main","index":0}]]},"Map ids to variables":{"main":[[{"node":"Create chat message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[0]}},"meta":null,"pinData":{"Get Offers3":[{"json":{"size":11,"response":[{"_id":"690ff24a76e626c387a63774","deleted":0,"user":"65205cd4afd3600015bf2d50","createdBy":"65205cd4afd3600015bf2d50","updatedBy":"65205cd4afd3600015bf2d50","provider":"6542a4239a22b10c5ff47230","facility":"6544489907d42600b100d14b","date":"2025-11-11T18:30:00.000Z","duration":30,"waitlists":["690ff24a76e626c387a6376e"],"appointmentType":["6542a42b9a22b10c5ff475b5"],"source":"self-scheduling","status":"patient-found","currentWaitlist":0,"expireAt":"2025-11-09T02:15:46.205Z","patientFoundAt":"2025-11-09T01:45:46.199Z","patientFound":"65de09f922ef9800b08a3c02","estimatedCompletionAt":"2025-11-09T02:15:46.205Z","availability":"68eed02924eb25c9e86c6091","protocol":"serial","patientForm":"690ff1ad3752f663da22ad12","patientFormTemplate":"68b9cabf998c0695610b9186","bookRealTime":false,"insuranceVerificationIds":[],"integratorCreationResults":{"status":"success"},"createdAt":"2025-11-09T01:45:46.206Z","updatedAt":"2025-11-09T11:06:30.397Z","__v":0,"appointmentExternalId":{"source":"eclinicalworks10e","value":"1330177"},"usedForAppointment":"691075b46a24b28c1f62bec5"},{"_id":"690ed16e871ee1e6a3a0440b","deleted":0,"user":"65205cd4afd3600015bf2d50","createdBy":"65205cd4afd3600015bf2d50","updatedBy":"65205cd4afd3600015bf2d50","provider":"6542a4239a22b10c5ff47251","facility":"6544489907d42600b100d14d","date":"2025-11-10T21:00:00.000Z","duration":30,"waitlists":["690ed16e871ee1e6a3a04405"],"appointmentType":["6542a42b9a22b10c5ff475b5"],"source":"self-scheduling","status":"patient-found","currentWaitlist":0,"expireAt":"2025-11-08T05:43:18.552Z","patientFoundAt":"2025-11-08T05:13:18.546Z","patientFound":"690ed103155931696de51a60","estimatedCompletionAt":"2025-11-08T05:43:18.552Z","availability":"68f6b24020e8b7644bb92172","protocol":"serial","patientForm":"690ed0cbbf5d81b0702703c5","patientFormTemplate":"68b9cabf998c0695610b9186","bookRealTime":false,"insuranceVerificationIds":[],"integratorCreationResults":{"status":"success"},"createdAt":"2025-11-08T05:13:18.552Z","updatedAt":"2025-11-08T11:32:11.777Z","__v":0,"appointmentExternalId":{"source":"eclinicalworks10e","value":"1330124"},"usedForAppointment":"690f2a3b444c67ca4fa6f78c"},{"_id":"690e200e43ad056431d7fdaa","deleted":0,"user":"65205cd4afd3600015bf2d50","createdBy":"65205cd4afd3600015bf2d50","updatedBy":"65205cd4afd3600015bf2d50","provider":"6542a4239a22b10c5ff47230","facility":"6544489907d42600b100d14b","date":"2025-11-11T20:00:00.000Z","duration":30,"waitlists":["690e200e43ad056431d7fd9a"],"appointmentType":["6542a42b9a22b10c5ff475b5"],"source":"self-scheduling","status":"patient-found","currentWaitlist":0,"expireAt":"2025-11-07T17:06:30.078Z","patientFoundAt":"2025-11-07T16:36:30.074Z","patientFound":"690e1f97fc8db8dfcc3cb580","estimatedCompletionAt":"2025-11-07T17:06:30.078Z","availability":"68eed02924eb25c9e86c60a4","protocol":"serial","patientForm":"690e1f6f43ad056431d7d32a","patientFormTemplate":"68b9cabf998c0695610b9186","bookRealTime":false,"insuranceVerificationIds":[],"integratorCreationResults":{"status":"success"},"createdAt":"2025-11-07T16:36:30.079Z","updatedAt":"2025-11-07T16:36:39.143Z","__v":0},{"_id":"690d1cad66dab6817048d405","deleted":0,"user":"65205cd4afd3600015bf2d50","createdBy":"65205cd4afd3600015bf2d50","updatedBy":"65205cd4afd3600015bf2d50","provider":"6542a4239a22b10c5ff4721e","facility":"6544489907d42600b100d151","date":"2025-11-10T19:30:00.000Z","duration":30,"waitlists":["690d1cad66dab6817048d3fc"],"appointmentType":["6542a42b9a22b10c5ff475b5"],"source":"self-scheduling","status":"patient-found","currentWaitlist":0,"expireAt":"2025-11-06T22:39:49.565Z","patientFoundAt":"2025-11-06T22:09:49.560Z","patientFound":"690d1c6eb627e5f087b2f556","estimatedCompletionAt":"2025-11-06T22:39:49.565Z","availability":"690ccec2f22e0e883c8881ae","protocol":"serial","patientForm":"690d1c404ebcb4c232fb802d","patientFormTemplate":"68b9cabf998c0695610b9186","bookRealTime":false,"insuranceVerificationIds":[],"integratorCreationResults":{"status":"success"},"createdAt":"2025-11-06T22:09:49.565Z","updatedAt":"2025-11-06T22:22:41.511Z","__v":0,"appointmentExternalId":{"source":"eclinicalworks10e","value":"1329782"},"usedForAppointment":"690d1fb18422421e40b16a3a"},{"_id":"690d048909889f699aac5fce","deleted":0,"user":"65205cd4afd3600015bf2d50","createdBy":"65205cd4afd3600015bf2d50","updatedBy":"65205cd4afd3600015bf2d50","provider":"6542a4239a22b10c5ff47251","facility":"6544489907d42600b100d14d","date":"2025-11-07T16:00:00.000Z","duration":30,"waitlists":["690d048909889f699aac5fac"],"appointmentType":["6542a42b9a22b10c5ff475b5"],"source":"self-scheduling","status":"patient-found","currentWaitlist":0,"expireAt":"2025-11-06T20:56:49.769Z","patientFoundAt":"2025-11-06T20:26:49.765Z","patientFound":"690d04324c2b3f8d36e92e0d","estimatedCompletionAt":"2025-11-06T20:56:49.769Z","availability":"68f2c281755e93a3dac43db2","protocol":"serial","patientForm":"690d041bbf07233df99654c3","patientFormTemplate":"68b9cabf998c0695610b9186","bookRealTime":false,"insuranceVerificationIds":[],"integratorCreationResults":{"status":"success"},"createdAt":"2025-11-06T20:26:49.770Z","updatedAt":"2025-11-06T20:26:57.332Z","__v":0},{"_id":"690bb8da774d1b4435cda460","deleted":0,"user":"65205cd4afd3600015bf2d50","createdBy":"65205cd4afd3600015bf2d50","updatedBy":"65205cd4afd3600015bf2d50","provider":"6542a4239a22b10c5ff47233","facility":"6544489907d42600b100d155","date":"2025-11-12T19:45:00.000Z","duration":15,"waitlists":["690bb8da774d1b4435cda45a"],"appointmentType":["6542a42b9a22b10c5ff475c7"],"source":"reschedule","status":"patient-found","currentWaitlist":0,"expireAt":"2025-11-05T21:21:38.055Z","patientFoundAt":"2025-11-05T20:51:38.050Z","patientFound":"68f6a5b73fa367e6c71cdf26","estimatedCompletionAt":"2025-11-05T21:21:38.055Z","availability":"68f0c8e46b64c21a6c33b42c","protocol":"serial","rescheduledFromAppointment":"69027781ed4fbff2ab051d4b","bookRealTime":false,"insuranceVerificationIds":[],"integratorCreationResults":{"status":"success"},"createdAt":"2025-11-05T20:51:38.056Z","updatedAt":"2025-11-05T21:02:24.143Z","__v":0,"appointmentExternalId":{"source":"eclinicalworks10e","value":"1329388"},"usedForAppointment":"690bbb5ffa14099fed0d570a"},{"_id":"690a64c0e26764b1cd251ca4","deleted":0,"user":"65205cd4afd3600015bf2d50","createdBy":"65205cd4afd3600015bf2d50","updatedBy":"65205cd4afd3600015bf2d50","provider":"6542a4239a22b10c5ff47251","facility":"6544489907d42600b100d14d","date":"2025-11-06T20:30:00.000Z","duration":30,"waitlists":["690a64c0e26764b1cd251c90"],"appointmentType":["6542a42b9a22b10c5ff475b5"],"source":"self-scheduling","status":"patient-found","currentWaitlist":0,"expireAt":"2025-11-04T21:10:32.253Z","patientFoundAt":"2025-11-04T20:40:32.248Z","patientFound":"690a641ad90e425fa2fe4c17","estimatedCompletionAt":"2025-11-04T21:10:32.253Z","availability":"68f16920653c73781d56ce60","protocol":"serial","patientForm":"690a644fbd4622acf7259a1c","patientFormTemplate":"68b9cabf998c0695610b9186","bookRealTime":false,"insuranceVerificationIds":[],"integratorCreationResults":{"status":"success"},"createdAt":"2025-11-04T20:40:32.253Z","updatedAt":"2025-11-04T20:43:40.009Z","__v":0,"appointmentExternalId":{"source":"eclinicalworks10e","value":"1329009"},"usedForAppointment":"690a657ba3b81027aeed7d6f"},{"_id":"690a2841761a3f4af0dd26d3","deleted":0,"user":"65205cd4afd3600015bf2d50","createdBy":"65205cd4afd3600015bf2d50","updatedBy":"65205cd4afd3600015bf2d50","provider":"6542a4239a22b10c5ff47224","facility":"6544489907d42600b100d14b","date":"2025-11-11T15:30:00.000Z","duration":30,"waitlists":["690a2841761a3f4af0dd26cd"],"appointmentType":["6542a42b9a22b10c5ff475b5"],"source":"self-scheduling","status":"patient-found","currentWaitlist":0,"expireAt":"2025-11-04T16:52:25.484Z","patientFoundAt":"2025-11-04T16:22:25.479Z","patientFound":"690a272f784484ed5efb0ed6","estimatedCompletionAt":"2025-11-04T16:52:25.484Z","availability":"68eed02824eb25c9e86c6032","protocol":"serial","patientForm":"690a270d4f2fe06f31d775fc","patientFormTemplate":"68b9cabf998c0695610b9186","bookRealTime":false,"insuranceVerificationIds":[],"integratorCreationResults":{"status":"success"},"createdAt":"2025-11-04T16:22:25.485Z","updatedAt":"2025-11-04T16:40:10.444Z","__v":0,"appointmentExternalId":{"source":"eclinicalworks10e","value":"1328860"},"usedForAppointment":"690a2c6aac3fa4f79dc0308b"},{"_id":"6909a8e4a6e778b77a2c5182","deleted":0,"user":"65205cd4afd3600015bf2d50","createdBy":"65205cd4afd3600015bf2d50","updatedBy":"65205cd4afd3600015bf2d50","provider":"6542a4239a22b10c5ff47233","facility":"6544489907d42600b100d155","date":"2025-11-06T16:45:00.000Z","duration":15,"waitlists":["6909a8e3a6e778b77a2c517c"],"appointmentType":["6542a42b9a22b10c5ff475c7"],"source":"reschedule","status":"patient-found","currentWaitlist":0,"expireAt":"2025-11-04T07:49:00.039Z","patientFoundAt":"2025-11-04T07:19:00.031Z","patientFound":"656a55eb4150c500b0af76c7","estimatedCompletionAt":"2025-11-04T07:49:00.039Z","availability":"68f16920653c73781d56cde1","protocol":"serial","rescheduledFromAppointment":"6904db57b11abdbd70a8b003","bookRealTime":false,"insuranceVerificationIds":[],"integratorCreationResults":{"status":"success"},"createdAt":"2025-11-04T07:19:00.039Z","updatedAt":"2025-11-04T11:04:34.323Z","__v":0,"appointmentExternalId":{"source":"eclinicalworks10e","value":"1328661"},"usedForAppointment":"6909ddc241fa954d09c8b861"},{"_id":"690988e7a6e778b77a2b8d19","deleted":0,"user":"65205cd4afd3600015bf2d50","createdBy":"65205cd4afd3600015bf2d50","updatedBy":"65205cd4afd3600015bf2d50","provider":"6542a4239a22b10c5ff47233","facility":"6544489907d42600b100d155","date":"2025-11-20T21:00:00.000Z","duration":30,"waitlists":["690988e7a6e778b77a2b8d13"],"appointmentType":["6542a42b9a22b10c5ff475b5"],"source":"self-scheduling","status":"patient-found","currentWaitlist":0,"expireAt":"2025-11-04T05:32:31.346Z","patientFoundAt":"2025-11-04T05:02:31.339Z","patientFound":"69098854ace1ab05f1681861","estimatedCompletionAt":"2025-11-04T05:32:31.346Z","availability":"68f17521e94804b6c33c8433","protocol":"serial","patientForm":"690988427748cb4bec37f9db","patientFormTemplate":"68b9cabf998c0695610b9186","bookRealTime":false,"insuranceVerificationIds":[],"integratorCreationResults":{"status":"success"},"createdAt":"2025-11-04T05:02:31.346Z","updatedAt":"2025-11-04T05:02:37.613Z","__v":0},{"_id":"6906ac269be4af5e4a487ad2","deleted":0,"user":"65205cd4afd3600015bf2d50","createdBy":"65205cd4afd3600015bf2d50","updatedBy":"65205cd4afd3600015bf2d50","provider":"6542a4239a22b10c5ff47230","facility":"6544489907d42600b100d14b","date":"2025-11-05T16:30:00.000Z","duration":15,"waitlists":["6906ac269be4af5e4a487acc"],"appointmentType":["6542a4329a22b10c5ff477ca"],"source":"reschedule","status":"patient-found","currentWaitlist":0,"expireAt":"2025-11-02T01:26:06.160Z","patientFoundAt":"2025-11-02T00:56:06.155Z","patientFound":"6564d67068eccb00af2bfa1e","estimatedCompletionAt":"2025-11-02T01:26:06.160Z","availability":"68f02ef4eb1de7efbc76f6ac","protocol":"serial","rescheduledFromAppointment":"6891f42f9510e0ee50c938c1","bookRealTime":false,"insuranceVerificationIds":[],"integratorCreationResults":{"status":"success"},"createdAt":"2025-11-02T00:56:06.160Z","updatedAt":"2025-11-02T11:07:03.086Z","__v":0,"appointmentExternalId":{"source":"eclinicalworks10e","value":"1328154"},"usedForAppointment":"69073b56937ee9c8e31ae045"}]}},{"json":{"size":0,"response":[]}}]},"versionId":"c5fbd717-237c-4557-84e2-944cd9d75f7e","triggerCount":1,"shared":[{"updatedAt":"2025-11-17T05:51:12.176Z","createdAt":"2025-11-17T05:51:12.176Z","role":"workflow:owner","workflowId":"pdDrib3PfVBXiT4n","projectId":"Vpl3Dzdj01oU52k6"}],"tags":[]}