v1PShEKJoW6ihmLY.json
{"updatedAt":"2025-11-13T17:57:58.566Z","createdAt":"2025-11-13T16:48:00.272Z","id":"v1PShEKJoW6ihmLY","name":"cognos_get-encounter_by-id","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-544,48],"id":"76cba1b7-3302-4c15-b150-18c847d4adfe","name":"When clicking ‘Test workflow’"},{"parameters":{"url":"https://gaaaflebo.ecwcloud.com/bi/v1/disp/rds/reportData/report/iE3F153814C6443A68AFBF3B6D3F3212B","sendQuery":true,"queryParameters":{"parameters":[{"name":"fmt","value":"CSV"},{"name":"p_encounterIDs","value":"1331277"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-XSRF-TOKEN","value":"={{ $json.parsedCookies['XSRF-TOKEN'] }}"},{"name":"Cookie","value":"={{ $json.cookieHeader }}"}]},"options":{"response":{"response":{"responseFormat":"file"}}}},"name":"Authenticated Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[432,64],"id":"59e71102-d0f9-4ef2-a15a-7289803d9076"},{"parameters":{"url":"https://gaaaflebo.ecwcloud.com/bi/v1/disp/rds/auth/logon","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","options":{"response":{"response":{"fullResponse":true}}}},"id":"08d55771-742b-4896-967c-d86eee11deb9","name":"Logon to Cognos1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-256,-160],"credentials":{"httpQueryAuth":{"id":"4Rs9n2fu0AFZ4WWF","name":"Cognos xmlData"}}},{"parameters":{"assignments":{"assignments":[{"id":"1","name":"parsedCookies","value":"={{ (() => { const cookies = $('Logon to Cognos1').first().json.headers['set-cookie']; if (!cookies) return {}; const cookieMap = {}; cookies.forEach(c => { const [pair] = c.split(';'); const [key, val] = pair.split('='); cookieMap[key.trim()] = val; }); return cookieMap; })() }}","type":"object"},{"id":"2","name":"cookieHeader","value":"={{ (() => { const cookies = $('Logon to Cognos1').first().json.headers['set-cookie']; if (!cookies) return ''; return cookies.map(c => c.split(';')[0]).join('; '); })() }}","type":"string"}]},"options":{}},"name":"Parse Cookie Header Value2","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[112,-160],"id":"d759c421-442b-4253-9d82-feda703ce3bc"},{"parameters":{"url":"https://gaaaflebo.ecwcloud.com/bi/","sendQuery":true,"queryParameters":{"parameters":[{"name":"fmt","value":"CSV"},{"name":"id","value":"i97EF5B8A0DCD4688B029D067B10DE811"},{"name":"objRef","value":"i97EF5B8A0DCD4688B029D067B10DE811"},{"name":"action","value":"run"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-XSRF-TOKEN","value":"={{ $json.parsedCookies['XSRF-TOKEN'] }}"},{"name":"Cookie","value":"={{ $json.cookieHeader }}"}]},"options":{"response":{"response":{"responseFormat":"text"}}}},"name":"Authenticated Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[448,-128],"id":"519f801b-bf44-4495-8289-5483971a9db9","disabled":true},{"parameters":{"options":{"delimiter":"={{ String.fromCodePoint(9) }}"}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[640,64],"id":"dc3e857b-4814-42ee-88b6-4672013b83d6","name":"tsv to json"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Logon to Cognos1","type":"main","index":0}]]},"Authenticated Request":{"main":[[{"node":"tsv to json","type":"main","index":0}]]},"Logon to Cognos1":{"main":[[{"node":"Parse Cookie Header Value2","type":"main","index":0}]]},"Parse Cookie Header Value2":{"main":[[{"node":"Authenticated Request","type":"main","index":0},{"node":"Authenticated Request1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"4a9c672a-6d1c-4edd-b4ea-d5aa382faac4","triggerCount":0,"shared":[{"updatedAt":"2025-11-13T16:48:00.272Z","createdAt":"2025-11-13T16:48:00.272Z","role":"workflow:owner","workflowId":"v1PShEKJoW6ihmLY","projectId":"Vpl3Dzdj01oU52k6"}],"tags":[]}